<div class="row m-0 justify-content-center">
    <app-steps class="col-12 p-0" step="3" totalSteps="3"></app-steps>
</div>
<div class="row m-0 justify-content-center">
    <div class="col-11 col-lg-8 mt-3">
        <div class="micro-controls">
            <ul class="micro-group ul-lang">
                <li [class.active]="infoMessageLang == 'ESP'" class="micro-group-item" (click)="setMessage('ESP')">ESP
                </li>
                <li [class.active]="infoMessageLang == 'ENG'" class="micro-group-item" (click)="setMessage('ENG')">ENG
                </li>
            </ul>
        </div>
        <p *ngIf="infoMessageLang == 'ESP'" class="text-justify text-small text-info">
            Hey! Te recordamos que el convertidor de divisas te muestra una idea APROXIMADA sobre el tipo de cambio. El
            cobro del regalo se hará en <b>pesos Mexicanos</b> y la conversión dependerá del tipo de cambio que
            establezca cada institución bancaria.
        </p>
        <p *ngIf="infoMessageLang == 'ENG'" class="text-justify text-small text-info">
            Hey! The currency converter is only to give an APPROXIMATE idea of ​​the exchange rate. The payment of the
            gift will be reflected in <b>Mexican Pesos</b> and will depend on the exchange rate defined by each Banking
            institution
        </p>
    </div>
</div>
<div class="row m-t-50" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-3 hidden-mobile">
        &nbsp;
    </div>
    <div class="col-12 col-md-6">
        <div class="row m-0 p-0 shadow-sm rounded" style="background-color:#FEF2F1;margin-left: 0px;margin-right: 0px;">
            <div class="col-4 m-0 p-3" [ngStyle]="{'border-right': isDisabled ? '0px solid' : '1px solid #888888' }">
                <p *ngIf="!isDisabled" class="txt-uniko m-0 p-0">{{ formatPrice(subtotal) | currency }}</p>
                <p *ngIf="!isDisabled" class="m-0 p-0" style="font-weight:600; font-size:13px;">
                    {{ 'subtotal' | uppercase }}</p>
            </div>
            <div class="col-4 m-0 p-3" [ngStyle]="{'border-right': isDisabled ? '0px solid' : '1px solid #888888' }">
                <p *ngIf="!isDisabled" class="txt-uniko m-0 p-0">{{ formatPrice(totalComission) | currency }}</p>
                <p *ngIf="!isDisabled" class="m-0 p-0" style="font-weight:600; font-size:13px;">
                    {{ 'comisión bancaria' | uppercase }}
                    <i class="fas fa-info-circle txt-uniko ml-2"
                        matTooltip="La comisión es el costo adicional al realizar pagos en línea de VISA, MASTERCARD, AMEX y OXXO y es establecida por los procesadores de pago Conekta, PayPal y PayPal Plus."></i>
                </p>
                <p *ngIf="isDisabled" class="txt-uniko m-0 p-0 text-center" style="font-weight: 600; font-size: 18px;">
                    {{ formatPrice(totalComission + subtotal) | currency }} {{ currency }} </p>
                <p *ngIf="isDisabled" class="m-0 p-0 text-center" style="font-weight:600; font-size:13px;">
                    {{ 'total' | uppercase }}</p>
            </div>
            <div class="col-4 m-0 p-3">
                <p *ngIf="!isDisabled" class="txt-uniko m-0 p-0" style="font-weight: 600; font-size: 18px;">
                    {{ formatPrice(totalComission + subtotal) | currency }} {{ currency }}</p>
                <p *ngIf="!isDisabled" class="m-0 p-0" style="font-weight:600; font-size:13px;">
                    {{ 'total' | uppercase }}</p>
            </div>
        </div>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-12 m-0 p-0">
        <p class="p-0 m-0 mb-2 mt-3 txt-uniko" style="font-size: 14px; text-align: center; font-weight:700;">Elige tu
            método de pago</p>
    </div>
    <div class="col-2 m-0 p-0">&nbsp;</div>
    <div class="col-xs-12 col-md-8 col-lg-8 m-0 p-0">

        <mat-radio-group class="" name="type" [(ngModel)]="type">
            <table class="table">
                <tbody>
                    <tr>
                        <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;"
                            *ngFor="let method of methods">
                            <img *ngIf="method === 'card'" src="./../../assets/img/tarCredit.jpg" alt="">
                            <img *ngIf="method === 'paypal'" src="./../../assets/img/payPal.jpg" alt="">
                            <img *ngIf="method === 'paypal-plus'" src="./../../assets/img/payPalP.jpg" alt="">
                            <img *ngIf="method === 'oxxo'" src="./../../assets/img/oxxo.jpg" alt="">
                            <img *ngIf="method === 'spei'" src="./../../assets/img/spe.jpg" alt="">
                            <img *ngIf="method === 'rappi'" style="width: 90px;" src="./../../assets/img/rappi3.png"
                                alt="">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;"
                            *ngFor="let _method of methods">
                            <mat-radio-button name="type" (click)="changeMethod(_method)" [checked]="_method == type"
                                [value]="_method"></mat-radio-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-radio-group>
    </div>

</div>

<router-outlet></router-outlet>