body .mat-menu-content:not(:empty) {
    padding: 0px;
}

.userIco {
    font-size: 12px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 50%;
    /*margin-right: 10px;*/
}

.nav-item {
    margin-right: 10px;
}

.p-t-8 {
    padding-top: 8px;
}

.txtGris {
    color: #D8D8D8;
}
.dropdown-item {
    font-family: 'Montserrat', sans-serif !important;
    font-style: initial;
    &.active {
        color: white !important;
        background: #fc7667;
    }
}
.w-100-l {
    width: 100%;
    text-align: left;
}
.m-r-10 {
    margin-right: 10px;
}
.btn-mobile {
    border: 0px;
    outline: 0px !important;
    width: 100%;
    text-align: left;
    background: white;
    font-size: 14pt;
}
.left {
    position: absolute;
    right: 0;
}
.paddingPrin {
    padding: .5rem 6rem !important;
}

.drowp {
    &:hover {
        .dropsub {
            margin: 0 !important;
            display: block !important;
        }
    }
}
.mg-menu {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.m-content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 3px;
    // padding-bottom: 50px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.nav-menu a {
    color: #444444;
    font-size: 9pt;
    font-weight: 400;
    &.active {
        color: #fc7667;
    }
}

.p-t-12 {
    padding-top: 12px;
}
@media only screen and (max-width:370px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .paddingHeader {
        padding: 0px 20px !important;
        padding-right: 5px !important;
    }
    .margenB0 {
        margin-bottom: 0px !important;
    }
    .anchoCompleto {
        width: 100% !important;
        position: fixed !important;
        z-index: 999999;
    }
    .paddingPrin {
        padding: .5rem 1rem !important;
    }
}

:host {
    .color-b {
        color: black;
        font-size: 14pt;
    }
    .menu-white {
        display: none;
    }
    @media screen and (max-width: 500px) {
        .menu-white {
            position: fixed !important;
            width: 100%;
            top: 0px;
            background: white;
            z-index: 99999;
            height: -webkit-fill-available;
            padding-top: 20px;
            display: block;
        }    
    }
}