<nav class="navbar navbar-light bg-white m-conten">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/img/uniko.png" class="d-inline-block align-top" alt="" style="height:30px;">
    </a>
    <i (click)="isOpen = true" class="material-icons show-mobile">
        dehaze
    </i>
    <ul class="nav justify-content-center hidden-mobile">
        <li class="nav-item nav-menu p-t-8">
            <a class="nav-link" href="/gift-table" routerlink="/site" routerlinkactive="active">
                Mesa de regalos
            </a>
        </li>
        <li class="nav-item nav-menu p-t-8">
            <a class="nav-link" href="/site" routerlink="/site" routerlinkactive="active">
                Nuestro sitio
            </a>
        </li>
        <li class="nav-item nav-menu p-t-8" routerlinkactive="active">
            <a class="nav-link" href="/save-date" routerlink="/save-date" routerlinkactive="active">
                Save the date
            </a>
        </li>
        <li class="nav-item nav-menu dropdown drowp p-t-8">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" (click)="go($event)"
                routerlinkactive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wedding Tools
                <div class="dropdown-menu dropsub" style="right: 0 !important;left: initial"
                    aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" routerLink="/tools/guest">Confirmación de invitados</a>
                    <a class="dropdown-item" routerLink="/tools/domain">Solicitud de dominio</a> -->
                    <a class="dropdown-item" (click)="goUrl($event, 'GUEST_CONFIRMATION')">Confirmación de invitados</a>
                    <a class="dropdown-item" (click)="goUrl($event, 'TICKET')">Solicitud de dominio</a>
                </div>
            </a>
        </li>
        <i class="nav-item nav-menu  dropdown drowp">
            <button class="nav-link " style="border:0px; outline:0px !important; font-size: 14px;background: white;">
                <i class="fas fa-user-alt bg-uniko userIco"></i> {{ getTitle() }}
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu dropsub" style="right: 0 !important;left: initial"
                aria-labelledby="navbarDropdown">
                <a routerLink="/profile/datos-generales" routerLinkActive="active" class="dropdown-item">Nuestros
                    datos</a>
                <a class="dropdown-item" routerLink="/profile/regalos-recibidos" routerLinkActive="active">Regalos
                    recibidos</a>
                <a class="dropdown-item" routerLink="/profile/retiro-fondos" routerLinkActive="active">Retiro de
                    fondos</a>
                <a class="dropdown-item" routerLink="/profile/recomendar-amigo" routerLinkActive="active">Recomendar a
                    un amigo</a>
                <a class="dropdown-item" routerLink="/profile/planes" routerLinkActive="active">Cuenta</a>
                <a class="dropdown-item" (click)="logout($event)">Cerrar sesión</a>
            </div>
        </i>
    </ul>
</nav>
<div class="menu-white" *ngIf="isOpen">
    <nav class="navbar navbar-light bg-white m-content">
        <a class="navbar-brand" href="#" style="padding-left: 15px;">
            <img src="./../../../assets/img/logo.png" width="120" height="30" alt="">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <button (click)="isOpen = false" class="btn my-2 my-sm-0" type="button">
                <i class="material-icons">
                    clear
                </i>
            </button>
        </form>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" (click)="isOpen = false" routerLink="/dashboard" class="nav-link color-b">Dashboard</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" (click)="isOpen = false" routerLink="/gift-table" class="nav-link color-b">Mesa de regalos</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" (click)="isOpen = false" routerLink="/site" class="nav-link color-b">Nuestro sitio</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" (click)="isOpen = false" routerLink="/save-date" class="nav-link color-b">Save the date</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content mg-menu">
        <i class="nav-item nav-menu  dropdown drowp w-100-l" (click)="openWedding = !openWedding">
            <button class="nav-link w-100-l">
                Wedding Tools
                <i class="fas fa-angle-down left"></i>
            </button>
        </i>
        <div class="" style="right: 0 !important;left: initial" *ngIf="openWedding">
            <!-- <a class="dropdown-item" routerLink="/tools/guest">Confirmación de invitados</a>
                <a class="dropdown-item" routerLink="/tools/domain">Solicitud de dominio</a> -->
            <a (click)="isOpen = false" class="dropdown-item" (click)="goUrl($event, 'GUEST_CONFIRMATION')">Confirmación
                de invitados</a>
            <a (click)="isOpen = false" class="dropdown-item" (click)="goUrl($event, 'TICKET')">Solicitud de dominio</a>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <i class="nav-item nav-menu  dropdown drowp w-100-l" (click)="openProfile = !openProfile">
            <button class="nav-link btn-mobile">
                <i class="fas fa-user-alt bg-uniko userIco m-r-10"></i> {{ getTitle() }}
                <i class="fas fa-angle-down left"></i>
            </button>
        </i>
        <div class="" style="right: 0 !important;left: initial" *ngIf="openProfile">
            <a (click)="isOpen = false" routerLink="/profile/datos-generales" routerLinkActive="active"
                class="dropdown-item">Nuestros datos</a>
            <a (click)="isOpen = false" class="dropdown-item" routerLink="/profile/regalos-recibidos"
                routerLinkActive="active">Regalos recibidos</a>
            <a (click)="isOpen = false" class="dropdown-item" routerLink="/profile/retiro-fondos"
                routerLinkActive="active">Retiro de fondos</a>
            <a (click)="isOpen = false" class="dropdown-item" routerLink="/profile/recomendar-amigo"
                routerLinkActive="active">Recomendar a un amigo</a>
            <a (click)="isOpen = false" class="dropdown-item" routerLink="/profile/planes"
                routerLinkActive="active">Cuenta</a>
            <a (click)="isOpen = false" class="dropdown-item" (click)="logout($event)">Cerrar sesión</a>
        </div>
    </nav>
</div>
<app-header-action *ngIf="buttons.length" [class.w-100]="!showMenu" [buttons]="buttons"
    style="top:49px; position: initial; z-index: 1030;"></app-header-action>