<app-header-guest class="w-100" style="position: fixed; top:0px; z-index:9999999;"></app-header-guest>
<div class="card text-white rounded-0" style="background-color:#000000;">
    <img src="./../../assets/img/imgPrinNovios.jpg" style="opacity:.7;" class="card-img" alt="imgPrinNovios">
    <div class="card-img-overlay row">
        <div class="col-3" style="height:200px;">&nbsp;</div>
        <div class="text-center col-6" style="height:auto; margin:auto;">
            <p class="m-0 p-0 mb-2" style="letter-spacing:5px; font-size:12px;">NUESTRA BODA</p>
            <h1 class="m-0 p-0" style="font-weight:700; font-size:3.5rem;">{{ 'Magda & Lucas' }}</h1>
            <h5 class="m-0 p-0 mt-4" style="letter-spacing:10px;">{{ '12.abril.2019' | uppercase }}</h5>
            <p class="m-0 p-0 mt-3" style="font-size:14px; font-weight:700;">{{ 'cdmx' | uppercase }}</p>
        </div>
        <div class="col-3" style="height:200px;">&nbsp;</div>
    </div>
</div>
<app-datos-evento></app-datos-evento>
<app-historia></app-historia>
<app-hoteles></app-hoteles>
<app-guest-gift-table></app-guest-gift-table>
<app-galeria></app-galeria>
<app-guest-faqs></app-guest-faqs>
<app-footer></app-footer>
