body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFBFA;
}

.menuPerfil {
    list-style: none;
}
.opacity {
    opacity: 0.4;
}
.opacityAll {
    opacity: 0;
}
.content-background-canvas{
    position: relative;
    .background-ornate{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .content{
        position: relative;
    }
}

.forcedContainer{    
    margin: 0 auto;
    overflow: auto;
    &:not(.forceMobile){
        width: 1024px; 
        max-width: unset;          
        .image-desing{
            min-width: unset;
            max-height: unset;
            background-position: center;
        }
        .pseudo-col{
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .pseudo-col-2{
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
    }
    &.forceMobile{
        width: 425px;        
        .pseudo-col,.pseudo-col-2{
            flex: 0 0 100%;
            max-width: 100%;        
        }
        .image-desing{
            max-height: 400px;
            min-height: 400px;
            background-position: center;
        }
    }
}

.mobile-preview,.desktop-preview{
    text-align: center;
    span{
        display: block;
    }
    img{
        max-width: 100%;
    }
}

.h-100 {
    height:  87% !important;
    @media screen and (max-width: 500px) {
        height: 50% !important;
    }
}
.image-desing {
    background-size:cover; 
    background-position: center; 
    background-repeat:no-repeat; 
    width:100%; 
    height: 100vh;
    height:100%;
    @media screen and (max-width: 500px) {
        max-height: 400px;
        min-height: 400px;
        background-position: center; 
    }
}

.menuPerfil li {
    padding: 10px 0px;
    margin-left: -40px;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    padding-right: 50px !important;
}

.menuPerfil li:hover {
    color: #fc7667;
    opacity: .6;
    font-weight: 700 !important;
    i {
        float: right;
        padding-top: 4px;
        display: block !important;
    }
}

.sublimazum{
    position: relative;
    overflow: hidden;
    margin-top: 1rem; 
    @media screen and (max-width: 500px) {
        margin-top: 0; 
    }
    .sublimazum-mera{
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid  #fc7667;
        @media screen and (max-width: 500px) {
            display: none;
        }
        &:before{
            content: "";
            position: absolute;
            opacity: 1;
            width: 75%;
            background-color: white;
            height: 110%;
            top: -5%;
            left: 50%;
            /* border-top: 2px solid white; */
            /* border-bottom: 2px solid white; */
            transform: translateX(-50%);
        }
        &:after{
            content: "";
            position: absolute;
            opacity: 1;
            width: 110%;
            background-color: white;
            height: 75%;
            top: 50%;
            left: -5%;
            /* border-top: 2px solid white; */
            /* border-bottom: 2px solid white; */
            transform: translateY(-50%);
        }
    }
    .sublimazum-content{
        padding: 1rem 1rem 1rem 1rem;
        @media screen and (max-width: 500px) {
            padding: 0 0 4rem 0;
        }
    }
}

.menuPerfilActivo {
    font-weight: 700 !important;
    color: #fc7667;
}

.menuPerfilActivo i {
    float: right;
    padding-top: 4px;
    display: block !important;
}

.editarArt {
    position: absolute;
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 0px;
    top: 0px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
    z-index: 99;
    @media screen and (max-width: 500px) {
        right: 45%;
    }
}

//-------------- estilo 1 -----------------------
.titulo1 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.nombres1 {
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    color: #fc7667;
    text-transform: capitalize;
}

.apafecha1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.fecha1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.lugar1 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #fc7667;
    text-transform: uppercase;
}

.breveDescrip1 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.descripcion1 {
    text-align: center;
    font-size: 16px;
    width: 80%;
}

//-------------- estilo 2 -----------------------
.titulo2 {
    text-align: center;
    font-size: 70px;
    font-family: 'Damion', cursive !important;
    text-transform: capitalize;
    @media screen and (max-width: 500px) {
        font-size: 60px;
    }
}

.nombres2 {
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    color: #c5a939;
    @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.apafecha2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.fecha2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Damion', cursive !important;
    text-transform: capitalize;
}

.lugar2 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #c5a939;
    text-transform: uppercase;
}

.breveDescrip2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.descripcion2 {
    text-align: center;
    font-size: 16px;
    width: 80%;
    text-transform: uppercase;
}

//-------------- estilo 3 -----------------------
.titulo3 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f9e9cd;
}

.nombres3 {
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Sofia', cursive;
    color: #7c5033;
}

.apafecha3 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f9e9cd;
}

.fecha3 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: #7c5033;
    font-family: 'Sofia', cursive;
    text-transform: capitalize;
}

.lugar3 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f9e9cd;
}

.breveDescrip3 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #7c5033;
}

.descripcion3 {
    text-align: center;
    font-size: 16px;
    width: 80%;
    text-transform: uppercase;
    color: #7c5033;
}

//-------------- estilo 4 -----------------------
.titulo4 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Cardo', serif;
    font-style: italic;
    color: #b1b0d5;
}

.nombres4 {
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
    color: #FFFFFF;
}

.apafecha4 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
    font-family: 'Cardo', serif;
    color: #b1b0d5;
}

.fecha4 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: 'Cardo', serif;
    text-transform: capitalize;
}

.lugar4 {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Cardo', serif;
    font-style: italic;
    color: #b1b0d5;
}

.breveDescrip4 {
    text-align: center;
    font-size: 16px;
    font-family: 'Cardo', serif;
    color: #FFFFFF;
}

.descripcion4 {
    text-align: center;
    font-size: 16px;
    width: 80%;
    font-family: 'Cardo', serif;
    color: #FFFFFF;
}

//-------------- estilo 5 -----------------------
.titulo5 {
    text-align: center;
    font-size: 100px;
    text-transform: lowercase;
    color: #ba2c68;
    font-family: 'Norican', cursive;
    line-height: 70px;
    margin: 40px auto;
    width: 60%;
}

.titulo5::first-letter {
    text-transform: uppercase;
}

.nombres5 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ba2c68;
    text-transform: lowercase;
}

.apafecha5 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 16px;
    color: #342f77;
    text-transform: capitalize;
}

.fecha5 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #ba2c68;
}

.lugar5 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #342f77;
    text-transform: capitalize;
}

.breveDescrip5 {
    text-align: center;
    font-size: 16px;
    color: #342f77;
    text-transform: capitalize;
}

.descripcion5 {
    text-align: center;
    font-size: 16px;
    color: #342f77;
    width: 80%;
}