<app-header [buttons]="buttons" *ngIf="!previw"></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 sublimazum p-0">
        <div class="sublimazum-mera"></div>
        <div class="sublimazum-content">
            <div class="content-edit" id="screen">
                <div class="row m-0">
                  <div class="col-12 col-md-5 m-0 p-0">
                    <div 
                        class="image-desing"
                        [ngStyle]="{'background-image': 'url('+cover+')'}"
                    >
                    <i class="fas fa-pen editarArt" ignoreElements="true" data-html2canvas-ignore="true" (click)="onUpload($event, 'profile')"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-7 m-0 p-0" >
                    <div class="content-background-canvas" [style.background-color]="background">
                      <i ignoreElements="true" data-html2canvas-ignore="true" class="fas fa-pen editarArt" (click)="editarCont()"></i>                      
                      <div class="opacity background-ornate"
                      [ngStyle]="
                        {
                          'background-image': 'url(./../../../assets/img/templates/detail/'+img+')',
                          'background-repeat': 'no-repeat',
                          'background-size': '100% 100%'
                        }
                      "
                      ></div>
                      <div class="content">
                        <p 
                        class="pointer"
                        [ngStyle]=" {
                          'text-align': templateObj?.title.textAlign,
                          'color': templateObj?.title.color,
                          'font-family': templateObj?.title.fontFamily,
                          'font-weight': templateObj?.title.fontWeight,
                          'font-size': templateObj?.title.fontSize,
                          'text-transform': templateObj?.title.textTransform,
                          'font-style': templateObj?.title.fontStyle,
                          'letter-spacing': templateObj?.title.latterSpace
                        }" 
                        >{{ templateObj?.title.text }}</p>
                        <h1
                        class="pointer"
                        [ngStyle]=" {
                          'text-align': templateObj?.nametitle.textAlign,
                          'color': templateObj?.nametitle.color,
                          'font-family': templateObj?.nametitle.fontFamily,
                          'font-weight': templateObj?.nametitle.fontWeight,
                          'font-size': templateObj?.nametitle.fontSize,
                          'text-transform': templateObj?.nametitle.textTransform,
                          'font-style': templateObj?.nametitle.fontStyle,
                          'letter-spacing': templateObj?.nametitle.latterSpace
                        }"
                        [class.selected]="templateObj?.select == 'nametitle'"
                        >{{ templateObj?.nametitle.text }}</h1>
                        <p class="mt-5 mb-3 pointer" 
                        [ngStyle]=" {
                          'text-align': templateObj?.titleDate.textAlign,
                          'color': templateObj?.titleDate.color,
                          'font-family': templateObj?.titleDate.fontFamily,
                          'font-weight': templateObj?.titleDate.fontWeight,
                          'font-size': templateObj?.titleDate.fontSize,
                          'text-transform': templateObj?.titleDate.textTransform,
                          'font-style': templateObj?.titleDate.fontStyle,
                          'letter-spacing': templateObj?.titleDate.latterSpace
                        }"
                        >{{ templateObj?.titleDate.text }}</p>
                        <h1 
                        class="pointer"
                        [ngStyle]=" {
                          'text-align': templateObj?.date.textAlign,
                          'color': templateObj?.date.color,
                          'font-family': templateObj?.date.fontFamily,
                          'font-weight': templateObj?.date.fontWeight,
                          'font-size': templateObj?.date.fontSize,
                          'text-transform': templateObj?.date.textTransform,
                          'font-style': templateObj?.date.fontStyle,
                          'letter-spacing': templateObj?.date.latterSpace
                        }"
                        >{{ templateObj?.date.text }}</h1>
                        <p class="m-0 p-0 mt-4 mb-5 pointer" 
                        [ngStyle]=" {
                          'text-align': templateObj?.titleDescription.textAlign,
                          'color': templateObj?.titleDescription.color,
                          'font-family': templateObj?.titleDescription.fontFamily,
                          'font-weight': templateObj?.titleDescription.fontWeight,
                          'font-size': templateObj?.titleDescription.fontSize,
                          'text-transform': templateObj?.titleDescription.textTransform,
                          'font-style': templateObj?.titleDescription.fontStyle,
                          'letter-spacing': templateObj?.titleDescription.latterSpace
                        }"
                        >{{ templateObj?.titleDescription.text }}</p>
                        <!-- <p class="m-0 p-0 mt-4"
                        >Breve descripción</p> -->
                        <p 
                          class="m-0 mx-auto p-0 pointer" 
                          style="width:80%;"
                          [ngStyle]=" {
                            'text-align': templateObj?.description.textAlign,
                            'color': templateObj?.description.color,
                            'font-family': templateObj?.description.fontFamily,
                            'font-weight': templateObj?.description.fontWeight,
                            'font-size': templateObj?.description.fontSize,
                            'text-transform': templateObj?.description.textTransform,
                            'font-style': templateObj?.description.fontStyle,
                            'letter-spacing': templateObj?.description.latterSpace
                          }"
                        >
                        {{ templateObj?.description.text }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<input type="file" id="profile" (change)="upload($event, 'profile')" style="display: none;"> 

<app-modal [(isOpen)]="isOpen" [isButtonShow]="!imageChooser" [noPadding]="true" [textButton]="'Descargar'" [large]="true" (onClosed)="onClose()" (onAction)="screen()">
    <div class="row m-0 pb-4" style="overflow: auto;">
      <div class="col-12" *ngIf="imageChooser">
        <div class="row m-0">
          <div class="col-12 col-md-6 desktop-preview">
            <button class="btn" (click)="executeorder66('desktop')">
              <span class="txt-uniko">Descarga para escritorio</span>
              <img class="img-responsive" src="../../../assets/img/templateDesktop.png">
            </button>
          </div>
          <div class="col-12 col-md-6 mobile-preview">
              <button class="btn" (click)="executeorder66('mobile')">
                <span class="txt-uniko">Descarga para mobile</span>
                <img class="img-responsive" src="../../../assets/img/templateMobile.png">
              </button>
          </div>
        </div>
      </div>
      <div class="col-auto forcedContainer" [class.forceMobile]="order66" *ngIf="!imageChooser">
          <div class="content-edit" id="pseudo-screen">
              <div class="row m-0">
                <div class="pseudo-col m-0 p-0">
                  <div 
                      class="image-desing"
                      [ngStyle]="{'background-image': 'url('+cover+')'}"
                  >
                  </div>
                </div>
                <div class="pseudo-col-2 m-0 p-0" >
                  <div class="content-background-canvas" [style.background-color]="background">                                            
                    <div class="opacity background-ornate"
                    [ngStyle]="
                      {
                        'background-image': 'url(./../../../assets/img/templates/detail/'+img+')',
                        'background-repeat': 'no-repeat',
                        'background-size': '100% 100%'
                      }
                    "
                    ></div>
                    <div class="content">
                      <p 
                      class="pointer"
                      [ngStyle]=" {
                        'text-align': templateObj?.title.textAlign,
                        'color': templateObj?.title.color,
                        'font-family': templateObj?.title.fontFamily,
                        'font-weight': templateObj?.title.fontWeight,
                        'font-size': templateObj?.title.fontSize,
                        'text-transform': templateObj?.title.textTransform,
                        'font-style': templateObj?.title.fontStyle,
                        'letter-spacing': templateObj?.title.latterSpace
                      }" 
                      >{{ templateObj?.title.text }}</p>
                      <h1
                      class="pointer"
                      [ngStyle]=" {
                        'text-align': templateObj?.nametitle.textAlign,
                        'color': templateObj?.nametitle.color,
                        'font-family': templateObj?.nametitle.fontFamily,
                        'font-weight': templateObj?.nametitle.fontWeight,
                        'font-size': templateObj?.nametitle.fontSize,
                        'text-transform': templateObj?.nametitle.textTransform,
                        'font-style': templateObj?.nametitle.fontStyle,
                        'letter-spacing': templateObj?.nametitle.latterSpace
                      }"
                      [class.selected]="templateObj?.select == 'nametitle'"
                      >{{ templateObj?.nametitle.text }}</h1>
                      <p class="mt-5 mb-3 pointer" 
                      [ngStyle]=" {
                        'text-align': templateObj?.titleDate.textAlign,
                        'color': templateObj?.titleDate.color,
                        'font-family': templateObj?.titleDate.fontFamily,
                        'font-weight': templateObj?.titleDate.fontWeight,
                        'font-size': templateObj?.titleDate.fontSize,
                        'text-transform': templateObj?.titleDate.textTransform,
                        'font-style': templateObj?.titleDate.fontStyle,
                        'letter-spacing': templateObj?.titleDate.latterSpace
                      }"
                      >{{ templateObj?.titleDate.text }}</p>
                      <h1 
                      class="pointer"
                      [ngStyle]=" {
                        'text-align': templateObj?.date.textAlign,
                        'color': templateObj?.date.color,
                        'font-family': templateObj?.date.fontFamily,
                        'font-weight': templateObj?.date.fontWeight,
                        'font-size': templateObj?.date.fontSize,
                        'text-transform': templateObj?.date.textTransform,
                        'font-style': templateObj?.date.fontStyle,
                        'letter-spacing': templateObj?.date.latterSpace
                      }"
                      >{{ templateObj?.date.text }}</h1>
                      <p class="m-0 p-0 mt-4 mb-5 pointer" 
                      [ngStyle]=" {
                        'text-align': templateObj?.titleDescription.textAlign,
                        'color': templateObj?.titleDescription.color,
                        'font-family': templateObj?.titleDescription.fontFamily,
                        'font-weight': templateObj?.titleDescription.fontWeight,
                        'font-size': templateObj?.titleDescription.fontSize,
                        'text-transform': templateObj?.titleDescription.textTransform,
                        'font-style': templateObj?.titleDescription.fontStyle,
                        'letter-spacing': templateObj?.titleDescription.latterSpace
                      }"
                      >{{ templateObj?.titleDescription.text }}</p>
                      <!-- <p class="m-0 p-0 mt-4"
                      >Breve descripción</p> -->
                      <p 
                        class="m-0 mx-auto p-0 pointer" 
                        style="width:80%;"
                        [ngStyle]=" {
                          'text-align': templateObj?.description.textAlign,
                          'color': templateObj?.description.color,
                          'font-family': templateObj?.description.fontFamily,
                          'font-weight': templateObj?.description.fontWeight,
                          'font-size': templateObj?.description.fontSize,
                          'text-transform': templateObj?.description.textTransform,
                          'font-style': templateObj?.description.fontStyle,
                          'letter-spacing': templateObj?.description.latterSpace
                        }"
                      >
                      {{ templateObj?.description.text }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>      
    </div>
</app-modal>

<app-modal [(isOpen)]="isOpenImg" [textButton]="'Guardar'" (onClosed)="isOpenImg=false;" (onAction)="uploadCoverPhoto()">
    <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 2"
    [resizeToWidth]="450"
    [resizeToHeight]='550'
    [cropperMinWidth]="450"
    [cropperMinHeight]="550"

    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
</app-modal>

<app-modal 
 [(isOpen)]="isOpenShare"
 [small]="true"
 [isButtonShow]="isOpenShare"
 (onClosed)="onCloseShare()">
 <app-share [customUrl]="'save-date'"></app-share>
</app-modal>