:host {
    .text-small{
        font-size: 0.8em;
    }
    .text-micro{
        font-size: 0.6em;
    }
    .text-div {
        position: absolute;
        display: block;
        left: 49%;
        padding-top: 32px;
        font-weight: 600;
        @media screen and (max-width: 500px) {
            display: none;
        }
    }
    .progressbar {
        counter-reset: step;
    }
    
    .progressbar li {
        list-style-type: none;
        float: left;
        width: 33.33%;
        position: relative;
        text-align: center;
        font-weight: 600;
    }
    
    .progressbar li:before {
        /* CSS for creating steper block before the li item*/
        //content: counter(step);
        //counter-increment: step;
        content: '';
        height: 12px;
        width: 12px;
        line-height: 12px;
        border: 2px solid #ffcfca;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    
    .progressbar li:after {
        /* CSS for creating horizontal line*/
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ddd;
        top: 5px;
        left: -50%;
        z-index: -1;
    }
    
    .progressbar li:first-child:after {
        content: none;
    }
    
    .progressbar li.active {
        color: #fc7667;
    }
    
    .progressbar li.active:before {
        border-color: #fc7667;
        background-color: #FFFFFF;
    }
    
    .progressbar li.active+li:after {
        background-color: #ffcfca;
    }
    
    .progressbar li.active2 {
        color: #ffcfca;
    }
    
    .progressbar li.active2:before {
        border-color: #ffcfca;
        background-color: #FFFFFF;
    }
    
    .progressbar li.active2+li:after {
        background-color: #ffcfca;
    }
    
    .progressbar li.done {
        color: #fc7667;
    }
    
    .progressbar li.done:before {
        content: url('./../../../assets/img/ok.png');
        background-size: 5px 5px;
        border-color: #fc7667;
        background-color: #fc7667;
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin-top: -6px;
    }
    
    .progressbar li.done+li:after {
        background-color: #fc7667;
    }

    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .register {
        font-size: 14px; 
        font-weight: 700; 
        text-decoration-line: underline; 
        text-align: center;
    }
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    
    .btn-uniko {
        color: #fff;
        background-color: #fc7667;
        border-color: #fc7667;
        padding: 7px 30px;
    }
    
    .title1 {
        font-weight: 600;
    }
    
    .title2 {
        font-weight: 400;
    }
    
    ::ng-deep {
        .cdk-overlay-container {
            z-index: 99999999 !important;
        }
        .mat-dialog-container {
            padding: 0px !important;
        }
        .mat-input-element {
            caret-color: #fc7667 !important;
        }
        .mat-form-field-underline {
            /*change color of underline*/
            background-color: #333333 !important;
        }
        .mat-focused .mat-form-field-label {
            /*change color of label*/
            color: #fc7667 !important;
        }
        .mat-form-field-ripple {
            /*change color of underline when focused*/
            background-color: #fc7667 !important;
            ;
        }
    }
    
    .txtInviten {
        color: #bfbfbf;
        text-align: center;
        position: absolute;
        margin-top: -12px !important;
        background-color: #FFFFFF;
        padding: 0px 20px !important;
        margin-left: 165px !important;
        font-size: 11pt;
        font-weight: 100;
    }
    .content-text-info {
        position: relative;
        top: -13px;
        text-align: center;
        .info {
            background: #ffff;
            width: 350px;
            display: inline-block;
            color: #cecece;
            font-weight: 100;
            @media screen and (max-width: 500px) {
                width: 200px;
            }
        }
    }
    .text-recovery {
        font-size:14px; 
        text-align: center;
        @media screen and (max-width: 500px) {
            margin-bottom: 20px!important;
        }
    }
    .link-recovery {
        text-decoration: none; 
        cursor: pointer;
        @media screen and (max-width: 500px) {
            margin-top: 5px;
            display: block;
        }
    }
    .show-mobile {
        display: none;
    }
    .hidden-mobile {
        display: block;
    }
    .slider-progress {
        height: 90px;
    }
    @media screen and (max-width: 500px) {
        .slider-progress {
            height: 50px;
        }
        .show-mobile {
            display: block;
        }
        .hidden-mobile {
            display: none;
        }
        .p-t-content {
            padding-top: 5px;
        }
    }
}

// .no-padding {
//     padding-left: 0;
//     padding-right: 0;
// }

// .containerSteps {
//     width: 150px;
//     margin-top: 100px;
// }

// .progressbar {
//     counter-reset: step;
// }

// .progressbar li {
//     list-style-type: none;
//     float: left;
//     width: 33.33%;
//     position: relative;
//     text-align: center;
//     font-weight: 600;
// }

// .progressbar li:before {
//     /* CSS for creating steper block before the li item*/
//     //content: counter(step);
//     //counter-increment: step;
//     content: '';
//     height: 12px;
//     width: 12px;
//     line-height: 12px;
//     border: 2px solid #ffcfca;
//     display: block;
//     text-align: center;
//     margin: 0 auto 10px auto;
//     border-radius: 50%;
//     background-color: white;
// }

// .progressbar li:after {
//     /* CSS for creating horizontal line*/
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background-color: #ddd;
//     top: 5px;
//     left: -50%;
//     z-index: -1;
// }

// .progressbar li:first-child:after {
//     content: none;
// }

// .progressbar li.active {
//     color: #fc7667;
// }

// .progressbar li.active:before {
//     border-color: #fc7667;
//     background-color: #FFFFFF;
// }

// .progressbar li.active+li:after {
//     background-color: #ffcfca;
// }

// .progressbar li.active2 {
//     color: #ffcfca;
// }

// .progressbar li.active2:before {
//     border-color: #ffcfca;
//     background-color: #FFFFFF;
// }

// .progressbar li.active2+li:after {
//     background-color: #ffcfca;
// }

// .progressbar li.done {
//     color: #fc7667;
// }

// .progressbar li.done:before {
//     content: url('./../../../assets/img/ok.png');
//     background-size: 5px 5px;
//     border-color: #fc7667;
//     background-color: #fc7667;
//     height: 25px;
//     width: 25px;
//     line-height: 25px;
//     margin-top: -6px;
// }

// .progressbar li.done+li:after {
//     background-color: #fc7667;
// }

// .col-centered {
//     float: none;
//     margin: 0 auto;
// }

// .btn-uniko {
//     color: #fff;
//     background-color: #fc7667;
//     border-color: #fc7667;
//     padding: 7px 30px;
// }

// .title1 {
//     font-weight: 600;
// }

// .title2 {
//     font-weight: 400;
// }

// ::ng-deep {
//     .cdk-overlay-container {
//         z-index: 99999999 !important;
//     }
//     .mat-dialog-container {
//         padding: 0px !important;
//     }
//     .mat-input-element {
//         caret-color: #fc7667 !important;
//     }
//     .mat-form-field-underline {
//         /*change color of underline*/
//         background-color: #333333 !important;
//     }
//     .mat-focused .mat-form-field-label {
//         /*change color of label*/
//         color: #fc7667 !important;
//     }
//     .mat-form-field-ripple {
//         /*change color of underline when focused*/
//         background-color: #fc7667 !important;
//         ;
//     }
// }

// .txtInviten {
//     color: #999999;
//     text-align: center;
//     position: absolute;
//     margin-top: -12px !important;
//     background-color: #FFFFFF;
//     padding: 0px 20px !important;
//     margin-left: 185px !important;
// }