<div class="container-fluid mobile-fluid">
    <form [formGroup]="onboardingForm">
        <div class="row m-0">
            <div class="col-12 pt-5 mobile-p-0">
                <div class="row overflow-auto w-100 m-0">
                    <div class="col-12 contenedorUnikoAgradece">
                        <div class="col-12 py-3 px-1">
                            <div class="row m-0 p-0 hidden-mobile">
                                <div class="col-12 p-0 m-0 mb-5">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        Inicien su registro y sean parte de uniko</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">&nbsp;</div>
                                <div class="col-4  slider-progress">
                                    <div class="containerSteps col-centered">
                                        <ul class="progressbar" style="margin-left: -40px;">
                                            <li class="active"></li>
                                            <li class="active2"></li>
                                            <li class="active2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4">&nbsp;</div>
                            </div>
                            <div class="row m-0 p-0 show-mobile">
                                <div class="col-12 p-0 m-0 mb-5">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        Inicien su registro y sean parte de uniko</p>
                                </div>
                            </div>
                            <div class="row" *ngIf="eventType == 'WEDDING'">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="label-control">Tu nombre</label>
                                        <input [class.submit]="submitted" formControlName="name" type="name"
                                            class="form-control" placeholder="Tu nombre">
                                    </div>
                                </div>
                                <span class="text-div">&</span>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="label-control">Nombre de tu pareja</label>
                                        <input [class.submit]="submitted" formControlName="name2" type="text"
                                            maxlength="60" class="form-control" placeholder="Nombre de tu pareja">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="eventType == 'BABY'">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group mb-0">
                                        <label class="label-control">Nombre del bebé</label>
                                        <input [class.submit]="submitted" formControlName="name" type="name"
                                            class="form-control" placeholder="Nombre del bebé">
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="eventType == 'BABY'">
                                    <label class="label txt-info text-small">
                                        Si aún no has elegido nombre para tu bebé, sugerimos escribir Baby +
                                        apellido: Baby <i>Martinez</i>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="label-control">Fecha {{getEventString()}}</label>
                                        <input class="form-control" formControlName="date" [owlDateTime]="dt3"
                                            [owlDateTimeTrigger]="dt3" placeholder="Date Time">
                                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-check" style="margin-top: 40px">
                                        <input formControlName="isDate" class="form-check-input" type="checkbox"
                                            value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            No tenemos fecha {{getEventString()}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 col-lg-3">&nbsp;</div>
                                <div class="col-8 col-lg-6 col-centered mt-3 mb-3">
                                    <button (click)="next()" class="btn btn-uniko btn-block"
                                        type="button">Siguiente</button>
                                </div>
                                <div class="col-2 col-lg-3">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>