<div class="row py-4" *ngIf="haveGallery">
    <div class="col-12 my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-6 m-0 p-0">
                <p class="m-0 p-0 mb-2 t-primary" style="font-size:12px; font-weight:600; text-align: center;">ALGUNOS
                    MOMENTOS</p>
                <h1 class="mb-5 text-title t-base" *ngIf="haveHashtag">#{{instagramInfo.hashtag}}</h1>
                <h1 class="mb-5 text-title t-base" *ngIf="!haveHashtag">¡Visita nuestra galería!</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 m-0 p-0" style="overflow-x:auto;">
                <div class="images" *ngIf="haveGallery">
                    <img *ngFor="let image of instagramInfo.images" [src]="image" class="fotoGaleria">
                </div>
            </div>
        </div>
    </div>
</div>