:host{
    
    $templateMaxWidth: 1024px;
    $templateMaxWidthMobile: 425px;
    $templateMinHeight: calc(1024px * .5);
    .overflow-atuo{
        overflow-y: scroll;
    }
    .editor-container{
        position: relative;
        overflow: hidden;
        margin: 0 auto; 
        align-items: stretch;
        /*margin-top: 1rem; 
        @media screen and (max-width: 500px) {
            margin-top: 0; 
        }*/
        max-width: $templateMaxWidth;
        min-width: $templateMaxWidth;
        min-height: $templateMinHeight;
        &.mobile{
            max-width: $templateMaxWidthMobile;
            min-width: $templateMaxWidthMobile;
            min-height: 1024px;
        }
        .content{
            min-height: 400px;
            //background-color: #0b055c32;
        } 
        .cover{
            min-height: 400px;
            //background-color: #cccccc32;
        }
    }

    .controls{
        position: absolute;
        top: 0;
        right: 0;
        .edit{
            background-color: #fc7667;
            color: #212529;
            height: 30px;
            width: 30px;
            border-radius: unset;
            padding:4px 0px 4px 4px;
            i{
                display: block;
            }
        }
    }

    .extra-margin{
        margin-bottom: 60px;
    }
}