<div class="row m-0">
    <div class="col-12 shadow-sm p-0 bg-white rounded mb-3">
      <div class="row m-0">
        <div class="col-2">
          <a routerLink="/{{couple?.url}}/gift-table" class="link-return">Seguir comprando</a>
        </div>
        <div class="col-8 text-center">
            <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Canasta de compra</h6>
        </div>
      </div>
    </div>
</div>
<div class="tamContenedor m-b-20" [hidden]="false" #retiraCred1> 
    <router-outlet></router-outlet>
</div>
<!-- <app-footer class="cart-footer"></app-footer> -->

