.box {
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

.conetent-box {
    display: inline-block;
    width: 120px;
    margin: 15px;
    label {
        font-size: 11pt;
        text-align: center;
        display: block;
    }
}

.containerSteps {
    width: 100%;
    margin: 0 auto;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.progressbar li:before {
    /* CSS for creating steper block before the li item*/
    //content: counter(step);
    //counter-increment: step;
    content: '';
    height: 12px;
    width: 12px;
    line-height: 12px;
    border: 2px solid #ffcfca;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    /* CSS for creating horizontal line*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 5px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fc7667;
}

.progressbar li.active:before {
    border-color: #fc7667;
    background-color: #FFFFFF;
}

.progressbar li.active+li:after {
    background-color: #ffcfca;
}

.title-info {
    font-size: 16pt;
}

.progressbar li.active2 {
    color: #ffcfca;
}

.subtitle {
    color: #9e9e9e;
}

.progressbar li.active2:before {
    border-color: #ffcfca;
    background-color: #FFFFFF;
}

.progressbar li.active2+li:after {
    background-color: #ffcfca;
}

.progressbar li.done {
    color: #fc7667;
}

.progressbar li.done:before {
    content: url('./../../../assets/img/ok.png');
    background-size: 5px 5px;
    border-color: #fc7667;
    background-color: #fc7667;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: -6px;
}

.progressbar li.done+li:after {
    background-color: #fc7667;
}