<app-header-logo></app-header-logo>
<app-header-payment></app-header-payment>
<div class="card" style="display: block;background: #fbd1cd66;min-height: 90px;">
  <div class="card-img-overlay" style="padding-top: 25px;">
    <h5 class="card-title" style="font-size: 22pt; text-align: center; font-weight: 100;">¡Felicidades!</h5>
  </div>
</div>
<div class="row" style="padding-top: 35px;">
  <div class="col-12">
    <div class="containerSteps col-centered">
      <ul class="progressbar p-0">
        <li class="active2">
        Contratación de plan
      </li>
      <li class="active">
        Confirmación de pago
      </li>
      <li>
        Llenar datos de los asegurados
      </li>
      </ul>
    </div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-12">
    <div class="title-info text-center">
      TU PAGO HA SIDO REALIZADO CON ÉXITO
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="subtitle text-center">
      Tipo de seguro contratado: {{ plan?.name }}
    </div>
  </div>
</div>
<div class="row pt-5">
  <div class="col-12 m-t-10 text-center">
      <button style="width: 300px;" class="btn btn-uniko btn-md px-2 col-centered" (click)="go()" type="button">Ir a datos de asegurado</button>
  </div>
</div>

