<div class="row m-0 justify-content-center">    
    <app-steps class="col-12 p-0" step="2" totalSteps="3"></app-steps>
</div>
<div class="row m-0 justify-content-center">
    <div class="col-12">
        <form [formGroup]="registerForm">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <h3 class="sub">Mensaje de dedicatoria</h3>
                        <textarea formControlName="message" class="form-control" name="comment" placeholder="Envía un mensaje o una dedicatoria" id="comment" cols="40" rows="5" style="padding:10px; box-sizing:border-box;"></textarea>
                    </div>
                </div>
                <div class="row p-t-20">
                    <div class="col-12 col-md-6">
                        <h3 class="sub">De parte de (nombre):</h3>
                        <input formControlName="names" noDigits placeholder="Si son varios separa por comas" type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-6">
                        <h3 class="sub">De parte de (email):</h3>
                        <input formControlName="emails" type="email" placeholder="Si son varios separa por comas" class="form-control" email>
                    </div>
                </div>
                <div class="row p-t-20">
                    <div class="col-12 col-md-6">
                        <h3 class="sub">País:</h3>
                        <select class="form-control" formControlName="country">
                            <option *ngFor="let _country of countries" [value]="_country.phone">{{ _country.name }}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <h3 class="sub">Teléfono:</h3>
                        <input minlength="8" maxlength="10" formControlName="phone" digitOnly type="phone" pattern="[0-9]*" class="form-control">
                    </div>
                </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <button class="btn btn-md px-2"  style="margin-top:70px; width:140px;" routerLink="/{{couple.url}}/checkout/cart" type="button">Regresar</button>
                    <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width:140px;" type="button">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>