<div class="container-fluid ">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="sub-header h-mobile">
            <button class="back-button btn" (click)="prev()"><i class="fas fa-chevron-left"></i></button>
            <span class="title text-center">Editar</span>
            <button (click)="save()"class="save-button btn btn-uniko">Aplicar cambios</button>
          </div>
          <div class="sub-header sh-mobile">
              <button *ngIf="!mobileActive" class="back-button btn" (click)="prev()"><i class="fas fa-chevron-left"></i></button>
              <button *ngIf="mobileActive" class="back-button btn" (click)="mobileActive = false"><i class="fas fa-chevron-left"></i></button>
              <span  class="title text-center">Editar</span>
              <button (click)="save(); mobileActive = false;" class="save-button btn btn-uniko">Guardar</button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-7" >
          <div style="position: relative;" [style.background-color]="background">
            <img 
            width="100%"
            [class.opacity]="templateObj.opacity != '1'"
            [class.opacityAll]="templateObj.opacity == '0'"
            src="./../../../assets/img/templates/detail/{{img}}"
            >
            <div style="position: absolute; top: 0px;">
              <p 
              class="pointer"
              [ngStyle]=" {
                'text-align': templateObj.title.textAlign,
                'color': templateObj.title.color,
                'font-family': templateObj.title.fontFamily,
                'font-weight': templateObj.title.fontWeight,
                'font-size': templateObj.title.fontSize,
                'text-transform': templateObj.title.textTransform,
                'font-style': templateObj.title.fontStyle,
                'letter-spacing': templateObj.title.latterSpace
              }" 
              [class.selected]="templateObj.select == 'title'" 
              (click)="changeInput('title')"
              >{{ templateObj.title.text }}</p>
              <h1
              class="pointer"
              [ngStyle]=" {
                'text-align': templateObj.nametitle.textAlign,
                'color': templateObj.nametitle.color,
                'font-family': templateObj.nametitle.fontFamily,
                'font-weight': templateObj.nametitle.fontWeight,
                'font-size': templateObj.nametitle.fontSize,
                'text-transform': templateObj.nametitle.textTransform,
                'font-style': templateObj.nametitle.fontStyle,
                'letter-spacing': templateObj.nametitle.latterSpace
              }"
              [class.selected]="templateObj.select == 'nametitle'" 
              (click)="changeInput('nametitle')"
              >{{ templateObj.nametitle.text }}</h1>
              <p class="mt-5 mb-3 pointer" 
              [ngStyle]=" {
                'text-align': templateObj.titleDate.textAlign,
                'color': templateObj.titleDate.color,
                'font-family': templateObj.titleDate.fontFamily,
                'font-weight': templateObj.titleDate.fontWeight,
                'font-size': templateObj.titleDate.fontSize,
                'text-transform': templateObj.titleDate.textTransform,
                'font-style': templateObj.titleDate.fontStyle,
                'letter-spacing': templateObj.titleDate.latterSpace
              }"
              [class.selected]="templateObj.select == 'titleDate'" 
              (click)="changeInput('titleDate')"
              >{{ templateObj.titleDate.text }}</p>
              <h1 
              class="pointer"
              [ngStyle]=" {
                'text-align': templateObj.date.textAlign,
                'color': templateObj.date.color,
                'font-family': templateObj.date.fontFamily,
                'font-weight': templateObj.date.fontWeight,
                'font-size': templateObj.date.fontSize,
                'text-transform': templateObj.date.textTransform,
                'font-style': templateObj.date.fontStyle,
                'letter-spacing': templateObj.date.latterSpace
              }"
              [class.selected]="templateObj.select == 'date'" 
              (click)="changeInput('date')"
              >{{ templateObj.date.text }}</h1>
              <p class="m-0 p-0 mt-4 mb-5 pointer" 
              [ngStyle]=" {
                'text-align': templateObj.titleDescription.textAlign,
                'color': templateObj.titleDescription.color,
                'font-family': templateObj.titleDescription.fontFamily,
                'font-weight': templateObj.titleDescription.fontWeight,
                'font-size': templateObj.titleDescription.fontSize,
                'text-transform': templateObj.titleDescription.textTransform,
                'font-style': templateObj.titleDescription.fontStyle,
                'letter-spacing': templateObj.titleDescription.latterSpace
              }"
              [class.selected]="templateObj.select == 'titleDescription'" 
              (click)="changeInput('titleDescription')"
              >{{ templateObj.titleDescription.text }}</p>
              <!-- <p class="m-0 p-0 mt-4"
              >Breve descripción</p> -->
              <p 
                class="m-0 mx-auto p-0 pointer" 
                style="width:80%;"
                [ngStyle]=" {
                  'text-align': templateObj.description.textAlign,
                  'color': templateObj.description.color,
                  'font-family': templateObj.description.fontFamily,
                  'font-weight': templateObj.description.fontWeight,
                  'font-size': templateObj.description.fontSize,
                  'text-transform': templateObj.description.textTransform,
                  'font-style': templateObj.description.fontStyle,
                  'letter-spacing': templateObj.description.latterSpace
                }"
                [class.selected]="templateObj.select == 'description'" 
                (click)="changeInput('description')"
              >
              {{ templateObj.description.text }}
            </p>
            </div> 
          </div>
        </div>



        <div class="col-12 col-sm-5 content-edition" [class.mobile-active]="mobileActive">
          <div class="row">
            <div class="col-6 option" [class.selected]='!editDesing'>
              <a (click)="editDesing=false">Contenido</a>
            </div>
            <div class="col-6 option" [class.selected]='editDesing'>
              <a (click)="editDesing = templateObj.colors.length > 1 ? true : false">Diseño</a>
            </div>
            <div class="col-12 content" *ngIf="!editDesing">
              <div class="content-edit editor-border">
                  <div class="form-group text-left">
                      <label class="label-control">Texto</label>
                      <textarea type="name" id="text" [(ngModel)]="model" (keyup)="changeText($event)" class="form-control b-none" placeholder="{{ templateObj[templateObj.select].text }}">
                      </textarea>
                    </div>
              </div>
              <div class="content-edit editor-border">
                  <div class="row">
                      <div class="col-12">
                          <div class="form-group text-left">
                              <label class="label-control">Caracteristicas de texto</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                            <label class="label-control labels-fonts">ESTILOS</label>
                            <div 
                            (click)="setEditText('fontWeight', templateObj[templateObj.select].fontWeight == 'bold' ? '200' :'bold')"
                            [class.active]="templateObj[templateObj.select].fontWeight == 'bold'" 
                            class="btn-text" >
                                <i class="fas fa-bold"></i>
                            </div>
                            <div 
                            (click)="setEditText('fontStyle', templateObj[templateObj.select].fontStyle == 'italic' ? 'normal' :'italic')" 
                            [class.active]="templateObj[templateObj.select].fontStyle == 'italic'" 
                            class="btn-text">
                                <i class="fas fa-italic"></i>  
                            </div>
                      </div>
                      <div class="col-md-4">
                          <label class="label-control labels-fonts">ALINEACIÓN</label>
                          <div 
                          (click)="setEditText('textAlign', 'left')"
                          [class.active]="templateObj[templateObj.select].textAlign == 'left'" 
                          class="btn-text" >
                             <i class="fas fa-align-left"></i>
                          </div>
                          <div 
                          (click)="setEditText('textAlign', 'center')"
                          [class.active]="templateObj[templateObj.select].textAlign == 'center'" 
                          class="btn-text" >
                             <i class="fas fa-align-center"></i>
                          </div>
                          <div 
                          (click)="setEditText('textAlign', 'right')"
                          [class.active]="templateObj[templateObj.select].textAlign == 'right'" 
                          class="btn-text" >
                             <i class="fas fa-align-right"></i>
                          </div>
                          <div 
                          (click)="setEditText('textAlign', 'justify')"
                          [class.active]="templateObj[templateObj.select].textAlign == 'justify'" 
                          class="btn-text" >
                             <i class="fas fa-align-justify"></i>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label class="label-control labels-fonts">TIPO DE CAJA</label>
                          <div 
                          (click)="setEditText('textTransform', 'Capitalize')"
                          [class.active]="templateObj[templateObj.select].textTransform == 'Capitalize'" 
                          class="btn-text" >
                             <i>Aa</i>
                          </div>
                          <div 
                          (click)="setEditText('textTransform', 'uppercase')"
                          [class.active]="templateObj[templateObj.select].textTransform == 'uppercase'" 
                          class="btn-text" >
                             <i>AA</i>
                          </div>
                          <div 
                          (click)="setEditText('textTransform', 'lowercase')"
                          [class.active]="templateObj[templateObj.select].textTransform == 'lowercase'" 
                          class="btn-text" >
                             <i>aa</i>
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                    <div class="col-md-4">
                        <label class="label-control labels-fonts black">Fuente</label>
                        <select 
                          name="" 
                          [(ngModel)]="fontModel"
                          (change)="setEditText('fontFamily', fontModel)"
                          class="form-control">
                          <option value="'Cardo', serif">Cardo</option>
                          <option value="'Sofia', cursive">Sofia cursive</option>
                          <option value="'Damion', cursive">Damion cursive</option>
                          <option value="'Norican', cursive">Norican cursive</option>
                          <option value="'Montserrat', sans-serif">Montserrat</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="label-control labels-fonts black">Tamaño</label>
                        <select 
                        name="" 
                        [(ngModel)]="sizesModel" 
                        id="" 
                        (change)="setEditText('fontSize', sizesModel)"
                        class="form-control">
                            <option [value]="size+'pt'" *ngFor="let size of sizes">{{ size }}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="label-control labels-fonts black">Letter spacing</label>
                        <select 
                        name="" 
                        [(ngModel)]="latterSpaceModel" 
                        class="form-control"
                        (change)="setEditText('latterSpace', latterSpaceModel)"
                        >
                            <option [value]="letter+'px'" *ngFor="let letter of latterSpace">{{ letter }}</option>
                        </select>
                    </div>
                  </div>
              </div>
              <div class="content-edit">
                  <label class="label-control">COLORES DE TEXTO</label>
                   <ul class="color-options">
                      <li [style.background-color]="templateObj[templateObj.select].color" (click)="openColorLetter = !openColorLetter">
                          <i class="fas fa-broom" style="margin-top: 5px;margin-left: 5px;"></i>
                        </li>
                   </ul>
                    <color-sketch
                    color="{{templateObj[templateObj.select].color}}"
                    *ngIf="openColorLetter"
                    (onChangeComplete)="handleChangeCompleteLatter($event)"
                  ></color-sketch>
              </div>
            </div>
            <div class="col-12 desing" *ngIf="editDesing">
              <div class="row desing-option">
                <div class="col-12">
                  <label>COLOR DE FONTO</label>
                  <ul class="color-options">
                    <li [style.background-color]="_color.color" [class.hidden]="i == 4" *ngFor="let _color of templateObj.colors; let i = index" (click)="selectColorBackground(i)"></li>
                    <li [style.background-color]="templateObj.colors[4].color" (click)="openColor = !openColor">
                      <i class="fas fa-broom" style="margin-top: 5px;margin-left: 5px;"></i>
                    </li>
                    <color-sketch
                    color="#fff"
                    *ngIf="openColor"
                    (onChangeComplete)="handleChangeComplete($event)"
                  ></color-sketch>
                  </ul>
                </div>
              </div>
              <div class="row desing-option">
                <div class="col-12">
                  <label>COLOR DE DETALLE</label>
                  <ul class="color-options">
                    <li [style.background-color]="color.color" *ngFor="let color of templateObj.backgroundTemplate; let i = index" (click)="selectColor(i)" ></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>