:host{
    position: relative;
    width: 100%;
    background: white;
    z-index: 99999;
    height: 100%;
    .sh-mobile {
        display: none;
    }
    &.active-edition{
        display: block;
    }
    .m-t-10 {
        margin-top: 10px;
    }
    .opacity {
        opacity: 0.4;
    }
    .opacityAll {
        opacity: 0;
    }
    .sub-header{
        position: relative;
        .title{
            display: block;
            padding: 15px;
        }
        .back-button{
            position: absolute;
            top: 7.5px;
            left: 15px;
        }
        .save-button{
            position: absolute;
            top: 7.5px;
            right: 15px;
        }
    }    
    .hidden {
        display: none;
    }
    .content-edit {
        margin-top: 5px;
    }
    .content-edition{
        border-left: 1px solid #CCC;
    }
    .desing-option{
        padding: 25px;
        &:not(:last-child){
            border-bottom: 1px solid #fc7667;
        }
        label{
            font-size: 10px;
            font-weight: 700;
        }
    }
    .option{        
        color: #CCC;
        border-top: 2px;        
        border-bottom: 2px;
        border-right: 2px;
        border-left: 0;
        border-style: solid;
        border-color: #CCC;
        font-weight: 700;
        &.selected{
            background-color: #fc7667;
            color: white;
        }
        a{
            padding: 25px;
            text-decoration: none;
            cursor: pointer;
            display: block;
            text-align: center;
        }
    }
    ul.color-options{
        display: flex;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 40px;
        li{
            list-style: none;   
            height: 30px;
            width: 30px;
            border: 1px solid #000;
            border-radius: 50%;
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
    .content-background-canvas{
        margin: 0 -15px;
        padding: 10px;
        img{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 500px) {
        .content-edition {
            display: none;
            &.mobile-active {
                position: fixed;
                z-index: 999;
                background: white;
                height: 100%;
                display: initial;
            }
        }
        .sh-mobile {
            display: block;
        }
        .h-mobile {
            display: none;
        }
    }
}
.h-mobile {
    display: block;
}
.btn-text {
    padding: 5px;
    float: left;
    font-size: 9pt;
    width: 25px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    &.active {
        background: #e9ecef;
        border: solid 1px #ccc;
    }
}

.editor-border {
    border-bottom: 1px solid #fc7667;
    padding-bottom: 20px;
}

.hard-svg{
    width: 100%;
}
.labels-fonts {
    font-size: 8pt;
    color: #6c757d;
    display: block;
    &.black {
        color: black;
    }
}
.b-none {
    border: none;
}

.uniko-template.fill{
    fill:red;
}

.selected {
    border: 1px solid !important;
}
