<div class="container-fluid mobile-fluid">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row m-0">
            <div class="col-12 pt-5 mobile-p-0">
                <div class="row overflow-auto w-100 m-0">
                    <div class="col-12 contenedorUnikoAgradece" style="border-bottom:1px solid #fc7667;">
                        <div class="col-12 py-3 px-1">
                            <div class="row m-0 p-0">
                                <div class="col-12 p-0 m-0 mb-5">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        Accedan a su cuenta</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="label-control">Email</label>
                                        <input [class.submit]="submitted" formControlName="email" type="email"
                                            class="form-control" placeholder="Mi Correo">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="label-control">Password</label>
                                        <input [class.submit]="submitted" formControlName="password" type="password"
                                            class="form-control" placeholder="Escribe tu contraseña">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 col-lg-3">&nbsp;</div>
                                <div class="col-8 col-lg-6 col-centered mt-3 mb-3">
                                    <button class="btn btn-uniko btn-block" type="submit">Iniciar
                                        Sesión</button>
                                </div>
                                <div class="col-2 col-lg-3">&nbsp;</div>
                            </div>

                            <div class="row">
                                <div class="col-2">&nbsp;</div>
                                <div class="col-8 col-centered mb-5 text-recovery">
                                    ¿Olvidaron su cuenta? <a [routerLink]="['/onboarding', 'recovery']"
                                        class="text-primary link-recovery">Ingresen aquí ></a>
                                </div>
                                <div class="col-2">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-text-info">
                    <div class="info">
                        ¿Aún no tienen cuenta con nosotros?
                    </div>
                </div>
                <div class="col-12 col-centered">
                    <div class="col-12  m-0 col-centered">
                        <p class="text-center">
                            <a [routerLink]="['/onboarding','boda', 'register']" href="#"
                                class="p-0 m-0 text-danger register">Regístrense aquí</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-centered">
                    <div class="col-12  m-0 col-centered">
                        <p class="text-center">
                            <a href="{{global}}" class="p-0 m-0 txt-uniko register">Mas Información</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-centered">
                    <div class="col-12  m-0 col-centered">
                        <p class="text-center">
                            <a [routerLink]="['/search']" href="#" class="p-0 m-0 text-info register">Buscar mesa de
                                regalos</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>