body .mat-menu-content:not(:empty) {
    padding: 0px;
}

.userIco {
    font-size: 12px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 50%;
    /*margin-right: 10px;*/
}

.nav-item {
    margin-right: 10px;
}

.txtGris {
    color: #D8D8D8;
}

.title-cart{
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    padding-bottom: 20px;
}

:host {
    .text-description {
        width: 170px;
        margin-left: 15px;
        float: left;
        font-size: 10pt;
        color: black;
        padding-bottom: 20px;
        .price {
            font-weight: 600;
        }
    }
    .image-cart-content {
        width: 100px;
        float: left;
    }

    .color-b {
        color: black;
    }
    .menu-white {
        display: none;
    }
    @media screen and (max-width: 500px) {
        .menu-white {
            position: absolute;
            width: 100%;
            top: 0px;
            background: white;
            z-index: 99999;
            height: -webkit-fill-available;
            padding-top: 20px;
            display: block;
        }    
    }
}

.m-content {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3px;
    // padding-bottom: 50px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.title-menu {
    font-size: 18pt;
    color: #272727;
    font-weight: 700;
}

.nav-menu a {
    color: #272727;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 600;
    &.active {
        color: #fc7667;
    }
}

.btn-modal-cart {
    padding-top: 20px;
    text-align: center;
}