<nav class="navbar navbar-light bg-white m-content">
        <a class="navbar-link title-menu" routerLink="/{{url}}/site" routerLinkActive="/{{url}}/site" href="#">{{ title }}</a>
        <ul *ngIf="guest" class="nav justify-content-center hidden-mobile">
            <li class="nav-item nav-menu">
                <a href="" [class.inactive]="!isActive('GIFT_TABLE')" routerLinkActive="active" routerLink="/{{url}}/gift-table" class="nav-link">Mesa de regalos</a>
            </li>
            <li class="nav-item nav-menu">
                <a href="" [class.inactive]="!isActive('GUEST_BOOK')" routerLinkActive="active" routerLink="/{{url}}/guest-book" class="nav-link">Guest book</a>
            </li>
            <li class="nav-item nav-menu">
                <a href="" [class.inactive]="!isActive('QUESTIONS')" routerLinkActive="active" routerLink="/{{url}}/questions" class="nav-link">Preguntas frecuentes</a>
            </li>
            <li class="nav-item active">
                    <button *ngIf="!bolsaCompra" class="nav-link" mat-button style="border:0px; outline:0px !important; font-size: 14px;">
                        <i class="fas fa-shopping-bag text-dark userIco" style="margin-right: 10px;"></i>
                    </button>
                    <button (click)="isOpen = !isOpen" *ngIf="bolsaCompra" class="nav-link" mat-button style="border:0px; outline:0px !important; font-size: 14px;">
                        <i class="fas fa-shopping-bag text-dark bg-unikoClaro userIco" style="margin-right: 10px;"></i>
                        <span class="txt-uniko" style="font-size: 13px;">{{ totalItems }}</span>
                    </button>
            </li>
        </ul>
        <ul *ngIf="!guest" class="nav justify-content-center hidden-mobile">
            <li class="nav-item nav-menu">
                <a href="" routerLinkActive="active" routerLink="/gift-table" class="nav-link">Mesa de regalos</a>
            </li>
            <li class="nav-item nav-menu">
                <a href="" routerLinkActive="active" routerLink="/guest-book" class="nav-link">Guest book</a>
            </li>
            <li class="nav-item nav-menu">
                <a href="" routerLinkActive="active" routerLink="/questions" class="nav-link">Preguntas frecuentes</a>
            </li>
        </ul>
        <i (click)="isOpen = !isOpen" class="material-icons show-mobile">
            dehaze
        </i>
</nav>

<app-modal-cart (onAction)="onClose()" [(isOpen)]="isOpen">
    <div class="title-cart">
        Agregado a la canasta
    </div>
    <div class="art">
        <div class="image-cart">
            <img class="image-cart-content" *ngIf="cart.product" [src]="cart.product.image" alt="">
        </div>
        <div class="text-description">
            <div class="descrip">
                {{ cart?.product?.name }}
            </div>
            <div class="price">
                    {{ cart?.product?.price | currency }} {{ currency }}
            </div>
        </div>
    </div>
    <div class="row btn-modal-cart">
        <div class="col-12">
            <button class="btn btn-uniko" routerLink="/{{url}}/checkout/cart">
                Ver canasta de compras
            </button>
        </div>
    </div>
</app-modal-cart>

