<div class="row m-0">
    <div class="col-12 shadow-sm p-0 bg-white rounded mb-3">
        <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Retirar acumulado</h6>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="false" #retira1>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active"></li>
                            <li class="active2"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Datos de retiro</p>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">A gozar su dinero acumulado</p>
                    <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">{{ 'total' | uppercase }}</p>
                    <p class="p-0 m-0 txt-uniko" style="font-size:26px; text-align:center; font-weight:600;">$280,000</p>
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 12px; font-weight: 600;">Puedes solicitar el retiro de tus regalos en 3 ocasiones sin costo.</p>
                    <p class="p-0 m-0" style="font-size: 13px;">Toma en cuenta que el tercer retiro se realizará al cierre de tu mesa, 1 mes después de tu evento. </p>
                    <p class="p-0 m-0 mt-2 txt-uniko" style="font-size: 11px;">* El depósito estará listo en 5 días hábiles una vez realizada la solicitud.</p>
                </div>
                <div class="col-12 m-0 mt-3">
                    <div class="row m-0">
                        <div class="col m-0 p-0">
                            <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                <input matInput placeholder="Nombre del tarjetahabiente" value="Magda Izzeth Segoviano">
                            </mat-form-field>
                            <mat-form-field style="width:100%; height: 30px; border: 0px;">
                                <input matInput placeholder="Cuenta CLABE" value="2111162356789">
                            </mat-form-field>
                        </div>
                        <div class="col m-0 p-0">
                            <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                <input matInput placeholder="Banco" value="Bancomer">
                            </mat-form-field>
                            <mat-form-field style="width:100%; height: 30px; border: 0px;">
                                <input matInput placeholder="Monto Solicitado" value="$5,600">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button class="btn btn-uniko btn-md px-2 col-centered" (click)="muestConten('paso1')" style="margin-top:70px; width:120px;" type="button">Continuar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="true" #retira2>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Confirma tus datos</p>
                </div>
                <div class="col-6">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
                        Van a retirar
                    </p>
                    <p class="p-0 m-0 mt-1" style="font-size: 13px; text-align:right; font-weight: 600;">
                        {{ 'monto' | uppercase }}
                    </p>
                    <p class="p-0 m-0 txt-uniko" style="font-size: 24px; text-align:right; font-weight: 600;">
                        $5,600
                    </p>
                </div>
                <div class="col-6">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
                        Información de pago
                    </p>
                    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
                        Nombre del tarjetahabiente
                    </p>
                    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                        Magda Izzeth Segoviano
                    </p>
                    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
                        Banco
                    </p>
                    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                        BBVA Bancomer
                    </p>
                    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
                        Cuenta CLABE
                    </p>
                    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                        2111162356789
                    </p>
                    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
                        Monto Solicitado
                    </p>
                    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                        $5,600
                    </p>
                </div>
                <div class="col-6">
                    <button class="btn btn-md px-2 float-right" (click)="muestConten('paso0')" style="margin-top:70px; width:120px;" type="button">Regresar</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-uniko btn-md px-2" (click)="muestConten('paso2')" style="margin-top:70px; width:140px;" type="button">Aplicar retiro</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="true" #retira3>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active done"></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Movimiento exitoso</p>
                    <div class="text-center col-12 mt-4 mb-3">
                        <img src="./../../../assets/img/OkFelicidades.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
                    </div>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">¡Felicidades!</p>
                    <p style="text-align:center; font-size:14px; margin:0px; font-weight:600;">Tu retiro ha sido aprobado, para consulta podrás verlo en tu perfil</p>
                </div>
                <div class="col-12 mt-lg-4 text-center">
                    <a class="navbar-link" style="font-size:.8rem;" href="" routerLinkActive="active" routerLink="/profile">
                        <i class="fas fa-angle-left"></i> {{ 'Ir a Retiro de fondos' }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>