.tituloArticulo {
    font-size: 26px;
    font-weight: 200;
    color: #444444;
    margin-bottom: 0px;
}
.edit-container{
    margin: -15px;
    max-width: 850px;
}

.editarArt {
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.borrarArt {
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.cardArticulo-Precio {
    font-size: .9rem !important;
    font-weight: 100;
    margin-bottom: 20px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.precioArticulo {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.select_box {
    width: 100px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #cccccc;
    position: relative;
    line-height: 31px;
    border-radius: 4px;
}

.select_box:after {
    width: 10px;
    height: 10px;
    color: #fc7667;
    position: absolute;
    top: 35%;
    right: 10px;
    content: "";
    background-image: url('./../../../assets/img/arrow.png');
    background-position: center center;
    background-size: 100%;
}

.select_box select {
    width: 110px;
    height: 30px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    color: #aaaaaa;
}

.navbar-link {
    font-size: 10pt;
    font-weight: 100;
}
/*
::ng-deep {    
    .cdk-overlay-container {
        z-index: 99999999 !important;
    }
    .cdk-overlay-pane {
        max-width: 850px !important;
    }
    .mat-dialog-container {
        padding: 0px !important;
    }
    .mat-input-element {
        caret-color: #fc7667 !important;
    }
    .mat-form-field-underline {
        background-color: #333333 !important;
    }
    .mat-focused .mat-form-field-label {
        color: #fc7667 !important;
    }
    .mat-form-field-ripple {
        background-color: #fc7667 !important;
        ;
    }
    
}*/

.btn-uniko {
    color: #fff !important;
    background-color: #fc7667 !important;
    border-color: #fc7667 !important;
}

.iconoBorrar {
    position: absolute;
    width: 31px;
    right: -5px;
    bottom: -5px;
    background-color: #FFFFFF;
    padding-top: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #fc7667;
    cursor: pointer;
    height: 31px;
    text-align: center;
}

.iconoAgregar {
    position: absolute;
    right: -5px;
    bottom: -5px;
    background-color: #fc7667;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #FFFFFF;
    cursor: pointer;
}


/* SUM STUFF*/

.images-container{
    display: flex;
    align-items: flex-start; 
    align-content: flex-start;
}
.gift-image-container{    
    padding: 10px;
    position: relative;

    .gift-image{
        padding: 0;
        img{
            max-width: 100%;
        }
    }
}