<div class="edit-container">
    <div class="col-12" >
        <div class="row">
            <div class="col-12 p-20 shadow-sm" style="padding: 10px;">
                <button mat-button [mat-dialog-close]="false" class="btn">
                    Cancelar
                </button> 
                <button mat-button (click)='guardarRegalo()' class="btn btn-uniko float-right">
                    Guardar
                </button>
            </div>
            <div class="col-12 pr-0">
                <div class="row overflow-auto w-100">
                    <div class="col-12 col-sm-5 pr-0 mt-2 flex images-container flex-wrap">
                        <div *ngFor="let image of previousImages; let i = index;" id="{{ i }}" class="gift-image-container mr-4 mt-4">
                            <i class="fas fa-times iconoBorrar" (click)="quitarFoto(i,'old')"></i>
                            <div class='gift-image'>
                                <img [src]="image" class="cardArticulo-img-top card-img-top rounded-0 img-responsive"  alt="...">
                            </div>
                        </div>
                        <div *ngFor="let image of images; let i = index;" id="{{ i }}" class="gift-image-container mr-4 mt-4">
                            <i class="fas fa-times iconoBorrar" (click)="quitarFoto(i,'new')"></i>
                            <div class='gift-image'>
                                <img [src]="image" class="cardArticulo-img-top card-img-top rounded-0 img-responsive"  alt="...">
                            </div>
                        </div>
                        <div class="gift-image-container mr-4 mt-4" *ngIf='4 > (previousImages.length + images.length)'>
                            <i class="fas fa-plus iconoAgregar" (click)="agregarFoto($event)"></i>
                            <input type="file" hidden id='new-gift-image' (change)='fileProgress($event)'>
                            <div class="cardArticulo-img-top card-img-top rounded-0" style="width:126.5px; height:126.5px; background-color: #dddddd; border:1px dashed #333333;"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-7 pr-0 mt-2">
                        <div class="card border-0" style="height:475px; background-color:transparent !important;">
                            <div class="card-body p-0">
                                <form>
                                    <mat-form-field style="width:100%;">
                                        <input matInput placeholder="Nombre de Producto" name='name' [(ngModel)]='item.name' required>
                                    </mat-form-field>
                                    <mat-form-field style="width:100%;">
                                        <input matInput placeholder="Precio" name='price' [(ngModel)]='item.price' required>
                                    </mat-form-field>
                                    <textarea matInput placeholder="Descripción" name='description' [(ngModel)]='item.description' style="height: 110px;"></textarea>
                                    <!-- <mat-form-field style="width:100%;">
                                    </mat-form-field> -->
                                    <mat-form-field style="width:100%;">
                                        <mat-label>Tienda</mat-label>
                                        <select matNativeControl [(ngModel)]='item.storeId' name='storeId' required>
                                            <option *ngFor="let store of stores" [ngValue]='store.id'>{{store.name}}</option>
                                        </select>
                                    </mat-form-field>
                                    <mat-form-field style="width:100%;">
                                        <mat-label>Categoría</mat-label>
                                        <select matNativeControl name='category' [(ngModel)]='category' required>
                                            <option *ngFor="let category of categories" [ngValue]='category.id'>{{category.name}}</option>
                                        </select>
                                    </mat-form-field>
                                    <mat-form-field style="width:100%;">
                                        <mat-label>Cantidad</mat-label>
                                        <select matNativeControl name='qty' [(ngModel)]='item.qty'>
                                            <option [ngValue]="1">1</option>
                                            <option [ngValue]="2">2</option>
                                            <option [ngValue]="3">3</option>
                                            <option [ngValue]="4">4</option>
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="6">6</option>
                                            <option [ngValue]="7">7</option>
                                            <option [ngValue]="8">8</option>
                                            <option [ngValue]="9">9</option>
                                            </select>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>