<app-header menuKey="QUESTIONS" [buttons]="buttons"></app-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-12">
            <label for="" class="text-subtitle">
                ¿Tienes dudas?
            </label>
        </div>
        <div class="col-md-12">
            <label for="" class="text-title">
                Resolvemos tus dudas {{getTypeEventString()}}
            </label>
        </div>
        <div class="col-md-12 mb-12">
            <label for="" [class.btn-active]="isPublic" class="mitadEspacio" (click)="isPublic = true">
                PREGUNTAS PÚBLICAS
            </label>
            <label for="" [class.btn-active]="!isPublic" class="mitadEspacio" style="padding-left:30px;"
                (click)="isPublic = false">
                SOLICITUDES DE PREGUNTAS
            </label>
        </div>
    </div>
    <div class="row m-t-20">
        <app-preg-publicas class="col-12" [faqs]="faqsPublics" *ngIf="isPublic"></app-preg-publicas>
        <app-preg-solicitud class="col-12" [faqs]="faqsSolicited" *ngIf="!isPublic"></app-preg-solicitud>
    </div>
</div>

<app-modal [(isOpen)]="isOpen" (onClosed)="closeModal()" [small]="true" (onAction)="save()" textButton="Publicar">
    <input type="file" id="image-uploadd" (change)="upload($event, 'profile')" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="dataForm">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control">Escribe tu pregunta</label>
                            <textarea class="form-control h-mobile" rows="5" formControlName="question">

                                    </textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control">Escribe tu respuesta</label>
                            <textarea class="form-control h-mobile" rows="5" formControlName="answer">

                                    </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <label class="label-control">Agrega una foto</label>
                        <div class="gift-image-container mr-4 mt-4">
                            <i class="fas fa-plus iconoAgregar" (click)="onUpload($event, 'image-uploadd')"></i>
                            <input type="file" hidden id='new-gift-image'>
                            <div class="cardArticulo-img-top card-img-top rounded-0 img-back" [ngStyle]="{
                                         'background-image': 'url('+file+')',
                                         'background-size': 'cover',
                                         'background-repeat': 'no-repeat'
                                     }"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-modal>