.text-subtitle {
    font-weight: 100;
    color: #6c757d;
    font-size: 14px;
}

.mb-12 {
    margin-bottom: -12px;
}

.text-title {
    font-weight: 300;
    font-size: 18pt;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-20 {
    margin-top: 20px;
}
.h-mobile {
    @media screen and (max-width: 500px) {
        height: 90px !important;
    }
}
.btn-uniko-strong {
    color: #fff;
    background-color: #ff604e;
    border-color: #ff604e;
}

.btn-nt-radius {
    border-radius: 0px !important;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
}

.card-header-buttons {
    float: right;
    margin-top: -16px;
    right: 0px;
    // text-align: right;
    margin-right: -16px;
    .btn-group {
        display: block;
        float: right;
    }
    .icon-text {
        display: block;
        float: left;
        img {
            margin-top: 10px;
            margin-left: 10px;
            width: 25px;
        }
    }
}

.date-text {
    font-size: 10pt;
    color: #fc7667;
}

.names-text {
    font-size: 11pt;
    font-weight: 500;
    text-transform: capitalize;
}

.comment-link {
    color: #bb1d2c;
    ;
    text-decoration: underline;
}

.disabled-comment {
    opacity: 0.5;
}

.small {
    width: 40px;
}

.img {
    width: 100%;
    img {
        width: 100%;
    }
}

.card-columns {
    column-count: 1;
}

::ng-deep {
    .cdk-overlay-container {
        z-index: 99999999 !important;
    }
    /*.cdk-overlay-pane {
        width: 400px !important;
    }*/
    .mat-dialog-container {
        padding: 0px 15px !important;
    }
    .mat-input-element {
        caret-color: #fc7667 !important;
    }
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: #333333 !important;
    }
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: #fc7667 !important;
    }
    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #fc7667 !important;
        ;
    }
}

.containerPrincipal {
    width: 100%;
}


/* ------- CheckBox --------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fc7667;
    border: 2px solid #fc7667;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fc7667;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #FFF;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.colorUniko {
    color: #fc7667 !important;
}

.bg-uniko {
    background-color: #fc7667;
}

.acomodoArt {
    /*position: absolute;*/
    background-color: #ffffff;
    padding: 7px;
    color: #adadad;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*margin-left: -32px;*/
}

.editarArt {
    /*position: absolute;*/
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*margin-left: -220px;
    margin-top: 160px;*/
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.borrarArt {
    /*position: absolute;*/
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*margin-left: -220px;
    margin-top: 190px;*/
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.sombraCuadros {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)!important
}
.mitadEspacio {
    font-size: 12px !important; 
    color: #6c757d;
    &.btn-active {
        color: #ff604e;
        text-decoration:underline;
        font-weight:600;
    }
}
@media only screen and (max-width:500px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sombraCuadros {
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .175)!important;
    }
    .mitadEspacio {
        width: 50% !important;
        margin-top: 30px !important;
        font-size: 10px !important; 
        color: #6c757d;
    }
    .containerPrincipal {
        position: fixed;
        height: 100% !important;
        width: 100% !important;
        top: 0px;
        left: 0px;
        background-color: #FFFFFF;
        margin: 0px !important;
        padding: 10px !important;
    }
    .paddingBotones {
        padding-left: 10px !important;
        padding-right: 20px !important;
    }
}

.gift-image-container{    
    padding: 10px;
    position: relative;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px !important;
    .img-back {
        height: 212px !important;
        background-color: #dddddd !important;
        border: 1px dashed #333333 !important;
    }
    .iconoAgregar {
        position: absolute;
        background-color: #fc7667;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #FFFFFF;
        cursor: pointer;
        bottom: 0px;
        right: 0px;
    }
    .gift-image{
        padding: 0;
        img{
            max-width: 100%;
        }
    }
}