<div class="container-fluid p-0 m-0 h-100">
    <div class="row h-100  m-0 p-0">
        <div class="col-12 col-lg-5 m-0 p-0">
            <div class="image-fluid" [ngStyle]="{
                    'background-image': 'url(./../../assets/img/onboarding/'+image+')'
                }">
                <div class="icon">
                    <img src="./../../assets/img/logo-white.png" alt="">
                </div>
                <div class="title mb-3">
                    {{ title }}
                </div>
                <div class="subtitle">
                    {{ subtitle }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 mobile-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>