:host {
    .icon {
        text-align: left;
        padding-top: 60px;
        padding-bottom: 15px;
        margin-left: 10px;
    }
    .title {
        text-align: left;
        margin: 10px;
        font-size: 12pt;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    .subtitle {
        text-align: left;
        margin: 10px;
        font-size: 20pt;
        font-weight: 500;
        color: white;
        margin-top: 0px;
        top: -9px;
        position: relative;
    }
    .image-fluid {
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: 100%;
        height: 100%;
        padding-left: 40px;
        @media screen and (max-width: 500px) {
            background-image: none;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 240px;
            background-color: #fc7667;
        }
    }
    .mobile-0 {

    }
}