.footer_top_holder, footer #lang_sel > ul > li > a, footer #lang_sel_click > ul > li > a {
    background-color: #494949;
    position: relative;
}
.four_columns {
    width: 100%;
}

.four_columns>.column1, .four_columns>.column2, .four_columns>.column3, .four_columns>.column4 {
    width: 25%;
    float: left;
    @media screen and (max-width: 500px) {
        width: 100%;
        float: left;
        ul {
            padding-left: 0px;
        }
    }
}

.footer_top p, .footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_shortcode):not(.qode_icon_font_elegant), .footer_top li, .footer_top .textwidget, .footer_top .widget_recent_entries>ul>li>span {
    font-size: 12px;
    line-height: 20px;
    list-style-type: none;
}
.marginds {
    padding: 20px;
    color: #cccccc;
    @media screen and (max-width: 500px) {
        padding-bottom: 0px;
    }
}

.normal_social {
    i {
        font-size: 18px;
        @media screen and (max-width: 500px) {
            font-size: 22px;
        }
    }
}



.m-b-m-2 {
    margin-bottom: 2px;
}

.margind-20 {
    padding: 20px;
    @media screen and (max-width: 500px) {
        padding-bottom: 0px;
        ul {
            margin-bottom: 0px;
        }
    }
}

.color-text {
    color: #949494 !important;
}

.four_columns {
    .column1 {
        .column_inner {
            padding: 0 15px 0 0;
        }
    }
}