<div class="row m-0 justify-content-center">    
    <app-steps class="col-12 p-0" step="2" totalSteps="3"></app-steps>
</div>
<div class="row m-0 justify-content-center">    
  <div class="col-12 col-md-8 col-lg-6 p-0" *ngIf="couple">
    <form [formGroup]="cashoutForm">
      <div class="row justify-content-center m-0">
        <div class="col-12 col-md-8 col-lg-6">
            <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Detalles de pago</p>
        </div>
      </div>
      <div class="row m-0">
          <div class="col-12 mt-5" style="background-color: #fc76671f;">
              <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align: center; font-weight: 600;">
                  Confirma tu crédito
              </p>
              <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">
                  Monto
              </p>
              <p class="mb-3" style="text-align:center; font-size:16px; margin:0px;">
                  {{credit.amount | currency}}
              </p>
              <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">
                Tasa
              </p>
              <p class="mb-3" style="text-align:center; font-size:16px; margin:0px;">
                  {{ commision }}%
              </p>
              <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">
                  Plazo
              </p>
              <p class="mb-3" style="text-align:center; font-size:16px; margin:0px;">
                  {{credit.msi}} {{credit.msi!=1?'meses':'mes'}} de {{ getAmountPayment | currency }}
              </p>
          </div>
        <!--<div class="col-12">
            <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; font-weight: 600;">
                Datos para transferencia
            </p>
            <div class="input-group mb-3">
              <input class="form-control" type="number" formControlName="clabe" placeholder="CLABE">
            </div>
        </div>-->
        <div class="col-12 mb-3">
          <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; font-weight: 600;">
              Nombre de tarjetahambiente
          </p>
          <div class="input-group">
            <input class="form-control" [maxlength]="50" [minlength]="4" type="text" formControlName="fullname">
          </div>
        </div>
        <div class="col-12 mb-3">
          <p class="p-0 m-0 mt-3 txt-uniko"style="font-size: 13px; font-weight: 600;">
              Número de tarjeta
          </p>
          <div class="input-group">
            <input class="form-control"  (keyup)="validCard()"  [maxlength]="type.card" [minlength]="type.card" type="text" formControlName="card">
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <label for="" class="txt-uniko label-control">
            Fecha vencimiento
          </label>     
          <div class="row">
            <div class="col-6">
              <select [class.submit]="submit" formControlName="month" class="form-control" name="" id="">
                <option value="">Seleccione mes</option>
                <option [value]="_month" *ngFor="let _month of months">{{ _month }}</option>
              </select>
            </div>
            <div class="col-6">
              <select [class.submit]="submit" formControlName="year" class="form-control" name="" id="">
                <option value="">Seleccione año</option>
                <option [value]="_year" *ngFor="let _year of years">{{ _year }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <label for="" class="txt-uniko label-control">
            CVC
          </label>
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <input class="form-control" [(maxlength)]="type.cvc" [(minlength)]="type.cvc" formControlName="cvc" type="password" placeholder="****">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 pt-5">
        <div class="col-12 col-md-6 text-center">
          <button class="btn w-100" (click)="goto('credit-request')" type="button">Regresar</button>
        </div>
        <div class="col-12 col-md-6 text-center">
          <button class="btn btn-uniko w-100" (click)="setStepOne()" type="button">Continuar</button>
        </div>
      </div>    
    </form>      
  </div>
</div>
