<nav class="navbar navbar-light bg-white m-content">
    <a class="navbar-link title-menu" routerLink="/{{url}}/site" routerLinkActive="/{{url}}/site">{{ getTitle() }}</a>
    <ul *ngIf="guest" class="nav justify-content-center hidden-mobile">
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GIFT_TABLE')" routerLinkActive="active" routerLink="/{{url}}/gift-table"
                class="nav-link">Mesa de regalos</a>
            <a href="" [class.inactive]="!isActive('GIFT_TABLE')" *ngIf="!isActive('GIFT_TABLE')"
                routerLinkActive="active-link" routerLink="/{{url}}/gift-table" class="nav-link">Mesa de regalos</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GUEST_BOOK')" routerLinkActive="active" routerLink="/{{url}}/guest-book"
                class="nav-link">Guest book</a>
            <a href="" [class.inactive]="!isActive('GUEST_BOOK')" *ngIf="!isActive('GUEST_BOOK')"
                routerLink="/{{url}}/guest-book" class="nav-link">Guest book</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('QUESTIONS')" routerLinkActive="active" routerLink="/{{url}}/questions"
                class="nav-link">Preguntas frecuentes</a>
            <a href="" [class.inactive]="!isActive('QUESTIONS')" *ngIf="!isActive('QUESTIONS')"
                routerLink="/{{url}}/questions" class="nav-link">Preguntas frecuentes</a>
        </li>
    </ul>
    <ul *ngIf="!guest" class="nav justify-content-center hidden-mobile">
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GIFT_TABLE')" routerLinkActive="active" routerLink="/gift-table"
                class="nav-link">Mesa de regalos</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GUEST_BOOK')" routerLinkActive="active" routerLink="/guest-book"
                class="nav-link">Guest book</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('QUESTIONS')" routerLinkActive="active" routerLink="/questions"
                class="nav-link">Preguntas frecuentes</a>
        </li>
    </ul>
    <!-- <ul class="nav justify-content-center hidden-mobile">
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GIFT_TABLE')" routerLinkActive="active" routerLink="/gift-table" class="nav-link">Mesa de regalos</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('GUEST_BOOK')" routerLinkActive="active" routerLink="/guest-book" class="nav-link">Guest book</a>
        </li>
        <li class="nav-item nav-menu">
            <a href="" *ngIf="isActive('QUESTIONS')" routerLinkActive="active" routerLink="/questions" class="nav-link">Preguntas frecuentes</a>
        </li>
    </ul> -->
    <i (click)="open = true" class="material-icons show-mobile">
        dehaze
    </i>
</nav>
<div class="menu-white" *ngIf="open">
    <nav class="navbar navbar-light bg-white m-content">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/img/logo.png" width="120" height="30" alt="">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <button (click)="open = false" class="btn my-2 my-sm-0" type="button">
                <i class="material-icons">
                    clear
                </i>
            </button>
        </form>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" [class.inactive]="!isActive('GIFT_TABLE')" *ngIf="isActive('GIFT_TABLE')" routerLinkActive="active"
            routerLink="/{{url}}/gift-table" class="nav-link">Mesa de regalos</a>
        <a href="" [class.inactive]="!isActive('GIFT_TABLE')" *ngIf="!isActive('GIFT_TABLE')"
            routerLinkActive="active-link" routerLink="/{{url}}/gift-table" class="nav-link">Mesa de regalos</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" [class.inactive]="!isActive('GUEST_BOOK')" *ngIf="isActive('GUEST_BOOK')" routerLinkActive="active"
            routerLink="/{{url}}/guest-book" class="nav-link">Guest book</a>
        <a href="" [class.inactive]="!isActive('GUEST_BOOK')" *ngIf="!isActive('GUEST_BOOK')"
            routerLink="/{{url}}/guest-book" class="nav-link">Guest book</a>
    </nav>
    <nav class="navbar navbar-light bg-white m-content">
        <a href="" [class.inactive]="!isActive('QUESTIONS')" *ngIf="isActive('QUESTIONS')" routerLinkActive="active"
            routerLink="/{{url}}/questions" class="nav-link">Preguntas frecuentes</a>
        <a href="" [class.inactive]="!isActive('QUESTIONS')" *ngIf="!isActive('QUESTIONS')"
            routerLink="/{{url}}/questions" class="nav-link">Preguntas frecuentes</a>
    </nav>
</div>