.m-content {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3px;
    // padding-bottom: 50px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.title-menu {
    font-size: 18pt;
    color: #272727;
    font-weight: 700;
}
.navbar-light a {
    color: #272727;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;
    &.active {
        color: #fc7667;
    }
    &.inactive {
        color:#afafaf !important;
    }
}
.nav-menu a {
    color: #272727;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 600;
    &.active {
        color: #fc7667;
    }
    &.inactive {
        color:#afafaf !important;
    }
}

:host {
    .color-b {
        color: black;
    }
    .menu-white {
        display: none;
    }
    @media screen and (max-width: 500px) {
        .menu-white {
            position: absolute;
            width: 100%;
            top: 0px;
            background: white;
            z-index: 99999;
            height: -webkit-fill-available;
            padding-top: 20px;
            display: block;
        }    
    }
}