:host {
    .modal-site-fade {
        position: fixed;
        top: 0;
        width: 100%;
        background: #495057;
        z-index: 99;
        height: 100%;
        opacity: 0.7;
        display: none;
        left: 0;
        &.open {
            display: initial;
        }
    }
    .mobile-size {
        @media screen and (max-width: 500px){
            font-size: 10pt !important;
        }
    }
    .modal-site {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 100%;
        text-align: center;
        display: none;
        left: 0;
        &.open {
            display: initial;
            @media screen and (max-width: 500px) {
                overflow: auto;
            }
            .content {
                background: white;
                position: absolute;
                top: 6%;
                width: 35%;
                left: 60%;
                border-radius: 5px;
                text-align: left;
                max-height: 80%;
                overflow: auto;
                @media screen and (max-width: 500px) {
                    top: 0px;
                    width: 100%;
                    left: 0;
                    border-radius: 0;
                    display: block;
                    overflow: auto;
                    max-height: 100%;
                    min-height: 100%;
                }
                .form-data {
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-bottom: 50px;
                    display: grid;
                    @media screen and (max-width: 500px) {
                        padding-top: 70px;
                    }
                }
                .buttons {
                    display: flow-root;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    @media screen and (max-width: 500px) {
                        padding: 10px;
                        box-shadow: 0px 0 10px -2px #ddd;
                        margin-bottom: 20px;
                        position: fixed;
                        width: 100%;
                        z-index: 150;
                        background: white;
                    }
                }
            }
        }
    }
}