<form [formGroup]="cashoutForm">
    <div class="col-12">
        <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Datos de retiro</p>
        <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">A gozar su dinero acumulado</p>
        <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">{{ 'total' | uppercase }}</p>
        <p class="p-0 m-0 txt-uniko" style="font-size:26px; text-align:center; font-weight:600;">{{ total | currency }}</p>      
        <p *ngIf="getPremium()" class="p-0 m-0 mt-3 txt-uniko" style="font-size: 12px; font-weight: 600;">Puedes solicitar el retiro de tus regalos en {{ plan?.totalCashouts }} ocasiones sin costo.</p>
        <p class="p-0 m-0" *ngIf="!isPremium" style="font-size: 13px;">Toma en cuenta que el tercer retiro se realizará al cierre de tu mesa, 1 mes después de tu evento. </p>
        <p class="p-0 m-0 mt-2 txt-uniko" style="font-size: 11px;">* El depósito estará listo de 8 a 10 días HÁBILES una vez realizada la solicitud.</p>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 col-12">
            <div class="row p-t-10">
                <div class="col-12">
                  <label for="" class="label-control">
                    Nombre del tarjetahabiente
                  </label>
                  <input  maxlength="30" [class.submit]="submit" formControlName="name" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row p-t-10">
                <div class="col-12">
                  <label for="" class="label-control">
                    Banco
                  </label>
                  <input  maxlength="30" [class.submit]="submit" formControlName="bank" type="text" class="form-control">
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-12">
              <div class="row p-t-10">
                  <div class="col-12">
                    <label for="" class="label-control">
                      Cuenta clabe
                    </label>
                    <input  maxlength="18" minlength="18" [class.submit]="submit" formControlName="numberBank" type="text" class="form-control">
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-12">
              <div class="row p-t-10">
                  <div class="col-12">
                    <label for="" class="label-control">
                        Monto
                    </label>
                    <input  maxlength="30" [class.submit]="submit" formControlName="amount" type="number" class="form-control">
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="" class="label-control">
                Adjuntar mi identificación oficial
            </label>
          </div>
          <div class="col-12 col-md-6">
            <select class="form-control" formControlName="typeDocument" name="typeDocument" id="">
              <option value="INE">INE</option>
              <option value="PASAPORTE">PASAPORTE</option>
              <option value="CEDULA">CÉDULA PROFESIONAL</option>
              <option value="RESIDENCIA">TARJETA DE RESIDENCIA</option>
            </select>
          </div>
          <div class="col-12 col-md-3 text-center">
              <button [class.btn-error]="errorFrontend" *ngIf="!imageFrontend" class="btn btn-white btn-md px-2 col-centered peview" style="width: 100%" (click)="onUpload($event, 'frontend')" type="button">Subir frente</button>
              <input type="file" id="frontend" (change)="upload($event, 'frontend')" style="display: none;"> 
              <img class="peview" *ngIf="imageFrontend" [src]="imageFrontend" height="40" alt="">
              <a *ngIf="imageFrontend" class="font-w m-l-20" (click)="deleteImg($event, 'frontend')" href="">
                <i  style="font-size: 11px;color: red;" class="fas fa fa-trash mr-1"></i>
              </a>
          </div>
          <div class="col-12 col-md-3 text-center">
              <button [class.btn-error]="errorBackend" *ngIf="f.typeDocument.value == 'INE'" [class.hidden]="imageBackend" class="btn peview btn-white btn-md px-2 col-centered" style="width: 100%" (click)="onUpload($event, 'backend')" type="button">Subir reverso</button>
              <input type="file" id="backend" (change)="upload($event, 'backend')" style="display: none;">
              <img class="peview" *ngIf="imageBackend" [src]="imageBackend" height="40" alt="">
              <a *ngIf="imageBackend" class="font-w m-l-20" (click)="deleteImg($event, 'backend')" href="">
                <i  style="font-size: 11px;color: red;" class="fas fa fa-trash mr-1"></i></a>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 font-size-9">
              <br> Te pedimos tu identificación como medio de seguridad paravalidar el proceso de retiro. Para más información visita
              <a href="https://uniko.co/politica-de-privacidad" target="_blank">www.uniko.co/politica-de-privacidad</a>
            </div>
        </div>
        <div class="row m-t-20">
          <div class="col-4 hidden-mobile">
            &nbsp;
          </div>
          <div class="col-12 col-md-4">
              <button class="btn btn-uniko btn-md px-2 col-centered" style="width: 100%" (click)="next()" type="button">Continuar</button>
          </div>
        </div>
    </div>
</form>