.m-t-20 {
    margin-top: 20px;
}

.font-size-9 {
    font-size: 9pt;
}

.btn-white {
    color: #504f4f !important;
    background-color: #fff !important;
    border-color: #504f4f!important;
}

.hidden {
    display: none;
}

.block {
    display: block;
    font-size: 10pt;
}

.m-l-20 {
    margin-left: 10px;
}

.btn-error {
    border: 1px solid red !important;
}

@media only screen and (max-width: 500px) {
    .peview {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}