<div class="containerPrincipal2">
    <form [formGroup]="onboardingForm">
        <div class="row m-0">
            <div class="col-12 p-t-content">
                <div class="row overflow-auto w-100 m-0">
                    <div class="col-12 contenedorUnikoAgradece">
                        <div class="col-12 py-3 px-1">
                            <div class="row m-0 p-0">
                                <div class="col-12 pt-5 m-0 mb-3 hidden-mobile">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        {{getMessage()}}
                                    </p>
                                </div>
                                <div class="col-12 slider-progress">
                                    <div class="containerSteps col-centered">
                                        <ul class="progressbar" style="margin-left: -40px;">
                                            <li class="active done"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 p-0 m-0 mb-3 show-mobile">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        {{getMessage()}}</p>
                                </div>
                                <div class="col-2 p-0 m-0">&nbsp;</div>
                                <div class="col-12 col-md-8 col-lg-8 p-0 m-0">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="input-group no-select">
                                                <span class="text-url">
                                                    https://uniko.co/
                                                </span>
                                                <input type="text" urlValid formControlName="url"
                                                    class="form-control m-url" placeholder="{{getPlaceHolder()}}"
                                                    aria-label="Recipient's username" [class.submit]="submitted">
                                            </div>
                                            <label *ngIf="submitted && f.url.status === 'INVALID'" for=""
                                                class="notification">
                                                {{
                                                    f.url.errors.url
                                                }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 p-0 m-0">&nbsp;</div>

                                <div class="col-12 p-0 m-0 mt-3 mb-3">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:14px;">
                                        Sugerencias</p>
                                </div>

                                <div (click)="selectURL($event, sugges)"
                                    class="col-12 col-md-4 col-lg-4 mb-4 txt-uniko opciones pointer text-center"
                                    *ngFor="let sugges of suggestionsUrl">{{ sugges }}</div>


                                <div class="col-2 col-md-3 mt-4 mb-3">&nbsp;</div>
                                <div class="col-8 col-md-6 col-lg-6 col-centered mt-4 mb-3">
                                    <button (click)="next()" class="btn btn-uniko btn-block"
                                        type="button">Comenzar</button>
                                </div>
                                <div class="col-2 col-md-3 mt-4 mb-3">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>