<div class="row shadow-sm px-4 py-2 bg-white rounded m-0">
    <div class="col p-0 ">
        <ul class="pseudo-list m-0 p-0">
            <li class="pseudo-list-item">
                <button class="nav-link" [class.txt-uniko]="currentVisible==0" (click)="currentVisible=0;" mat-button
                    style="border:0px; outline: 0px !important; font-size: 13px;">TODOS</button>
            </li>
            <li class="pseudo-list-item">
                <button class="nav-link" [class.txt-uniko]="currentVisible==2" (click)="currentVisible=2;" mat-button
                    style="border:0px; outline: 0px !important; font-size: 13px;">RESPONDIDOS</button>
            </li>
            <li class="pseudo-list-item">
                <button class="nav-link" [class.txt-uniko]="currentVisible==1" (click)="currentVisible=1;" mat-button
                    style="border:0px; outline: 0px !important; font-size: 13px;">PENDIENTES</button>
            </li>
        </ul>
    </div>
    <div class="col-auto p-0" style="justify-self: flex-end;">
        <button type="button" (click)="colapsa('Orden')" class="btn btn-outline-dark justify-self-end rmHover"
            style="font-size:12px; font-weight:500;">
            <i class="fas mr-2 fa-sliders-h"></i>Ordenar por
            <div id="collapseOrden" data-toggle="down"
                style="position:absolute; display:none; z-index:9999; margin-left:-11px; margin-top:3px;">
                <ul class="list-group ulEstilos">
                    <li class="list-group-item" (click)="setPreviewOrder(3); ">Nombre</li>
                    <li class="list-group-item" (click)="setPreviewOrder(1); ">Fecha</li>
                    <li class="list-group-item" (click)="setPreviewOrder(2); ">Precio</li>
                </ul>
            </div>
        </button>
    </div>
</div>
<br />
<div class="row m-0">
    <div class="col-12 px-4 padding0">
        <div class="mb-3 rounded gift-dedication" (click)="!gift.responded?openModal(gift):false;"
            [class.unresponded]="!gift.responded" [class.hidden]="setVisible(gift)"
            *ngFor="let gift of coupleInformation.giftList">
            <div class="col-12 py-3 px-4">
                <div class="row" style="align-items: flex-end;">
                    <div class="col-12 col-md-3">
                        <div class="row m-0">
                            <div class="col-6 col-md-12 p-0">
                                <p class="p-0 m-0 txt-uniko">{{eventFormatDate(gift.date)}}</p>
                            </div>
                            <div class="col-6 col-md-12 p-0">
                                <p class="p-0 m-0">{{gift.givers[0]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 txt-info italic">
                        <p class="m-0 p-0 text-wrap text-break">
                            {{gift.message}}
                        </p>
                    </div>
                    <div class="col-9 col-md-3 text-center">
                        <div class="col-6 col-md-12 p-0 mt-2" *ngIf="gift.gift.received > 1">
                            <p class="p-0 m-0 txt-uniko">{{gift.gift.received}} regalos</p>
                        </div>
                        <div class="col-6 col-md-12 p-0">
                            <h4 class="m-0 p-0 cantidadNum">{{gift.gift.price |  currency}}</h4>
                        </div>

                    </div>
                    <div class="col-3 col-md-1 text-center">
                        <p *ngIf="!gift.responded" class="m-0 p-0 txt-uniko" style="vertical-align:bottom;"><i
                                class="fa fa-edit"></i></p>
                        <p class="m-0 p-0 txt-info" *ngIf="gift.responded"><i class="fa fa-check"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal *ngIf="selectedGift" [(isOpen)]="isOpen" (onClosed)="closeModal()" (onAction)="save()" textButton="Agradecer"
    [noPadding]="true" [closeHeader]="true">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="row overflow-auto w-100 m-0 pb-3">
                <div class="col-12 contenedorUnikoAgradece" style="border-bottom:1px solid #fc7667;">
                    <div class="col-12 pt-3">
                        <div class="row mb-3">
                            <div class="col-12 col-md-4 p-0 m-0 ">
                                <p class="p-0 m-0 txt-uniko" style="font-size: 10px; font-weight:700; ">
                                    {{eventFormatDate(selectedGift.date)}}</p>
                                <p class="p-0 m-0 font-size14">{{selectedGift.givers[0]}}</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="row mb-3">
                                    <div class="col p-0">
                                        <p class="p-0 m-0" style="font-size: 10px; font-weight:700; ">Dedicatoria</p>
                                        <p class="p-0 m-0 font-size14">{{selectedGift.message}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-2 pl-0">
                                        <img src="{{selectedGift.gift.image}}" class="card-img" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-10 p-0">
                                        <p class="p-0 m-0 txt-uniko" style="font-size: 10px; font-weight:700; ">
                                            #{{selectedGift.orderFakeId}}</p>
                                        <p class="p-0 m-0" style="font-size:12px;">{{selectedGift.gift.name}} </p>
                                        <p class="p-0 m-0" style="font-size:12px; font-weight:700;">
                                            ${{selectedGift.gift.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12 py-3 px-1">
                        <p class="p-0 m-0" style="font-size: 10px; font-weight:700; ">Dedicatoria</p>
                        <textarea matInput placeholder="Escriban unas palabras de agradecimiento por su regalo"
                            [(ngModel)]="currentMessage" style="min-height:70px;" class="w-100"></textarea>
                        <p class="p-0 m-0 txt-uniko" style="font-size: 10px;">* Su agradecimiento les llegará a sus
                            invitados por email.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>
