:host{
    p,h1,h2,h3,h4,h5,span,label{
        cursor: inherit;
    }
    .pseudo-list{
        list-style: none;
        .pseudo-list-item{
            display: inline-block;
        }
    }
}

.nav-item {
    margin-right: 10px;
}

.selecFiltro {
    text-decoration: underline;
    font-weight: 600;
}

.font-size14 {
    font-size: 14px;
}

.cantidadNum {
    font-size: 14px;
    font-weight: 600;
}

.circulo {
    width: 8px;
    height: 8px;
    border: 1px solid #fc7667;
    border-radius: 8px;
    float: right;
}

.lleno {
    background-color: #fc7667;
}

.contenedorUniko {
    border: 1px solid #fc7667;
    background-color: #fc76671f;
    height: 90px;
    cursor: pointer;
}

.contenedorUnikoAgradece {
    background-color: #fc76671f;
    width: 100%;
}

.lineaUniko {
    width: 4px;
    height: 100%;
    background-color: #fc7667;
    float: left;
}

.gift-dedication{
    border: 1px solid #DDDDDD;
    padding-left: 8px;
    position: relative;
    overflow: hidden;
    cursor: default;
    &:before{
        content: "";
        position: absolute;
        width: 8px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #DDD;
    }
    &.unresponded{
        border-color: #fc7667;
        cursor: pointer;
        &:before{
            background-color: #fc7667;
        }

    }
    &.hidden{
        display: none !important;
    }
}

.contenedorGris {
    border: 1px solid #DDDDDD;
    height: 90px;
}

.lineaGris {
    width: 4px;
    height: 100%;
    background-color: #DDDDDD;
    float: left;
}

.rmHover:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.rmHover:hover li {
    color: #333333;
}

.list-group-item {
    padding: 0.75rem 2rem !important;
}

.card-img{
    width: 100%;
    max-height: 68px;
    object-fit: contain;
}

.controls-container{
    height: 15px;
    position: relative;
    .action{
        position: absolute;
        right: 15px;
        cursor: pointer;
        line-height: 0;
        display: block;
        top: 50%;
        transform: translateY(-50%);
    }
}

.f-h{
    height: 100%;
}


@media only screen and (max-width:370px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .botonesSub {
        background-color: transparent;
        border: 0px;
        outline: 0px !important;
        font-size: 12px;
        padding-top: 15px;
    }
    .botOpciones {
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
        border: 0px;
        padding: 14px 0px;
        padding-left: 10px;
        border-left: 2px solid #333333;
    }
    .padding0 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .contenedorUniko {
        border: 1px solid #fc7667;
        background-color: #fc76671f;
        height: 80px;
        cursor: pointer;
    }
    .contenedorUniko .col-10 {
        position: absolute;
    }
    .contenedorUniko .col-12 {
        padding: 10px 15px !important;
    }
    .contenedorUniko .col-1 {
        padding-top: 0px !important;
        float: right;
        position: unset;
        margin-left: -60px !important;
    }
    .contenedorGris {
        border: 1px solid #DDDDDD;
        height: 80px;
    }    
}