<form [formGroup]="planForm">
        <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
            Completa este formulario
        </p>
        <div class="row p-t-10">
          <div class="col-6 col-sm-6">
            <label for="" class="label-control">
              Email
            </label>
            <input (keyup)="validCard()" maxlength="40" formControlName="email" type="text" class="form-control">
          </div>
          <div class="col-6 col-sm-6">
            <label for="" class="label-control">
              Teléfono
            </label>
            <input maxlength="10" formControlName="phone" type="text" class="form-control">
          </div>
        </div>
        <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Nombre en tarjeta
              </label>
              <input maxlength="30" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Número de tarjeta
              </label>
              <input (keyup)="validCard()" [maxlength]="type.card" [minlength]="type.card" formControlName="numberCard" type="text" class="form-control">
            </div>
        </div>
        <div class="row p-t-10">
            <div class="col-6 col-md-8">
                <label for="" class="label-control">
                        Fecha vencimiento
                </label>
              <div class="row">
                <div class="col-6">
                   <select formControlName="month" class="form-control" name="" id="">
                     <option value="">Seleccione mes</option>
                     <option [value]="_month" *ngFor="let _month of months">{{ _month }}</option>
                   </select>
                </div>
                <div class="col-6">
                    <select formControlName="year" class="form-control" name="" id="">
                      <option value="">Seleccione año</option>
                      <option [value]="_year" *ngFor="let _year of years">{{ _year }}</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4">
                <label for="" class="label-control">
                    cvc
                </label>
              <div class="row">
                <div class="col-12">
                    <input [maxlength]="type.cvc" [minlength]="type.cvc" formControlName="cvc" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 pb-3">
            <div class="col-12">
              <mat-checkbox>
                <a target="_blank" href="https://www.segurossura.com.mx/alianzas/uniko/" class="txt-uniko" style="font-size: 10pt;">Acepto términos y condiciones</a>
              </mat-checkbox>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-12 col-md-2 m-t-10">
                <button style="width: 120px;" class="btn btn-uniko btn-md px-2 col-centered" (click)="payment()" type="button">Pagar</button>
            </div>
          </div>
</form>

