<div class="containerPrincipal2">
    <form>
        <div class="row m-0">
            <div class="col-12 p-t-content">
                <div class="row overflow-auto w-100 m-0">
                    <div class="col-12 contenedorUnikoAgradece">
                        <div class="col-12 py-3 px-1">
                            <div class="row m-0 p-0">
                                <div class="col-12 pt-5 m-0 mb-3 hidden-mobile">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        {{getTitle()}}</p>
                                    <p>
                                        {{getMessage()}}
                                    </p>
                                </div>
                                <div class="col-12 slider-progress">
                                    <div class="containerSteps col-centered">
                                        <ul class="progressbar" style="margin-left: -40px;">
                                            <li class="active done"></li>
                                            <li class="active done"></li>
                                            <li class="active"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 p-0 m-0 mb-3 show-mobile">
                                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">
                                        {{getTitle()}}</p>
                                    <p>
                                        {{getMessage()}}
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center m-0">
                                <div class="col-12 col-sm-10 col-md-8 p-0">
                                    <div class="row w-100">
                                        <div class="col-6 col-md-4 pointer" *ngFor="let ex of experiences"
                                            (click)="add(ex)">
                                            <img [src]="ex.img" class="card-img" alt="..." [ngStyle]="{
                                                        'opacity': ex.selected ? '0.7' : '1'
                                                    }">
                                            <button class="btn btn-image" *ngIf="!ex.selected">
                                                +
                                            </button>
                                            <button class="btn btn-image active" *ngIf="ex.selected">
                                                -
                                            </button>
                                            <p class="title-img">
                                                {{ ex.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 col-md-2 mt-4 mb-3 hidden-mobile">&nbsp;</div>
                                <div class="col-12 col-md-4 mb-2">
                                    <button (click)="next(false)" class="btn btn-uniko-white btn-block"
                                        type="button">Omitir</button>
                                </div>
                                <div class="col-md-4 col-12mb-2">
                                    <button (click)="next(true)" class="btn btn-uniko btn-block"
                                        type="button">Comenzar</button>
                                </div>
                            </div>
                            <!-- <div class="col-2 col-md-3 mt-4 mb-3">&nbsp;</div>
                                    <div class="col-8 col-md-6 col-lg-6 col-centered mt-4 mb-3">
                                        <button (click)="next()" class="btn btn-uniko btn-block" type="button">Comenzar</button>
                                    </div>
                                    <div class="col-2 col-md-3 mt-4 mb-3">&nbsp;</div> -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>