<app-header-logo></app-header-logo>
<app-header-payment></app-header-payment>
<div class="card" style="display: block;background: #fbd1cd66;min-height: 90px;">
  <div class="card-img-overlay" style="padding-top: 25px;">
    <h5 class="card-title" style="text-transform: uppercase;font-size: 22pt; text-align: center; font-weight: 100;">
      ¡Felicidades por contratar tu seguro!
    </h5>
  </div>
</div>
<div class="row" style="padding-top: 35px;">
  <div class="col-12">
    <div class="containerSteps col-centered">
      <ul class="progressbar p-0">
        <li class="active2">
        Contratación de plan
      </li>
      <li class="active2">
        Confirmación de pago
      </li>
      <li class="active">
        Llenar datos de los asegurados
      </li>
      </ul>
    </div>
  </div>
</div>


<p class="text-center info-title">
  ESTÁS A UN PASO.
  <br>
  SÓLO NECESITAMOS SABER UN POCO MÁS DE TI 
</p>
<div class="col-12">
  <form [formGroup]="registerForm">
    <div class="row section-info">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-6 col-xs-12">
            <label for="" class="label-control">
              Contratante
            </label>
            <input maxlength="30" noDigits pattern="[^0-9]*" formControlName="name" type="text" class="form-control">
          </div>
          <div class="col-6 col-xs-12">
            <label for="" class="label-control">
              RFC contratante
            </label>
            <input maxlength="14" formControlName="rfc" type="text" class="form-control">
          </div>
        </div>
        <div class="row pt-2 pb-2">
          <div class="col-6 col-xs-12 info-sub">
            *Nombre completo del contratante, no es forzosamente el del
            asegurado, es quien lo paga y a nombre de quien se facturaría
            en caso de requerir factura
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <label for="" class="label-control">
              Domicilio contratante
            </label>
            <input maxlength="200" formControlName="address" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="row section-life pt-5 pb-5">
      <div class="col-10 offset-1">
        <div class="row pt-2 pb-5 pt-5">
          <div class="col-12 col-xs-12 title-section">
            <i class="fas fa-user"></i> Asegurado 1
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Nombre
            </label>
            <input maxlength="30" noDigits pattern="[^0-9]*" formControlName="name2" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Apellido paterno
            </label>
            <input maxlength="30" formControlName="lastName" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Apellido materno
            </label>
            <input maxlength="30" formControlName="secondLastName" type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Fecha de nacimiento
            </label>
            <mat-form-field style="width:100%; height: 30px; border: 0px;">
                <input matInput [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="Fecha de nacimiento">
                <owl-date-time #dt3></owl-date-time>
            </mat-form-field>
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Edad
            </label>
            <input maxlength="30" formControlName="age" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Sexo
            </label>
            <select class="form-control" formControlName="gender" name="" id="">
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>
        <div class="row pt-2 pb-5 pt-5" *ngIf="!plan?.one">
          <div class="col-12 col-xs-12 title-section">
            <i class="fas fa-user"></i> Asegurado 2
          </div>
        </div>
        <div class="row" *ngIf="!plan?.one">
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Nombre
            </label>
            <input maxlength="30" noDigits pattern="[^0-9]*" formControlName="name3" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Apellido paterno
            </label>
            <input maxlength="30" formControlName="lastName2" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Apellido materno
            </label>
            <input maxlength="30" formControlName="secondLastName2" type="text" class="form-control">
          </div>
        </div>
        <div class="row" *ngIf="!plan?.one">
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Fecha de nacimiento
            </label>
            <mat-form-field style="width:100%; height: 30px; border: 0px;">
              <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Fecha de nacimiento">
              <owl-date-time #dt2></owl-date-time>
            </mat-form-field>
          </div>
          <div class="col-4 col-xs-12">
            <label for="" class="label-control">
              Edad
            </label>
            <input maxlength="30" formControlName="age2" type="text" class="form-control">
          </div>
          <div class="col-4 col-xs-12" *ngIf="!plan?.one">
            <label for="" class="label-control">
              Sexo
            </label>
            <select class="form-control" formControlName="gender2" name="" id="">
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 pt-5 pb-5">
      <div class="col-12 col-md-12 text-center">
        <button class="btn btn-uniko" (click)="save()" type="button">Enviar</button>
      </div>
    </div> 
  </form>
</div>
