:host {
    .section-uniko-off {
        opacity: 0.5;
    }
    .info {
        background-color: #FEF2F1;
        display: flow-root;
        padding-bottom: 23px;
        .section {
            margin-top: 10px;
            box-shadow: 8px 0 8px #ddd;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            .content-buttons-float {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0px;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
        }
        
    }
    .title-description {
        font-weight:700; 
        font-size:3.5rem; 
        margin-bottom: 20px;
        @media screen and (max-width: 500px) {
            font-size:1.9rem;
            margin: 0px;
            margin-bottom: 20px;
        }
    }
    .text-event-align-right {
        text-align: right;
        @media screen and (max-width: 500px) {
            text-align: center;
        }
    }
    .text-event-align-left {
        text-align: left;
        @media screen and (max-width: 500px) {
            text-align: center;
        }
    }
    .bar-separe {
        width:5px; 
        height:80px;
        @media screen and (max-width: 500px) {
            width: 25%;
            height: 5px;
            margin: 20px;
        }
    }
    .display {
        display: block;
    }
    .text-info-sub {
        p {
            font-size: 14pt;
            @media screen and (max-width: 500px) {
                font-size: 10pt;
                margin-bottom: 5px !important;
            }
        }
    }
}