<div class="containerPrincipal" style="width:350px; padding: 20px;">
    <div class="row">
        <div class="col-12 pr-0">
            <h1 class="title2 mb-5">Lo sentimos esta sección no está disponible</h1>
            <p class="align-middle" style="margin-bottom: 0px !important;">
                <small class="font-weight-bold">¿Aún no cuentas con Uniko Premium?</small>
            </p>
            <p class="mb-3">
                Consulten los planes y hagan su cuenta Premium ahora mismo para activar su Mesa de Regalos.
            </p>
        </div>
        <div class="col-12 p-20 text-center" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="true" routerLink="/profile/planes" class="btn btn-uniko align-content">
                Hacer nuestra cuenta Premium
            </button>
        </div>
    </div>
</div>