<div class="containerPrincipal2" style="width: 850px;">
    <div class="row">
        <div class="col-12 p-20 shadow-sm" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn">
                  Cancelar
              </button>
            <button mat-button [mat-dialog-close]="true" class="btn btn-uniko float-right">
                  Guardar
              </button>
        </div>
        <div class="col-12 pr-0">
            <div class="row overflow-auto w-100">
                <div class="col-6 pr-0 mt-2">
                    <div id="1" class="mt-4" style="float: left; width:40%; margin-right: 2.2rem !important;">
                        <i class="fas fa-times iconoBorrar" (click)="quitarFoto()"></i>
                        <img src="https://s3-us-west-2.amazonaws.com/uniko-prod/tmp/images/1468511766669?timestamp=1468511769153" class="cardArticulo-img-top card-img-top rounded-0" style="width:180px; height:180px;" alt="...">
                    </div>
                    <div class="mt-4" style="float: left; width:40%; margin-right: 2.2rem !important;">
                        <i class="fas fa-plus iconoAgregar" (click)="agregarFoto()"></i>
                        <div class="cardArticulo-img-top card-img-top rounded-0" style="width:180px; height:180px; background-color: #dddddd; border:1px dashed #333333;"></div>
                    </div>
                    <div class="mt-4" style="float: left; width:40%; margin-right: 2.2rem !important;">
                        <i class="fas fa-plus iconoAgregar" (click)="agregarFoto()"></i>
                        <div class="cardArticulo-img-top card-img-top rounded-0" style="width:180px; height:180px; background-color: #dddddd; border:1px dashed #333333;"></div>
                    </div>
                    <div class="mt-4" style="float: left; width:40%; margin-right: 2.2rem !important;">
                        <i class="fas fa-plus iconoAgregar" (click)="agregarFoto()"></i>
                        <div class="cardArticulo-img-top card-img-top rounded-0" style="width:180px; height:180px; background-color: #dddddd; border:1px dashed #333333;"></div>
                    </div>
                </div>
                <div class="col-6 pr-0 mt-2">
                    <div class="card border-0" style="height:475px; background-color:transparent !important;">
                        <div class="card-body p-0">
                            <form>
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Nombre de Producto" value="">
                                </mat-form-field>
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Precio" value="">
                                </mat-form-field>
                                <textarea matInput placeholder="Descripción" style="height: 110px;"></textarea>
                                <mat-form-field style="width:100%;">
                                    <mat-label>Tienda</mat-label>
                                    <select matNativeControl>
                                    <option value="Mercado Libre">Mercado Libre</option>
                                    <option value="Disenia">Disenia</option>
                                      <option value="Luuna">Luuna</option>
                                      <option value="Weplan">Weplan</option>
                                      <option value="Uniko">Uniko</option>
                                      <option value="Mezcales Medida">Mezcales Medida</option>
                                      <option value="Clickonero">Clickonero</option>
                                      <option value="Sofamatch">Sofamatch</option>
                                      <option value="Nezt">Nezt</option>
                                  </select>
                                </mat-form-field>
                                <mat-form-field style="width:100%;">
                                    <mat-label>Categoría</mat-label>
                                    <select matNativeControl>
                                      <option value="Cocina">Cocina</option>
                                      <option value="Transporte">Transporte</option>
                                      <option value="Muebles">Muebles</option>
                                      <option value="Decoración">Decoración</option>
                                      <option value="Electrodomésticos">Electrodomésticos</option>
                                      <option value="Blancos">Blancos</option>
                                      <option value="Línea Blanca">Línea Blanca</option>
                                      <option value="Deporte">Deporte</option>
                                      <option value="Electrónicos">Electrónicos</option>
                                      <option value="Cruceros">Cruceros</option>
                                      <option value="Tours">Tours</option>
                                      <option value="Paquetes">Paquetes</option>
                                      <option value="Hospedaje">Hospedaje</option>
                                      <option value="Equipaje">Equipaje</option>
                                      <option value="Experiencias">Experiencias</option>
                                      <option value="Varios">Varios</option>
                                      <option value="Uniko">Uniko</option>
                                      <option value="Bebés">Bebés</option>
                                      <option value="Cocinar en pareja">Cocinar en pareja</option>
                                      <option value="Facilitarse la vida">Facilitarse la vida</option>
                                      <option value="Tarde de películas">Tarde de películas</option>
                                  </select>
                                </mat-form-field>
                                <mat-form-field style="width:100%;">
                                    <mat-label>Cantidad</mat-label>
                                    <select matNativeControl>
                                      <option value="0">0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      </select>
                                </mat-form-field>
                                <mat-checkbox>Añadir a Preferidos</mat-checkbox>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>