<div class="header">
        <app-navigation-menu [off]="off" [guest]="guest" [public]="public" [couple]="couple" [menus]="menus" [menuKey]="menuKey" [plan]="auth"></app-navigation-menu>
        <app-header-action *ngIf="!noActions && !off" [guest]="guest" [buttons]="buttons" [menu]="menu"></app-header-action>
        <app-notice *ngIf="!guest && !off" [menuKey]="menuKey" [plan]="auth" [menus]="menus"></app-notice>
</div>