:host {
    .bg-white {
        background-color: white !important;
    }
    
    .navbar-link {
        font-size: 10pt;
        font-weight: 100;
    }

    .w-25 {
        width: 25%;
        @media screen and (max-width: 500px) {
            width: 100% !important;
        }
    }
    
    .title {
        margin-bottom: 0px;
    }
    
    .grid {
        display: block;
    }

    .checked-menu {
        margin-bottom:6px;
        @media screen and (max-width: 500px) {
            margin-bottom: 0px;
        }
    }
    
    .m-contend {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        height: 49px;
        box-shadow: 0 0 2px #ddd;
        @media screen and (max-width: 500px) {
            padding-left: 10px;
            padding-right: 5px;
        }
    }
    
    .w-75,
    .w-25 {
        float: left;
    }
    
    .navbar .title {
        font-size: 14pt;
        font-weight: 100;
    }
    
    .title2 {
        font-size: 1.7rem;
        color: #fc7667;
        font-weight: 300;
    }
    
    .menu-ico {
        margin-left: 10px;
        width: 30px !important;
        text-align: center;
    }
    
    .menu-right {
        background: #ffeeed;
        position: fixed;
        float: right;
        right: 0px;
        z-index: 99999;
    }
    
    .icon-close {
        margin-right: 15px;
        margin-top: 10px;
    }
    
    .link {
        color: #3e3e3e;
    }
    
    .link-title {
        color: black;
    }
    
    //------------- Mostrar/Ocultar ---------------------//
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #999;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 2px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #fc7667;
        border: 2px solid #fc7667;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #fc7667;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: #FFF;
    }
    
    
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .btn-menuDer {
        font-size: 16px;
        text-align: left;
        font-weight: 200;
    }
    
    hr {
        margin: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .3);
    }
    
    .colorUniko {
        color: #fc7667 !important;
    }
    
    ::ng-deep {
        .cdk-overlay-container {
            z-index: 99999999 !important;
        }
        /*.cdk-overlay-pane {
            width: 400px !important;
        }*/
        .mat-dialog-container {
            padding: 0px 15px !important;
        }
        .mat-input-element {
            caret-color: #fc7667 !important;
        }
        .mat-form-field-underline {
            /*change color of underline*/
            background-color: #333333 !important;
        }
        .mat-focused .mat-form-field-label {
            /*change color of label*/
            color: #fc7667 !important;
        }
        .mat-form-field-ripple {
            /*change color of underline when focused*/
            background-color: #fc7667 !important;
            ;
        }
    }
    
    .containerPrincipal {
        width: 980px;
    }
    
    .tituloArticulo {
        font-size: 26px;
        font-weight: 200;
        color: #444444;
        margin-bottom: 0px;
    }
    
    .editarArt {
        background-color: #f2aba1;
        padding: 7px;
        color: #333333;
        font-size: 15px;
        text-align: center;
        line-height: 17px;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .borrarArt {
        background-color: #ed7d6d;
        padding: 7px;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        line-height: 17px;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .cardArticulo-Precio {
        font-size: .9rem !important;
        font-weight: 100;
        margin-bottom: 20px !important;
    }
    
    .precioArticulo {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
    }
    
    .select_box {
        width: 100px;
        height: 35px;
        overflow: hidden;
        border: 1px solid #cccccc;
        position: relative;
        line-height: 31px;
        border-radius: 4px;
    }
    
    .select_box:after {
        width: 10px;
        height: 10px;
        color: #fc7667;
        position: absolute;
        top: 35%;
        right: 10px;
        content: "";
        background-image: url('./../../../assets/img/arrow.png');
        background-position: center center;
        background-size: 100%;
    }
    
    .select_box select {
        width: 110px;
        height: 30px;
        border: 0;
        position: relative;
        z-index: 99;
        background: none;
        color: #aaaaaa;
    }
    
    .iconoBorrar {
        position: absolute;
        width: 31px;
        margin-left: 160px;
        margin-top: 165px;
        background-color: #FFFFFF;
        padding-top: 8px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #fc7667;
        cursor: pointer;
        height: 31px;
        text-align: center;
    }
    
    .iconoAgregar {
        position: absolute;
        margin-left: 160px;
        margin-top: 165px;
        background-color: #fc7667;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #FFFFFF;
        cursor: pointer;
    }
}