<div class="row m-0">
  <div class="col-12">
      <div id="paypal-plus"></div>  
    </div>
    <div class="col-md-3 hidden-mobile">
        &nbsp;
      </div>
    <div class="col-12 col-md-6 text-center mb-20" style="    margin-bottom: 20px;">
        <button disabled class="btn btn-md px-2"  style="margin-top:10px; width:140px;" type="button">Regresar</button>
        <button class="btn btn-uniko btn-md px-2" id="continueButton" (click)="paypalPlus.doContinue();" style="margin-top:10px; width:140px;" type="button">Realizar pago</button>
    </div>
</div>