<div class="row m-5 p-0">
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">ANTES DE QUE EMPIECE LA FIESTA</p>
        <h1 class="mb-5" style="text-align:center; font-weight:700; font-size:2.5rem;">Algunas cosas que necesitas saber del evento</h1>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-2 m-0 p-0">&nbsp;</div>
    <div class="col-8 m-0 p-0 mt-4">
        <div class="m-0 p-0 mb-3 bg-white rounded-0" style="box-shadow:0px 0px 10px #DADADA;">
            <div class="card-body p-3">
                <h5 class="m-0 p-0 txt-uniko">
                    <i class="fas fa-chevron-down float-right txt-uniko" style="padding-top:3px;"></i> ¿Cuál es el código de vestimenta?
                </h5>
            </div>
        </div>
        <div class="m-0 p-0 mb-3 bg-white rounded-0" style="box-shadow:0px 0px 10px #DADADA;">
            <div class="card-body p-3">
                <h5 class="m-0 p-0 txt-uniko">
                    <i class="fas fa-chevron-down float-right txt-uniko" style="padding-top:3px;"></i> ¿Cuál es el código de vestimenta?
                </h5>
            </div>
        </div>
        <div class="m-0 p-0 mb-3 bg-white rounded-0" style="box-shadow:0px 0px 10px #DADADA;">
            <div class="card-body p-3">
                <h5 class="m-0 p-0 txt-uniko">
                    <i class="fas fa-chevron-down float-right txt-uniko" style="padding-top:3px;"></i> ¿Cuál es el código de vestimenta?
                </h5>
            </div>
        </div>
    </div>
    <div class="col-2 m-0 p-0">&nbsp;</div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-4 mt-5" style="font-size:16px; font-weight:600; text-align:center;"><a class="m-0 p-0 text-danger" style="text-decoration: underline;" href="">Ver todo acerca del evento</a></p>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
</div>