<div class="container-fluid mobile-fluid">
  <div class="row m-0">
    <div class="col-12 pt-5 mobile-p-0">
      <div class="row overflow-auto w-100 m-0">
        <div class="col-12 contenedorUnikoAgradece">
          <div class="col-12 py-3 px-1">
            <div class="row m-0 p-0 hidden-mobile">
                <div class="col-12 p-0 m-0 mb-5">
                    <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">Elige tu evento!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <select [(ngModel)]="type" class="form-control">
                          <option [value]="type.code" *ngFor="let type of types">{{ type.type }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8 col-lg-6 mt-3 mb-3">
                <a [routerLink]="['/onboarding', 'register', getSelectedUrl() ]" href="#" class="btn btn-uniko btn-block" >Regístrar mi {{getSelectedString()}}!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
