.title1 {
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: 100;
}

.ArtSelec {
    border: 1px solid red !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

.title2 {
    font-size: 1.7rem;
    color: #333333;
    font-weight: 300;
}

.text-secondaryBco:hover {
    color: #fff !important;
}

.containerPrincipal {
    width: 980px;
}

.acomodoArt {
    position: absolute;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0px 0px 10px #cccccc;
    color: #adadad;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
}

.editarArt {
    position: absolute;
    background-color: #fc7667;
    padding: 7px;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 188px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
    @media screen and (max-width: 500px) {
        margin-top: 90px;
    }
}

.editarArtMas {
    position: absolute;
    background-color: #fc7667;
    padding: 2px;
    color: #FFFFFF;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 205px;
    font-size: 7px;
    text-align: center;
    line-height: 7px;
    border-radius: 10px;
    @media screen and (max-width: 500px) {
        margin-top: 134px;
    }
}

.borrarArt {
    position: absolute;
    background-color: #ed7d6d;
    padding: 7px;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 160px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
    @media screen and (max-width: 500px) {
        margin-top: 119px;
    }
}

.merLibArt {
    position: absolute;
    background-color: #f7e000;
    padding: 1px;
    width: 30px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    background-image: url('./../../../assets/img/mLibre.png');
    background-size: 100%;
    background-position: center;
}

.precioArticulo {
    font-size: 1rem !important;
}

.cardArticulo {
    width: 220px;
    float: left;
    border: 0px;
    margin-bottom: 1rem;
    border: 1px solid #FFFFFF;
    @media screen and (max-width: 500px) {
        width: 150px;
    }
}

.lineaColor {
    border-color: #fc7667 !important;
    color: #9e9e9e !important;
}

.lineaColor:hover {
    background-color: #fc7667 !important;
}

.cardArticulo-title,
.cardArticulo-text {
    font-size: .9rem !important;
    font-weight: 100;
    margin: 0px !important;
}

.cardArticulo-body {
    padding: 20px 5px 10px 5px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.cardArticulo-img-top {
    border-radius: 0px !important;
    min-height: 218px;
    max-height: 218px;
    @media screen and (max-width: 500px) {
        min-height: 150px;
        max-height: 150px;
    }
}