<div class="card-articulo card" id="{{ art2.id }}">
    <div class="card-articulo-imagen noselect">
        <img [src]="art2.image" (click)="viewItem(art2.id)" class="cardArticulo-img-top card-img-top" alt="...">
        <div *ngIf="art2.isMercadolibre === true" class="merLibArt"></div>
        <button class="btn btn-uniko btn-md btn-add" (click)="addItem(art2.id)" type="button">+ Agregar</button>
        <button class="btn-view" (click)="viewItem(art2.id)" type="button">
            <i class="material-icons white">
                visibility
            </i>
        </button>
    </div>
    <div class="card-articulo-contenido card-body">
        <h5 class="cardArticulo-title card-title text-truncate">{{ art2.name }}</h5>
        <p class="cardArticulo-text card-text" style="margin-top:3px;">{{ store }}</p>
        <p class="cardArticulo-text card-text">
            <small class="float-left precioArticulo font-weight-bold">{{ art2.price | currency }}</small>
        </p>
    </div>
</div>