.title1 {
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: 100;
}

.card-articulo-imagen{
    position: relative;
}

.ArtSelec {
    border: 1px solid red !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

.card-groupAncho {
    width: 720px;
}

.title2 {
    font-size: 1.7rem;
    color: #333333;
    font-weight: 300;
}

.text-secondaryBco:hover {
    color: #fff !important;
}

.containerPrincipal {
    width: 980px;
}

.acomodoArt {
    position: absolute;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0px 0px 10px #cccccc;
    color: #adadad;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
}

.editarArt {
    position: absolute;
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
    margin-top: 160px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.borrarArt {
    position: absolute;
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
    margin-top: 190px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.merLibArt {
    position: absolute;
    background-color: #f7e000;
    padding: 1px;
    width: 30px;
    height: 35px;
    margin-left: 180px;
    margin-top: -220px;
    border-radius: 0px 0px 3px 3px;
    background-image: url('./../../../assets/img/mLibre.png');
    background-size: 100%;
    background-position: center;
}

.precioArticulo {
    font-size: 1rem !important;
}

.cardArticulo {
    border: 0px;
    margin-bottom: 1rem;
    border: 1px solid #FFFFFF;
}

.lineaColor {
    border-color: #fc7667 !important;
    color: #9e9e9e !important;
}

.lineaColor:hover {
    background-color: #fc7667 !important;
}

.cardArticulo-title,
.cardArticulo-text {
    font-size: .9rem !important;
    font-weight: 100;
    margin: 0px !important;
}

.cardArticulo-body {
    padding: 20px 5px 10px 5px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
}

.btn-add{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 5px 20px;
    width: 80%;
    width: fit-content;
    vertical-align: middle;
}

.card-articulo {
    height: 100%;
    // border: none !important;
    .card-articulo-imagen{
        position: relative;        
        img{
            min-height: 128px;
            object-fit: contain;
            max-width: 100%;            
        }
    }

    .card-articulo-contenido{
        display: inline-block;
    }
}

.btn-view{
    display: inline-block;
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    /* padding: 5px; */
    /* width: 80%; */
    /* width: -webkit-fit-content; */
    width: -moz-fit-content;
    /* width: fit-content; */
    /* vertical-align: middle; */
    background-color: #ffffff80;
    line-height: normal;
    /* vertical-align: middle; */
    color: #00000050;
}

.cardArticulo-img-top {
    border-radius: 0px !important;
}

@media screen and (max-width: 500px) {
    .btn.btn-uniko {
        padding: 5px 5px;
    }
}