<div class="p-5" style="background-color: #FEF2F1;">
    <div class="row m-0 p-0">
        <div class="col-4 m-0 p-0">&nbsp;</div>
        <div class="card col-4 m-0 p-0">
            <div class="card-header bg-unikoClaro text-dark m-0 p-1 text-center" style="font-weight: 600; font-size:12px;">
                ¡PREPÁRENSE! YA FALTA POCO…
            </div>
            <div class="card-body p-2 m-0">
                <div class="row p-0 m-0">
                    <div class="col-3 p-0 m-0 text-center">
                        <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">00</h3>
                        <p class="p-0 m-0">Días</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                        <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">00</h3>
                        <p class="p-0 m-0">Días</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                        <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">00</h3>
                        <p class="p-0 m-0">Días</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                        <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">00</h3>
                        <p class="p-0 m-0">Días</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 m-0 p-0">&nbsp;</div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-3 m-0 p-0">&nbsp;</div>
        <div class="col-6 m-0 p-0">
            <h1 style="text-align:center; font-weight:700; font-size:3.5rem; margin: 0px 100px;">The best is yet to come</h1>
            <p style="text-align:center;">We’re getting married<br>Come raise a glass to the happy couple </p>
            <p class="m-0 p-0 mt-5 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">LOS ESPERAMOS</p>
            <div class="row m-0 p-0">
                <div class="col-5 m-0 p-0">
                    <p class="m-0 p-0" style="text-align:right;">Sábado, 12 Abril 2019</p>
                    <p class="m-0 p-0" style="text-align:right;">5:00PM - 3:00AM</p>
                </div>
                <div class="col-2 m-0 p-0">
                    <div class="bg-unikoClaro mx-auto" style="width:5px; height:80px;"></div>
                </div>
                <div class="col-5 m-0 p-0">
                    <p class="m-0 p-0" style="text-align:left; font-size:14px; font-weight:700;">{{ 'restaurante paseo colón' | uppercase }}</p>
                    <p class="m-0 p-0" style="text-align:left;">Artículo 123 #1313, Hidalgo<br>Nuevo Laredo, Tamps.<br>México
                    </p>
                    <a href="#">Ver en Google Maps</a>
                </div>
            </div>
        </div>
        <div class="col-3 m-0 p-0">&nbsp;</div>
    </div>
</div>