<div class="row m-0 justify-content-center">    
    <app-steps class="col-12 p-0" step="3" totalSteps="3"></app-steps>
</div>
<div class="row m-0" *ngIf="commissionSet"> 
    <div class="col-12">
        <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Confirma tus datos</p>
    </div>
    <div class="col-12 col-md-6">
        <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
            Ustedes solicitan:
        </p>
        <p class="p-0 m-0 mt-1" style="font-size: 13px; text-align:right; font-weight: 600;">
            {{ 'monto' | uppercase }}
        </p>
        <p class="p-0 m-0 txt-uniko" style="font-size: 24px; text-align:right; font-weight: 600;">
            {{ credit.amount | currency }}
        </p>
    </div>
    <div class="col-12 col-md-6">
        <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
            Información de pago
        </p>
        <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
            Numero de tarjeta
        </p>
        <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
            {{ credit.cardNumber }}
        </p>
        <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
            Cantidad a pagar
        </p>
        <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
            {{ paymentAmount | currency }} / mes
        </p>
        <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
            Plazo
        </p>
        <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
            {{credit.msi}} {{credit.msi!=1?'meses':'mes'}}
        </p>    
        
    </div>
</div>
<div class="row m-0 pt-5" *ngIf="commissionSet"> 
    <div class="col-12 col-md-6">
        <button class="btn btn-md px-2 float-right" routerLink="/cashout/credit-info" type="button">Regresar</button>
    </div>
    <div class="col-12 col-md-6">
        <button class="btn btn-uniko btn-md px-2" (click)="save()" type="button">Aplicar credito</button>
    </div>
</div>