<app-header-logo></app-header-logo>
<div class="card bg-dark text-white">
  <img src="./../../../assets/img/recortada.jpg" class="card-img" alt="...">
  <div class="card-img-overlay" style="padding-top: 150px;">
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>
<p style="font-size: 22pt;" class="text-center info-title p-5">
  GRACIAS POR CONTRATAR <strong>"{{ plan?.name }}"</strong>
  <br>
</p>
<p style="font-size: 14pt;" class="text-center info-title p-5">
    {{ plan?.description }}
</p>