<div class="content-plans">
    <div class="row m-0">
        <div class="col-12">
            <h3 style="font-size:1.55rem;">Elijan un plan</h3>
            <p class="p-0 m-0 mb-5" style="font-size: 12px;">Armen la mesa de regalos de sus sueños.</p>
        </div>
        <div class="col-12 mb-2 ml-0 pl-0">
            <div class="row m-0">
                <div class="col-12 ml-0">
                  <app-plan *ngFor="let _plan of plans" [isPaid]="_plan.isPaid" [plan]="_plan"></app-plan>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-5 ml-0 pl-0" style="border-top: 1px solid #fc7667;">
        <div class="row m-0">
            <div class="col-12 py-3 px-4">
                <div class="row m-0">
                    <div class="col-6 p-0 m-0">
                        <p class="p-0 m-0 txt-uniko" style="font-size: 13px; font-weight:700;">Información de pago</p>
                        <p class="p-0 m-0" style="font-size:12px;">{{ plan?.name }}</p>
                        <p class="p-0 m-0" style="font-size: 12px;">{{ plan?.lastCard }}</p>
                    </div>
                    <div class="col-4 p-0 pl-4 m-0" style="padding-top:20px !important;">
                        <p class="p-0 m-0" style="font-size: 13px; font-weight:700;">Fecha de inscripción</p>
                        <p class="cantidadNum">{{ plan?.date | date : 'dd/MMM/yyyy' }}</p>
                    </div>
                    <div class="col-2 m-0" style="padding-top:20px; padding-right:0px; text-align:left;">
                        <p class="p-0 m-0" style="font-size: 13px; font-weight:700;">Total</p>
                        <p class="cantidadNum" *ngIf="!plan?.isBack">{{ price | currency }}</p>
                        <p class="cantidadNum" *ngIf="plan?.isBack">{{ 'Pagado' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>