:host {
    .section-uniko-off {
        opacity: 0.5;
    }
    .info {
        display: flow-root;
        margin-top: 15px;
        .section {
            margin-top: 10px;
            box-shadow: 8px 0 8px #ddd;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            .content-buttons-float {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0px;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
        }
    }
    .fotoGaleria {
        margin: 1rem;
        max-height: 225px;
        @media screen and (max-width: 500px) {
            margin: 10px;
        }
    }
    .images {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .m-s-5 {
        margin: 3rem !important;
        @media screen and (max-width: 500px) {
            margin: 0.5rem !important;
        }
    }
    .text-title {
        text-align:center; 
        font-weight: 700; 
        font-size: 2.5rem;
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }
    }


    .photo-gallery{
        margin: 0 -35px;
        .gallery-form{
            .image-container{
                position: relative;
                img{
                    max-height: 9em;
                    width: 100%;
                    object-fit: contain;
                }
                &.empty{
                    border: 2px dashed #999999;
                }
            }
            button.action{
                font-size: 11px;
                vertical-align: middle;
                line-height: 1;
                background-color:#ddd;
                border: none;
                border-radius: 50%;
                position: absolute;
                right: -8px;
                bottom: -8px;
                height: 25px;
                width: 25px;
                box-shadow: 0px 0px 10px #999999;
                &.add{
                    color: #FFF;
                    background-color: #fc7667;
                }
                &.remove{
                    color: #fc7667;
                    background-color: #FFF;
                }
            }
            .color-anchor{
                font-size: 11px;
                color: #4485fb;
                .fa,.fas{
                    color: #FFF;
                    border-radius: 50px;
                    background-color: #4485fb;
                    padding: 4px;
                    font-size: 0.8em;
                    line-height: normal;
                    vertical-align: middle;
                    margin-right: 5px;
                    height: 17px;
                    width: 17px;
                }
            }
        }
    }
}