:host{
    $templateMaxWidth: calc(1024px * .5833333);
    $templateMaxWidthMobile: 425px;
    $templateMinWidth: calc(1024px * .5833333);
    $templateMinWidthMobile: 425px;
    $templateMinHeight: calc(1024px * .5);

    position: relative;
    width: 100%;
    background: white;
    z-index: 99999;
    height: 100%;
    .overflow-atuo{
        overflow-y: scroll;
    }
    .command-block{
        border-bottom: 1px solid #fc7667;
        .commands{
            .btn{
                margin: 0 1.5em;
                color: #fc7667;
                border: 1px solid transparent;
                &:focus{
                    outline: none;
                }
                &.selected{ 
                    border-color: #fc7667;
                }
            }
        }
    }
    .editable{
        h1.pointer,p.pointer{
            /*no select*/
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /*no select*/
            border-width: 1px;
            border-style: solid;
            border-color: #00000032;
            cursor: pointer;
            min-height: 30px;
            border-radius: 0.4rem;
            padding: 2px;
            &:hover{
                background-color: #00000032;
            }
            &.selected{
                border-color: #fc7667;
                border-style: solid;
                background-color: #fc766732;
            }
        }
    }
    .sh-mobile {
        display: none;
    }
    &.active-edition{
        display: block;
    }
    .m-t-10 {
        margin-top: 10px;
    }
    .opacity {
        opacity: 0.4;
    }
    .opacityAll {
        opacity: 0;
    }
    .editor-container{
        position: relative;
        overflow: hidden;
        margin: 0 auto; 
        align-items: stretch;
        max-width: $templateMaxWidth;
        min-width: $templateMinWidth;
        min-height: $templateMinHeight;
        &.mobile{
            max-width: $templateMaxWidthMobile;
            min-width: $templateMinWidthMobile;
            min-height: unset;
        }
    }

    .sub-header{
        position: relative;
        .title{
            display: block;
            padding: 15px;
        }
        .back-button{
            position: absolute;
            top: 7.5px;
            left: 15px;
        }
        .save-button{
            position: absolute;
            top: 7.5px;
            right: 15px;
        }
    }    
    .hidden {
        display: none;
    }
    .content-edit {
        margin-top: 5px;
    }
    .content-edition{
        border-left: 1px solid #CCC;
    }
    .desing-option{
        padding: 25px;
        &:not(:last-child){
            border-bottom: 1px solid #fc7667;
        }
        label{
            font-size: 10px;
            font-weight: 700;
        }
    }
    .option{        
        color: #CCC;
        border-top: 2px;        
        border-bottom: 2px;
        border-right: 2px;
        border-left: 0;
        border-style: solid;
        border-color: #CCC;
        font-weight: 700;
        &.selected{
            background-color: #fc7667;
            color: white;
        }
        a{
            padding: 25px;
            text-decoration: none;
            cursor: pointer;
            display: block;
            text-align: center;
        }
    }
    textarea{
        border: 1px solid #00000032;
    }
    ul.color-options{
        position: relative;
        display: flex;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 40px;
        li{
            list-style: none;   
            height: 30px;
            width: 30px;
            border: 1px solid #000;
            border-radius: 50%;            
            &:not(:last-of-type){
                margin-right: 20px;
            }
            &.option-selected{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    height: 32px;
                    width: 32px;
                    border: 3px solid #fc7667;
                    border-radius: 50%;
                }
            }
        }
        .color-sketch{
            max-width: 320px;
            position: relative;
            margin: 20px auto;
            .close-sketch{
                display: inline-block;
                position: absolute;
                cursor: pointer;
                right: -9px;
                top: -9px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #FFF;
                box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 8px 16px rgba(0,0,0,.15);
                padding: 0px 4px;
                i{
                    color: rgba(0,0,0,.25);
                }
            }
        }
    }
    .content-background-canvas{
        margin: 0 -15px;
        padding: 10px;
        img{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 500px) {
        .content-edition {
            display: none;
            &.mobile-active {
                overflow-x: auto;
                position: fixed;
                z-index: 999;
                background: white;
                height: 100%;
                display: initial;
            }
        }
        .sh-mobile {
            display: block;
        }
        .h-mobile {
            display: none;
        }
    }
}
.h-mobile {
    display: block;
}
.btn-text {
    padding: 5px;
    float: left;
    font-size: 9pt;
    width: 25px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    &.active {
        background: #e9ecef;
        border: solid 1px #ccc;
    }
}

.editor-border {
    border-bottom: 1px solid #fc7667;
    padding-bottom: 20px;
}

.hard-svg{
    width: 100%;
}
.labels-fonts {
    font-size: 8pt;
    color: #6c757d;
    display: block;
    &.black {
        color: black;
    }
}
.b-none {
    border: none;
}

.uniko-template.fill{
    fill:red;
}
