<div class="row m-0">
    <div class="col-12 shadow-sm p-0 bg-white rounded mb-3">
        <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Canasta de compra</h6>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="false" #retiraCred1>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active"></li>
                            <li class="active2"></li>
                            <li class="active2"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Detalle de artículo</p>
                </div>
                <div class="col-12 m-0 mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ 'artículo' | uppercase }}</th>
                                <th scope="col">{{ 'precio' | uppercase }}</th>
                                <th align="center" style="text-align: center;" scope="col">{{ 'cantidad' | uppercase }}</th>
                                <th scope="col">{{ 'total' | uppercase }}</th>
                                <th scope="col">{{ '' | uppercase }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:40%;">
                                    <div class="row p-0 m-0">
                                        <div class="col-3 m-0 p-0">
                                            <img src="https://s3-us-west-2.amazonaws.com/uniko-prod/tmp/images/1468511766669?timestamp=1468511769153" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-8 m-0 ml-2 p-0">
                                            <p class="p-0 m-0" style="font-size:18px;">Bateria De Cocina Tramontina 18 Pcs Primaware Sartenes 18 Pcs Roja</p>
                                            <p class="p-0 m-0 mb-2 txt-uniko" style="font-size: 10px; font-weight:700;">Mercadolibre</p>
                                            <p class="p-0 m-0" style="font-size:12px; font-weight:700;">Categoría</p>
                                            <p class="p-0 m-0" style="font-size:14px;">Cocina</p>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:10%;">
                                    <p class="p-0 m-0" style="font-size:18px; font-weight:600;">$5,600</p>
                                </td>
                                <td style="width:20%;" class="">
                                    <div class="input-group col-centered">
                                        <input type="button" value="-" class="button-minus" data-field="quantity">
                                        <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                        <input type="button" value="+" class="button-plus" data-field="quantity">
                                    </div>
                                </td>
                                <td style="width:10%;">
                                    <p class="p-0 m-0" style="font-size:18px; font-weight:600;">$5,600</p>
                                </td>
                                <td style="width:20%;">
                                    <button class="btn btn-uniko btn-md px-2 col-centered" style="width:120px; float:right;" type="button">Eliminar</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;">
                                    <div class="row p-0 m-0">
                                        <div class="col-3 m-0 p-0">
                                            <img src="https://s3-us-west-2.amazonaws.com/uniko-prod/tmp/images/1468511766669?timestamp=1468511769153" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-8 m-0 ml-2 p-0">
                                            <p class="p-0 m-0" style="font-size:18px;">Bateria De Cocina Tramontina 18 Pcs Primaware Sartenes 18 Pcs Roja</p>
                                            <p class="p-0 m-0 mb-2 txt-uniko" style="font-size: 10px; font-weight:700;">Mercadolibre</p>
                                            <p class="p-0 m-0" style="font-size:12px; font-weight:700;">Categoría</p>
                                            <p class="p-0 m-0" style="font-size:14px;">Cocina</p>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:10%;">
                                    <p class="p-0 m-0" style="font-size:18px; font-weight:600;">$5,600</p>
                                </td>
                                <td style="width:20%;" class="">
                                    <div class="input-group col-centered">
                                        <input type="button" value="-" class="button-minus" data-field="quantity">
                                        <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                        <input type="button" value="+" class="button-plus" data-field="quantity">
                                    </div>
                                </td>
                                <td style="width:10%;">
                                    <p class="p-0 m-0" style="font-size:18px; font-weight:600;">$5,600</p>
                                </td>
                                <td style="width:20%;">
                                    <button class="btn btn-uniko btn-md px-2 col-centered" style="width:120px; float:right;" type="button">Eliminar</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right" style="font-weight: 600;">
                                    {{ 'total' | uppercase }}
                                </td>
                                <td colspan="2" align="left" class="txt-uniko" style="font-weight: 600; font-size:18px;">
                                    {{ 11200 | currency }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-uniko btn-md px-2 col-centered" style="margin-top:70px; width:120px;" (click)="muestConten('paso1')" type="button">Regalar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-centered tamContenedor" style="width:45% !important;" [hidden]="true" #retiraCred2>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active"></li>
                            <li class="active2"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Mensaje de felicitación</p>
                </div>
                <div class="col-6 m-0 p-0">
                    <p class="p-0 m-0" style="font-size:12px; font-weight:700;">Dedicatoria</p>
                    <textarea matInput placeholder="Envía un mensaje o lindo deseo a los novios aquí." value="Envía un mensaje o lindo deseo a los novios aquí." style="height:110px; width:90% !important; border: 0px solid #eeeeee !important;"></textarea>
                </div>
                <div class="col-6 m-0 p-0">
                    <mat-form-field style="width:100%;">
                        <input matInput placeholder="De parte de:" style="border: 0px solid #eeeeee !important;" value="Ejemplo: Magda y Lucas">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <button class="btn btn-md px-2 float-right" (click)="muestConten('paso0')" style="margin-top:70px; width:120px;" type="button">Regresar</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-uniko btn-md px-2" (click)="muestConten('paso2')" style="margin-top:70px; width:140px;" type="button">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="true" #retiraCred3>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active done"></li>
                            <li class="active"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Proceso de pago</p>
                </div>
                <div class="col-3 m-0 p-0">&nbsp;</div>
                <div class="col-6 m-0 p-0">
                    <div class="row m-0 p-0 shadow-sm rounded" style="background-color:#FEF2F1;">
                        <div class="col-4 m-0 p-3" style="border-right:1px solid #888888;">
                            <p class="txt-uniko m-0 p-0">{{ 11200 | currency }}</p>
                            <p class="m-0 p-0" style="font-weight:600; font-size:13px;">{{ 'subtotal' | uppercase }}</p>
                        </div>
                        <div class="col-4 m-0 p-3" style="border-right:1px solid #888888;">
                            <p class="txt-uniko m-0 p-0">{{ 110 | currency }}</p>
                            <p class="m-0 p-0" style="font-weight:600; font-size:13px;">{{ 'comisión bancaria' | uppercase }}<i class="fas fa-info-circle txt-uniko ml-2"></i></p>
                        </div>
                        <div class="col-4 m-0 p-3">
                            <p class="txt-uniko m-0 p-0" style="font-weight: 600; font-size: 18px;">{{ 11310 | currency }}</p>
                            <p class="m-0 p-0" style="font-weight:600; font-size:13px;">{{ 'total' | uppercase }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 m-0 p-0">&nbsp;</div>
                <div class="col-12 m-0 p-0">
                    <p class="p-0 m-0 mb-2 mt-3 txt-uniko" style="font-size: 14px; text-align: center; font-weight:700;">Elige tu método de pago</p>
                </div>
                <div class="col-2 m-0 p-0">&nbsp;</div>
                <div class="col-8 m-0 p-0">
                    <mat-radio-group class="" aria-label="Select an option">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <img src="./../../assets/img/tarCredit.jpg" alt="">
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <img src="./../../assets/img/payPal.jpg" alt="">
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <img src="./../../assets/img/payPalP.jpg" alt="">
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <img src="./../../assets/img/oxxo.jpg" alt="">
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <img src="./../../assets/img/spe.jpg" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <mat-radio-button value="2"></mat-radio-button>
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <mat-radio-button value="3"></mat-radio-button>
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <mat-radio-button value="4"></mat-radio-button>
                                    </td>
                                    <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;">
                                        <mat-radio-button value="5"></mat-radio-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-radio-group>
                </div>
                <div class="col-2 m-0 p-0">&nbsp;</div>


                <div class="col-2 m-0 p-0">&nbsp;</div>
                <div class="col-4 m-0 p-0">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; text-align: left; font-weight:700;">Información de usuario</p>
                    <mat-form-field style="width:90%;">
                        <input matInput placeholder="Nombre" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="Gustavo Guerrero">
                    </mat-form-field>
                    <mat-form-field style="width:90%;">
                        <input matInput placeholder="Correo electrónico" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="ejemplo@unico.co">
                    </mat-form-field>
                    <mat-form-field style="width:90%;">
                        <input matInput placeholder="Confirmar correo" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="ejemplo@uniko.co">
                    </mat-form-field>
                    <mat-form-field style="width:90%;">
                        <input matInput placeholder="Teléfono" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="00 00 00 00">
                    </mat-form-field>
                </div>
                <div class="col-4 m-0 p-0">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; text-align: left; font-weight:700;">Información de tarjeta</p>
                    <mat-form-field style="width:100%; height: 30px; border: 0px; margin-bottom: 35px;">
                        <input matInput placeholder="Número de la tarjeta" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="0000 0000 0000 0000">
                    </mat-form-field>
                    <mat-form-field class="col-6 p-0 m-0" style="width:45%; height: 30px; border: 0px;">
                        <input matInput placeholder="País" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="País">
                    </mat-form-field>
                    <mat-form-field class="col-6 p-0 m-0 ml-4" style="width:48%; height: 30px; border: 0px;">
                        <input matInput placeholder="Ciudad" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="Ciudad">
                    </mat-form-field>
                    <div class="col-12 m-0 p-0" style="position:absolute; font-size:12px; margin-top:20px !important; color:#777777;">Fecha de Vencimiento</div>
                    <mat-form-field class="col-3 p-0 m-0 mt-3" style="width:100px;">
                        <select matNativeControl>
                                <option value="mm">mm</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="01">05</option>
                                <option value="02">06</option>
                                <option value="03">07</option>
                                <option value="04">08</option>
                                <option value="01">09</option>
                                <option value="02">10</option>
                                <option value="03">11</option>
                                <option value="04">12</option>
                            </select>
                    </mat-form-field> /
                    <mat-form-field class="col-3 p-0 m-0 mt-3" style="width:100px; margin-right: 25px !important;">
                        <select matNativeControl>
                                <option value="aa">aa</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                            </select>
                    </mat-form-field>
                    <mat-form-field class="col-3 p-0 m-0" style="width:70px; height: 30px; margin-top:25px !important; border: 0px;">
                        <input matInput placeholder="CVC" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="000">
                    </mat-form-field>
                    <mat-form-field class="col-12 p-0 m-0" style="width:50%; height: 30px; border: 0px;">
                        <input matInput placeholder="Diferir a meses" style="border: 0px solid #eeeeee !important; padding: 0px !important;" value="3 meses">
                    </mat-form-field>
                    <p class="p-0 m-0 mb-2 mt-3 txt-uniko" style="font-size: 12px; text-align: left; font-weight:400;">*Válido sólo para tarjetas de crédito <span style="font-weight:600;">(Con cargo de comisión)</span></p>
                </div>
                <div class="col-2 m-0 p-0">&nbsp;</div>
                <div class="col-12 m-0 p-0">
                    <p class="p-0 m-0 mb-2 mt-3" style="font-size: 12px; text-align: center; font-weight:400;">Todas las tarjetas de débito o crédito participan, excepto nómina Bancomer y/o nómina Banorte</p>
                </div>
                <div class="col-6">
                    <button class="btn btn-md px-2 float-right" (click)="muestConten('paso1')" style="margin-top:20px; margin-bottom:30px; width:120px;" type="button">Regresar</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-uniko btn-md px-2" (click)="muestConten('paso3')" style="margin-top:20px; margin-bottom:30px; width:140px;" type="button">Realizar pago</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-centered tamContenedor" [hidden]="true" #retiraCred4>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active done"></li>
                            <li class="active done"></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Recibo</p>
                    <div class="text-center col-12 mt-4 mb-3">
                        <img src="./../../../assets/img/OkFelicidades.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
                    </div>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">¡Felicidades!</p>
                    <p style="text-align:center; font-size:14px; margin:0px; font-weight:600;">Su pago ha sido registrado, en breve se les enviará un correo electrónico confirmando su compra.</p>
                </div>
            </div>
        </div>
    </div>
</div>