.containerSteps {
    width: 200px;
    margin-top: 100px;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.progressbar li:before {
    /* CSS for creating steper block before the li item*/
    //content: counter(step);
    //counter-increment: step;
    content: '';
    height: 12px;
    width: 12px;
    line-height: 12px;
    border: 2px solid #ffcfca;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    /* CSS for creating horizontal line*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 5px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fc7667;
}

.progressbar li.active:before {
    border-color: #fc7667;
    background-color: #FFFFFF;
}

.progressbar li.active+li:after {
    background-color: #ffcfca;
}

.progressbar li.active2 {
    color: #ffcfca;
}

.progressbar li.active2:before {
    border-color: #ffcfca;
    background-color: #FFFFFF;
}

.progressbar li.active2+li:after {
    background-color: #ffcfca;
}

.progressbar li.done {
    color: #fc7667;
}

.progressbar li.done:before {
    content: url('./../../assets/img/ok.png');
    background-size: 5px 5px;
    border-color: #fc7667;
    background-color: #fc7667;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: -6px;
}

.progressbar li.done+li:after {
    background-color: #fc7667;
}

.table th {
    padding: .75rem;
    padding-bottom: 0px !important;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
    color: #fc7667 !important;
    font-weight: 600 !important;
    font-size: .8rem !important;
    border-bottom: 2px solid #fc7667 !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

img {
    margin-left: -8px !important;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
    padding: 7px 30px;
}

.title1 {
    font-weight: 600;
}

.title2 {
    font-weight: 400;
}

::ng-deep {
    .cdk-overlay-container {
        z-index: 99999999 !important;
    }
    .mat-dialog-container {
        padding: 0px !important;
    }
    .mat-input-element {
        caret-color: #fc7667 !important;
    }
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: #333333 !important;
    }
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: #fc7667 !important;
    }
    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #fc7667 !important;
        ;
    }
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.tamContenedor {
    width: 100% !important;
}

.img-thumbnail {
    padding: 0px !important;
    background-color: transparent !important;
    border: 0px solid #dee2e6 !important;
    border-radius: 0px !important;
    max-width: 100%;
    height: auto;
}

.tamContenedor2 {
    width: 450px !important;
}

@media only screen and (max-width:370px) {
    .tamContenedor,
    .tamContenedor2 {
        width: 100% !important;
    }
}

//------------- input number ------------------
input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    width: 180px !important;
    margin: auto !important;
    padding-left: 30px;
    box-sizing: border-box;
}

.input-group input[type='button'] {
    background-color: transparent;
    color: #333333;
    width: 40px;
    transition: all 300ms ease;
    border: 0px !important;
    margin-right: 10px !important;
    font-size: 1.2rem !important;
}

.input-group .button-minus,
.input-group .button-plus {
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 40px;
    left: -10px;
    text-align: center;
    width: 40px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
    border: 1px solid #fc7667;
    border-radius: 5px;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}