<div class="row m-0">
    <div class="col-12 containerPrincipal container mt-3 mb-0">
        <div class="row col-centered m-0">
            <div class="col-12">
                <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Confirma tus datos</p>
            </div>
            <div class="col-6">
                <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
                    Van a comprar
                </p>
                <p class="p-0 m-0 mt-1" style="font-size: 13px; text-align:right; font-weight: 600;">
                    {{ plan?.name | uppercase }}
                </p>
                <p class="p-0 m-0 txt-uniko" style="font-size: 24px; text-align:right; font-weight: 600;">
                    {{ plan?.amount | currency }}
                </p>
            </div>
            <div class="col-6">
                <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
                    Información de pago
                </p>
                <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                    {{ plan?.nameCard }}
                </p>
                <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                    {{ plan?.lastCard }}
                </p>
                <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
                    Fecha de pago
                </p>
                <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
                    {{ plan?.date | date : 'dd/MMM/yyyy' }}
                </p>
            </div>
            <div class="col-6">
                <button class="btn btn-md px-2 float-right" routerLink="/pago/plan/{{plan?.conektaPlanId ? plan?.conektaPlanId : plan?.id }}"  style="margin-top:70px; width:120px;" type="button">Regresar</button>
            </div>
            <div class="col-6">
                <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width:140px;" type="button">Pagar</button>
            </div>
        </div>
    </div>
</div>