<form [formGroup]="registerForm">
    <div class="row m-0">
        <div class="col-md-2 hidden-mobile">
          &nbsp;
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              <label for="" class="label-control title-label">
                Información de usuario
              </label>
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Nombre
              </label>
              <input maxlength="30" [class.submit]="submit" formControlName="name" type="text" noDigits pattern='[^0-9]*' class="form-control">
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Teléfono
              </label>
              <input [class.submit]="submit" formControlName="phone" type="phone" digitOnly pattern='[0-9]*' maxlength="10" minlength="8" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12">
                  <label for="" class="label-control title-label">
                    &nbsp;
                  </label>
                </div>
              </div>
            <div class="row p-t-10">
                <div class="col-12">
                  <label for="" class="label-control">
                    Correo electrónico
                  </label>
                  <input maxlength="50" [class.submit]="submit" formControlName="email" type="email" class="form-control">
                </div>
              </div>
              <div class="row p-t-10">
                <div class="col-12">
                  <label for="" class="label-control">
                    Confirmar correo
                  </label>
                  <input maxlength="50" [class.submit]="submit" formControlName="confirmEmail" type="emial" class="form-control">
                </div>
              </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3 hidden-mobile">
              &nbsp;
            </div>
            <div class="col-12 col-md-6 text-center">
                <button disabled class="btn btn-md px-2"  style="margin-top:70px; width:140px;" type="button">Regresar</button>
                <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width:140px;" type="button">Realizar pago</button>
            </div>
      </div>
</form>