<div class="card text-white">
  <div class="card-img-overlay" style="padding-top: 150px;">
    <h5 class="card-title" style="font-size: 24pt;">PROTEGEMOS EL DÍA MÁS FELIZ DE TU VIDA</h5>
    <p class="card-text" style="padding-top: 30px; font-size: 18pt; font-weight: 100;">Desde el anillo hasta la luna de miel</p>
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>