:host {
    $templateMaxWidth: 1024px;
    $templateMaxWidthMobile: 425px;
    $templateMinHeight: calc(1024px * .5);

    .image-desing {
        background-size:cover; 
        background-position: center; 
        background-repeat:no-repeat; 
        width:100%; 
        height:100%;
        @media screen and (max-width: 500px) {
            max-height: 400px;
            min-height: 400px;
            background-position: center; 
        }
    }
    .extra-margin{
        margin-bottom: 60px;
    }
    .sublimazum{
        position: relative;
        overflow: hidden;
        .sublimazum-mera{
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid  #fc7667;
            @media screen and (max-width: 500px) {
                display: none;
            }
            &:before{
                content: "";
                position: absolute;
                opacity: 1;
                width: 75%;
                background-color: white;
                height: 110%;
                top: -5%;
                left: 50%;
                /* border-top: 2px solid white; */
                /* border-bottom: 2px solid white; */
                transform: translateX(-50%);
            }
            &:after{
                content: "";
                position: absolute;
                opacity: 1;
                width: 110%;
                background-color: white;
                height: 75%;
                top: 50%;
                left: -5%;
                /* border-top: 2px solid white; */
                /* border-bottom: 2px solid white; */
                transform: translateY(-50%);
            }
        }
        .sublimazum-content{
            padding: 1rem 1rem 1rem 1rem;
            @media screen and (max-width: 500px) {
                padding: 0 0 4rem 0;
            }
        }
    }
    .editor-container{
        position: relative;
        overflow: hidden;
        margin: 0 auto; 
        align-items: stretch;
        /*margin-top: 1rem; 
        @media screen and (max-width: 500px) {
            margin-top: 0; 
        }*/
        max-width: $templateMaxWidth;
        min-width: $templateMaxWidth;
        min-height: $templateMinHeight;
        &.mobile{
            max-width: $templateMaxWidthMobile;
            min-width: $templateMaxWidthMobile;
            min-height: 1024px;
        }
        .content{
            min-height: 400px;
            //background-color: #0b055c32;
        } 
        .cover{
            min-height: 400px;
            //background-color: #cccccc32;
        }
    }
}