<app-header menuKey="SAVE_DATE" [buttons]="buttons"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 p-0 extra-margin" style="overflow: auto;">
      <div class="row editor-container" [class.mobile]="!mode" *ngIf="load" [routerLink]="'/'+url+'/guest-book'">
        <div class="cover p-0 m-0" [class.col]="mode" [class.col-12]="!mode">
          <app-cover [cover]="cover" [proxy]="proxy" [content]="templateObj" [templateId]="saveDate.templateId">
          </app-cover>
        </div>
        <div class="content p-0 m-0" [class.col-7]="mode" [class.col-12]="!mode" *ngIf="templateObj.classicMode">
          <app-content [loadComplete]="load" [content]="templateObj" [templateId]="saveDate.templateId"></app-content>
        </div>
      </div>
    </div>
  </div>
</div>