:host {
    .info-title {
        font-size: 20px;
        color: #fc7667;
    }
    .subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .hoteles {
        agm-map {
            height: 100%;
            width: 100%;
        }
        .hotel-section {
            padding: 1em;
        }
        .title-500 {
            font-size: 10pt;
            font-weight: 600;
        }
        .title-100 {
            font-size: 14pt;
            color: #b7b7b7;
        }
        .sn-content {
            margin: 30px;
            text-align: center;
            padding-top: 70px;
        }
        
        .w-100 {
            width: 100% !important;
        }
        .section {
            margin-top: 10px;
            box-shadow: 8px 0 8px #ddd;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            .buttons-actions {
                text-align: right;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
            .content-buttons-float {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0px;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
        }
    }
    .txtGris {
        color: #999999;
    }
    
    .list-group-item2:first-child {
        position: relative;
        display: block;
        /*padding: .75rem 1.25rem;
        background-color: #fff;
        margin-bottom: -1px;*/
        border-bottom: 1px solid #FDA79E;
        margin-top: 0px !important;
    }
    
    .list-group-item2 {
        position: relative;
        display: block;
        /*padding: .75rem 1.25rem;
        background-color: #fff;
        margin-bottom: -1px;*/
        margin-top: 15px;
        border-bottom: 1px solid #FDA79E;
    }
    
    .sombraLista {
        -moz-box-shadow: inset 0 0 10px #FFFFFF;
        -webkit-box-shadow: inset 0 0 10px #FFFFFF;
        box-shadow: inset 0 0 10px #FFFFFF;
    }
    .title-section {
        font-size:12px; 
        font-weight:600; 
        text-align: center;
    }
    .m-s-5 {
        margin: 3rem !important;
        @media screen and (max-width: 500px) {
            margin: 0rem !important;
        }
    }
    .text-title {
        text-align:center; 
        font-weight: 700; 
        font-size: 2.5rem;
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }
    }
    .container-map {
        box-shadow:0px 0px 10px #999999;

    } 
    .diffused-content {
        box-shadow:0px 0px 10px #999999;
        @media screen and (max-width: 500px) {
            box-shadow: none;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-radius: 0px !important;
        }
    }
    .view-mobile {
        display: none;
        @media screen and (max-width: 500px) {
            display: block;
            text-align: center;
            border-bottom: 1px solid #ccc;
            button {
                font-size: 9pt;
                font-weight: 600;
                padding: 0px;
                span {
                    position: relative;
                    top: -6px
                }
            }
        }
    }
    .b-form  {
        border-top: solid 1px #fc7667;
    }
    .button-delete {
        position: absolute;
        top: 0;
        background: #fc7667;
        width: 20px;
        height: 20px;
        right: 0px;
        text-align: center;
        cursor: pointer;
        i {
            color: white !important;
            font-size: 11pt !important;
        }
    }
    .b-t-uniko {
        border-top: solid 1px #fc7667;
        padding-top: 20px; 
    }
    .add-button {
        margin-top: 30px;
        text-align: center;
        border: dashed 1px #ccc;
        padding: 5px;
        font-size: 11pt;
        color: #b9b9b9;
        font-weight: 600;
        cursor: pointer;
        &.font {
            font-size: 9pt;
            margin-bottom: 20px;
        }
    }
}