<div class="row py-4 justify-content-center hoteles">        
    <div class="col-12 col-md-8 my-4">
        <p class="m-0 p-0 mb-2 t-primary title-section">HOTELES</p>
        <h1 class="mb-5 text-title">Opciones de Hospedaje</h1>
        <div class="row rounded m-0 p-0 diffused-content">
            <div [class.hidden-mobile]="showMap" class="col-12 col-md-4 col-lg-4 m-0 p-0" style="height:460px; overflow:auto;">
                <div *ngFor="let _hotel of hotelsList">
                    <div class="list-group hotel-section" *ngIf="!_hotel.plan.length">
                            <div class="list-group-item2 pb-3">
                                <p class="t-primary m-0 p-0" style="font-size:20px;">{{ _hotel.name }}</p>
                                <p class="m-0 my-2 p-0" style="font-size:16px;">{{ _hotel.phone }}</p>
                                <p class="m-0 mt-2 p-0 pr-3" style="font-size:14px;">
                                    {{ 
                                        (_hotel.gpsaddress ? _hotel.gpsaddress.formatted_address : _hotel.address)
                                        }}
                                </p>
                                <a href="{{ _hotel?.gpsaddress?.url }}" target="_blank" class="float-right" style="text-align:right; width:100%; font-size:14px;" *ngIf="_hotel.gpsaddress">Ver en Google Maps</a>
                            </div>
                    </div>
                    <div class="list-group p-3" *ngFor="let _plan of _hotel.plan">
                            <div class="list-group-item2 pb-3">
                                <p class="txtGris m-0 p-0" style="font-size:12px; font-weight:600;">1 HABITACIÓN - {{ _plan.bed }} Cama</p>
                                <p class="t-primary m-0 p-0" style="font-size:20px;">{{ _hotel.name }}</p>
                                <p class="m-0 p-0" style="font-size:16px; font-weight:600;" *ngIf="_plan.price && _plan.price > 0">{{ _plan.price | currency }} por noche</p>
                                <p class="m-0 my-2 p-0" style="font-size:16px;">{{ _hotel.phone }}</p>
                                <p class="m-0 p-0" style="font-size:12px; font-weight:600;" *ngIf="_plan.cupon">Cupón</p>
                                <p class="m-0 p-0" style="font-size:16px;" *ngIf="_plan.cupon">{{ _plan.cupon }}</p>
                                <p class="m-0 mt-2 p-0 pr-3" style="font-size:14px;">
                                        {{ 
                                            (_hotel.gpsaddress ? _hotel.gpsaddress.formatted_address : _hotel.address)
                                            }}
                                </p>
                                <a href="{{ _hotel?.gpsaddress?.url }}" target="_blank" class="float-right" style="text-align:right; width:100%; font-size:14px;" *ngIf="_hotel.gpsaddress">Ver en Google Maps</a>
                            </div>
                    </div>
                </div>
            </div>
            <div [class.hidden-mobile]="!showMap" class="col-12 col-md-8 col-lg-8 m-0 p-0" style="height:460px; overflow:auto;">
                    <agm-map 
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [zoom]="zoom">
                        <agm-marker 
                        [latitude]="latitude" 
                        [longitude]="longitude" 
                        [markerDraggable]="false"
                        title="Aquí será el evento"
                        position="top"
                        show="true"
                        [iconUrl]="getIconByTheme()"
                        ></agm-marker>
                        <agm-marker *ngFor="let _hoteleGps of hoteleGps"
                        [latitude]="_hoteleGps?.gpsaddress?.geometry?.location?.lat" 
                        [longitude]="_hoteleGps?.gpsaddress?.geometry?.location?.lng" 
                        [markerDraggable]="false"
                        ></agm-marker>
                    </agm-map>
            </div>
        </div>
        <div class="col-12 view-mobile">
            <button class="btn" (click)="showMap = !showMap">
                    <i class="material-icons">keyboard_arrow_up</i> 
                    <span *ngIf="!showMap">
                            Mostrar mapa
                    </span>
                    <span *ngIf="showMap">
                            Ocultar mapa
                    </span>
            </button>
        </div>
    </div>
</div>