<div class="containerPrincipal container">
    <h5 class="title1">¿No sabes que regalarnos?</h5>
    <h1 class="title2 mb-5">Esta es nuestra selección de Regalos</h1>
    <div class="row mb-5">
        <div class="col-12 col-md-3 mb-3">
            <div class="cardArticulo card border d-none d-sm-block">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2 pr-3" (click)="filterPriceOpen = !filterPriceOpen">
                        <span style="font-size:14px;">PRECIO</span>
                        <i id="flechaPrecio" class="fas float-right" [class.fa-chevron-down]="!filterPriceOpen"
                            [class.fa-chevron-up]="filterPriceOpen" style="margin-top:4px;"></i>
                    </li>
                    <li [attr.data-toggle]="filterPriceOpen?'down':'up'" class="list-group-item custom-slider">
                        <p class="text-lg-center mb-0 font-weight-bold" style="font-size:.8rem;">
                            {{ minValue | currency }} - {{ maxValue | currency }}</p>
                        <ng5-slider (userChange)="queryArticles()" [(value)]="minValue" [(highValue)]="maxValue"
                            [options]="options"></ng5-slider>
                    </li>
                    <li class="list-group-item p-2 pr-3" (click)="filterCategoriesOpen = !filterCategoriesOpen">
                        <span style="font-size:14px;">CATEGORÍAS</span>
                        <i id="flechaCategoria" class="fas float-right" [class.fa-chevron-down]="!filterCategoriesOpen"
                            [class.fa-chevron-up]="filterCategoriesOpen" style="margin-top:4px;"></i>
                    </li>
                    <li [attr.data-toggle]="filterCategoriesOpen?'down':'up'" class="list-group-item custom-slider">
                        <ul class="list-unstyled text-secondary" style="font-size:14px;">
                            <li *ngFor="let category of categories" (click)="setCategory(category)">
                                {{ 
                                        category.name
                                    }}
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item p-2 pr-3" (click)="filterStoresOpen = !filterStoresOpen">
                        <span style="font-size:14px;">TIENDAS</span>
                        <i id="flechaTienda" class="fas float-right" [class.fa-chevron-down]="!filterStoresOpen"
                            [class.fa-chevron-up]="filterStoresOpen" style="margin-top:4px;"></i>
                    </li>
                    <li [attr.data-toggle]="filterStoresOpen?'down':'up'" class="list-group-item custom-slider">
                        <ul class="list-unstyled text-secondary" style="font-size:14px;">
                            <li *ngFor="let store of stores" (click)="setStore(store)">
                                {{ store.name }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-sm-none">
                <div class="row mobile-fitlers ">
                    <div class="col-6 filter-button p-0">
                        <div class="_text" (click)="isOpen=true">Filtrar por</div>
                    </div>
                    <div class="col-6 filter-button p-0">
                        <div class="_text" (click)="isOpenFilter=true"><i class="fas mr-2 fa-sliders-h"></i> Ordenar por
                        </div>
                    </div>
                    <div style="border-top: 1px solid #dee2e6;" class="col-12 filter-button p-0">
                        <div class="_text" (click)="isOpenFilter=true"><i class="fas mr-2 fa-funnel-dollar"></i>
                            {{ currency }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9" *ngIf="couple.productsRegistryList.length">
            <div class="row mx-0">
                <div class="col-12 p-0">
                    <div class="row mx-0 p-2 justify-content-between">
                        <div class="col-12 col-md p-0">
                            <!-- <button type="button" (click)="onAdd()" class="btn lineaColor btn-outline-danger btn-sm m-2 pt-0 pb-0 text-secondaryBco" style="font-size:12px;"><i class="fas fa-times mr-2"></i>Luuna</button> -->
                            <button type="button"
                                class="btn lineaColor btn-outline-danger btn-sm mr-2 pt-0 pb-0 text-secondaryBco hidden-mobile"
                                style="font-size:12px;" *ngIf="!storesSelected.length && !categoriesSelected.length">
                                Todo
                            </button>
                            <button type="button"
                                class="btn lineaColor btn-outline-danger btn-sm mr-2 pt-0 pb-0 text-secondaryBco hidden-mobile"
                                style="font-size:12px;" *ngFor="let store of storesSelected">
                                <i class="fas fa-times mr-2" (click)="removeStore(store)"></i>{{ store.name }}
                            </button>
                            <button type="button"
                                class="btn lineaColor btn-outline-danger btn-sm mr-2 pt-0 pb-0 text-secondaryBco hidden-mobile"
                                style="font-size:12px;" *ngFor="let category of categoriesSelected">
                                <i class="fas fa-times mr-2" (click)="removeCategory(category)"></i>{{ category.name }}
                            </button>
                        </div>
                        <div class="col-12 col-md-auto p-0">
                            <button type="button" (click)="colapsa2('collapseOrden', 'collapseCurrency')"
                                class="btn btn-outline-dark rmHover hidden-mobile"
                                style="font-size:12px; font-weight:500;">
                                <i class="fas mr-2 fa-sliders-h"></i>Ordenar por
                                <input type="hidden" id="domCurrentOrder" [value]="currentOrder">
                                <div id="collapseOrden" [attr.data-toggle]="'down'"
                                    style="position:absolute; display:none; z-index:9999; margin-left:-97px; margin-top:4px;">
                                    <ul class="list-group ulEstilos">
                                        <li [class]="currentOrder==1?'list-group-item active':'list-group-item'"
                                            (click)="setPreviewOrder(1)">Precio de menor a mayor</li>
                                        <li [class]="currentOrder==2?'list-group-item active':'list-group-item'"
                                            (click)="setPreviewOrder(2)">Precio de mayor a menor</li>
                                        <li [class]="currentOrder==3?'list-group-item active':'list-group-item'"
                                            (click)="setPreviewOrder(3)">Preferidos de los novios</li>
                                    </ul>
                                </div>
                            </button>
                            <button type="button" (click)="colapsa2('collapseCurrency', 'collapseOrden')"
                                class="btn btn-outline-dark ml-2 rmHover hidden-mobile"
                                style="font-size:12px; font-weight:500;">
                                <i class="fas mr-2 fa-funnel-dollar"></i> {{ currency }}
                                <input type="hidden" id="domCurrentOrder" [value]="currentOrder">
                                <div id="collapseCurrency" [attr.data-toggle]="'down'"
                                    style="position:absolute; display:none; z-index:9999; margin-left:-97px; margin-top:4px;">
                                    <ul class="list-group ulEstilos">
                                        <li [class]="currency == 'MXN' ? 'list-group-item active':'list-group-item'"
                                            (click)="setCurrency('MXN')">MXN</li>
                                        <li [class]="currency == 'USD' ? 'list-group-item active':'list-group-item'"
                                            (click)="setCurrency('USD')">USD</li>
                                        <li [class]="currency == 'EUR' ? 'list-group-item active':'list-group-item'"
                                            (click)="setCurrency('EUR')">EUR</li>
                                        <li [class]="currency == 'CAD' ? 'list-group-item active':'list-group-item'"
                                            (click)="setCurrency('CAD')">CAD</li>
                                    </ul>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="lista-articulos">
                        <app-guest-articulo-tarjeta class="col-6 col-sm-6 col-md-4 p-2" [art]="art"
                            [category]="getNameCategory(art.categoriesIds)" [hidden]="!dynamicFilter(art.id)"
                            [store]="getNameStore(art.storeId)" [index]="i" [couple]="couple"
                            *ngFor="let art of couple.productsRegistryList; let i = index;">
                        </app-guest-articulo-tarjeta>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9" *ngIf="!couple.productsRegistryList.length">
            <div class="text-center col-12 mt-3 mb-5">
                <img src="./../../../assets/img/regalo.png" class="rounded" style="width:100px; height:100px;"
                    alt="boleto">
            </div>
            <div class="col-12">
                <h4 class="title2 text-center" style="color: #9e9e9e;">¡Ya pueden comenzar su mesa!</h4>
            </div>
            <div class="col-12 text-center">
                <p class="title1 col-centered text-wrap" style="width:60%; font-size: .8rem; color: #333333;">Empezar su
                    mesa de regalos nunca ha sido tan sencillo. Agreguen y creen los regalos que les gustaría recibir.
                </p>
            </div>
            <div class="col-12 mt-5 text-center">
                <button class="btn btn-uniko btn-md col-centered" (click)="iniMesa()" type="button">
                    Comenzar nuestra mesa
                </button>
            </div>
        </div>
    </div>
</div>

<div class="menu-white" *ngIf="isOpen">
    <div>
        <div class="row">
            <div class="col-12 text-right">
                <button (click)="isOpen = false" class="btn my-2 my-sm-0" type="button">
                    <i class="material-icons">
                        clear
                    </i>
                </button>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-2 pr-3" (click)="filterPriceOpen = !filterPriceOpen">
            <span class="title-filters">
                PRECIO
            </span>
            <i id="flechaPrecio" class="fas float-right" [class.fa-chevron-down]="!filterPriceOpen"
                [class.fa-chevron-up]="filterPriceOpen" style="margin-top:4px;">
            </i>
        </li>
        <li [attr.data-toggle]="filterPriceOpen?'down':'up'" class="list-group-item custom-slider"
            [class.hidden]="!filterPriceOpen">
            <p class="text-lg-center mb-0 font-weight-bold" style="font-size:.8rem;">{{ minValue | currency }} -
                {{ maxValue | currency }}</p>
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="filterStoresOpen = !filterStoresOpen">
            <span class="title-filters">
                TIENDAS
            </span>
            <i id="flechaTienda" class="fas float-right" [class.fa-chevron-down]="!filterStoresOpen"
                [class.fa-chevron-up]="filterStoresOpen" style="margin-top:4px;">
            </i>
        </li>
        <li [attr.data-toggle]="filterStoresOpen?'down':'up'" class="list-group-item custom-slider"
            [class.hidden]="!filterStoresOpen">
            <ul class="list-unstyled text-secondary" style="font-size:14px;">
                <li *ngFor="let store of stores" (click)="setStore(store); isOpen=false">
                    {{ store.name }}
                </li>
            </ul>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="filterCategoriesOpen = !filterCategoriesOpen">
            <span class="title-filters">
                CATEGORÍAS
            </span>
            <i id="flechaCategoria" class="fas float-right" [class.fa-chevron-down]="!filterCategoriesOpen"
                [class.fa-chevron-up]="filterCategoriesOpen" style="margin-top:4px;">
            </i>
        </li>
        <li [attr.data-toggle]="filterCategoriesOpen?'down':'up'" class="list-group-item custom-slider"
            [class.hidden]="!filterCategoriesOpen">
            <ul class="list-unstyled text-secondary" style="font-size:14px;">
                <li *ngFor="let category of categories" (click)="setCategory(category); isOpen=false">
                    {{ 
                            category.name
                        }}
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="menu-white" *ngIf="isOpenFilter">
    <div>
        <div class="row">
            <div class="col-12 text-right">
                <button (click)="isOpenFilter = false" class="btn my-2 my-sm-0" type="button">
                    <i class="material-icons">
                        clear
                    </i>
                </button>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-2 pr-3">
            <span class="h1">
                {{ currency }}
            </span>
            <i (click)="isOpenFilter=false" id="flechaPrecio" class="fas fa-times float-right"
                style="margin-top:4px;"></i>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setCurrency('MXN')">
            <span class="title-filters upper">
                MXN
            </span>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setCurrency('USD')">
            <span class="title-filters upper">
                USD
            </span>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setCurrency('EUR')">
            <span class="title-filters upper">
                EUR
            </span>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setCurrency('CAD')">
            <span class="title-filters upper">
                CAD
            </span>
        </li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-2 pr-3">
            <span class="h1">
                Ordenar por
            </span>
            <i (click)="isOpenFilter=false" id="flechaPrecio" class="fas fa-times float-right"
                style="margin-top:4px;"></i>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setPreviewOrder(1); isOpenFilter = false;">
            <span class="title-filters upper">
                Precio de menor a mayor
            </span>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setPreviewOrder(2); isOpenFilter = false;">
            <span class="title-filters upper">
                Precio de mayor a menor
            </span>
        </li>
        <li class="list-group-item p-2 pr-3" (click)="setPreviewOrder(3); isOpenFilter = false;">
            <span class="title-filters upper">
                Preferidos de los novios
            </span>
        </li>
    </ul>
</div>