.tituloArticulo {
    font-size: 26px;
    font-weight: 200;
    color: #444444;
    margin-bottom: 0px;
}

.editarArt {
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.borrarArt {
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.cardArticulo-Precio {
    font-size: .9rem !important;
    font-weight: 100;
    margin-bottom: 20px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.precioArticulo {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.select_box select {
    width: 110px;
    height: 30px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    color: #aaaaaa;
}

.navbar-link {
    font-size: 10pt;
    font-weight: 100;
}

::ng-deep {
    .cdk-overlay-container {
        z-index: 99999999 !important;
    }
    .cdk-overlay-pane {
        width: 850px !important;
    }
    .mat-dialog-container {
        padding: 0px !important;
    }
    .mat-input-element {
        caret-color: #fc7667 !important;
    }
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: #333333 !important;
    }
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: #fc7667 !important;
    }
    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #fc7667 !important;
        ;
    }
}

.btn-uniko {
    color: #fff !important;
    background-color: #fc7667 !important;
    border-color: #fc7667 !important;
}

.iconoBorrar {
    position: absolute;
    width: 31px;
    margin-left: 110px;
    margin-top: 110px;
    background-color: #FFFFFF;
    padding-top: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #fc7667;
    cursor: pointer;
    height: 31px;
    text-align: center;
}

.iconoAgregar {
    position: absolute;
    margin-left: 110px;
    margin-top: 110px;
    background-color: #fc7667;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #FFFFFF;
    cursor: pointer;
}