<div class="containerPrincipal container mt-3" *ngIf="loaded">
    <div class="row mb-5">
        <div class="col-12">
                <a class="navbar-link" routerLink="/gift-table">
                <i class="fas fa-angle-left"></i> {{ 'Ir a Mesa de Regalos' }}
            </a>
        </div>
        <div class="col-12 col-md-6">
            <div class="row align-items-center">
                <img [src]="currentImage" class="cardArticulo-img-top card-img-top rounded-0" alt="..." *ngIf="currentImage">
                <img [src]="'./../../assets/img/uniko.png'" class="cardArticulo-img-top card-img-top rounded-0" alt="..." *ngIf="!currentImage">
            </div>  
            <div class="row align-items-center">
                <img *ngFor="let imagenArt of articulo.imagesList" (click)="changeImageView(imagenArt)" [src]="imagenArt" class="cardArticulo-img-top card-img-top mt-3 mr-3 rounded-0" style="width:75px; cursor:pointer;" alt="...">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <form>
                <div class="card border-0">
                    <div class="card-body p-0">
                        <p class="tituloArticulo align-bottom">
                            {{ articulo.name }}
                        </p>
                        <p class="align-middle" style="margin-bottom:10px !important;">
                            <small class="font-weight-bold colorUniko">{{ getStoreName(articulo.storeId) }}</small>
                        </p>
                        <p class="cardArticulo-Precio">
                            <small class="precioArticulo font-weight-bold">{{ articulo.price | currency }}</small>
                        </p>
                        <p class="align-middle" style="margin-bottom: 0px !important;">
                            <small class="font-weight-bold">Descripción</small>
                        </p>
                        <p class="mb-3">
                            {{ articulo.description }}
                        </p>
                        <p class="align-middle" style="margin-bottom: 0px !important;">
                            <small class="font-weight-bold">Categoría</small>
                        </p>
                        <div class="mb-3">
                            <p class="mb-0" *ngFor="let categoria of articulo.categoriesIds">
                                {{ getCatName(categoria) }}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="row">                            
                            <div class="form-group col">
                                <!--<label for="">Cantidad</label>-->
                                <div class="row">
                                    <!--<div class="col">
                                        <select [(ngModel)]="quantity" class="form-control" name="quantity">
                                            <option [ngValue]="1">1</option>
                                            <option [ngValue]="2">2</option>
                                            <option [ngValue]="3">3</option>
                                            <option [ngValue]="4">4</option>
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="6">6</option>
                                            <option [ngValue]="7">7</option>
                                            <option [ngValue]="8">8</option>
                                            <option [ngValue]="9">9</option>
                                        </select>
                                    </div>-->
                                    <div class="col-auto">
                                        <button class="btn btn-uniko" (click)="addItem()">Agregar</button>
                                    </div>
                                </div>                                
                            </div>                                                      
                        </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>