<div class="containerPrincipal dialog-delete">
    <div class="row">
        <div class="col-12 pr-0">
            <h1 class="title2 mb-5 colorUniko" style="font-size:1.4rem;">¿Están seguros que desean eliminar este regalo?</h1>
            <p class="align-middle" style="margin-bottom: 0px !important;">
                <small class="font-weight-bold">Antes de continuar</small>
            </p>
            <p class="mb-3">
                Este regalo no aparecerá más en tu mesa, si cambias de parecer podrás accesar a “Agregar Regalos” volver a agregarlo
            </p>
        </div>
        <div class="col-12 p-20 text-center" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn float-left">
                No, Cancelar
            </button>
            <button mat-button [mat-dialog-close]="true" class="btn text-danger float-right">
                Sí, eliminarlo
            </button>
        </div>
    </div>
</div>