<div class="card-articulo card" id="{{ art.id }}">
    <div class="card-articulo-imagen noselect">
        <img [src]="art.image" class="card-img-top" alt="...">
        <span class="acomodoArt">
            <i *ngIf="!lock" class="fas fa-th handle"></i>
            <i *ngIf="lock" class="fas fa-spinner fa-spin"></i>
        </span>
        <i class="fas fa-trash-alt borrarArt" (click)="borrarArt( art.id )"></i>
        <i class="fas fa-pen editarArt" (click)="editarArt( art.id )"></i>
        <div *ngIf="art.isMercadolibre === true" class="merLibArt"></div>
    </div>    
    <div class="card-articulo-contenido card-body">
        <h5 class="cardArticulo-title card-title text-truncate">{{ art.name }}</h5>
        <p class="cardArticulo-text card-text" style="margin-top:3px;">{{ category }}</p>        
        <p class="cardArticulo-text card-text mt-2">
            <small class="col-12 col-lg-6 p-0 precioArticulo font-weight-bold">{{ art.price | currency }}</small>
            <small class="col-12 col-lg-6 p-0 font-weight-bold colorUniko">{{ store }}</small>
        </p>
    </div>
</div>