.title1 {
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: 100;
}

.ArtSelec {
    border: 1px solid red !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

.card-groupAncho {
    width: 720px;
}

.title2 {
    font-size: 1.7rem;
    color: #333333;
    font-weight: 300;
}

.text-secondaryBco:hover {
    color: #fff !important;
}

.acomodoArt {
    position: absolute;
    background-color: #ffffff;    
    box-shadow: 0px 0px 10px #cccccc;
    color: #adadad;    
    cursor: pointer;
    top: 0;
    left: 0;
    .fa,.fas{
        padding: 7px;   
        width: 30px;
        height: 30px;
    }
}

.editarArt {
    position: absolute;
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    width: 30px;
    height: 30px;
    cursor: pointer;
    bottom: 30px;
    left: 0;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.borrarArt, .gift-this {
    position: absolute;
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
    bottom: 0px;
    left: 0;
}



.image-icon{
    display: none;    
    opacity: 0.5;
    cursor: pointer;    
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background-color: #FFFFFF;
    color: #333333;
    cursor: pointer;
    border-bottom-left-radius: 4px;
}
.card-img-top{
    cursor: pointer;
}
.card-img-top:hover + .image-icon, .image-icon:hover{
    display: block;
}

.controls{
    position: absolute;
    left: 0;
    bottom: 0;
    .control-btn{
        display: block;
        padding: 7px;
        color: #ffffff;
        width: 30px;
        height: 30px;        
        cursor: pointer;
        font-size: 13px;
        text-align: center;
        line-height: 17px;        
        &.show-mobile{
            display: none;
            @media screen and (max-width: 500px) {
                display: block;
            }
        }
        &.icon-primary{
            background-color: #ed7d6d;
            color: white;
        } 
        &.icon-secondary{
            background-color: #f2aba1;
            color: #333333;
        }
    }
}

.top-controls{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFFF80;
    *{
        padding: 8px;
        color: #00000080;
    }
}

.merLibArt {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f7e000;
    padding: 1px;
    width: 30px;
    height: 35px;
    border-radius: 0px 0px 3px 3px;
    background-image: url('./../../../assets/img/mLibre.png');
    background-size: 100%;
    background-position: center;
}

.precioArticulo {
    font-size: 1rem !important;
    @media screen and (max-width: 500px) {
        font-size: 9pt !important;
    }
}

.cardArticulo {
    border: 0px;
    margin-bottom: 1rem;
    border: 1px solid #FFFFFF;
}

.lineaColor {
    border-color: #fc7667 !important;
    color: #9e9e9e !important;
}

.lineaColor:hover {
    background-color: #fc7667 !important;
}

.cardArticulo-title,
.cardArticulo-text {
    font-size: .9rem !important;
    font-weight: 100;
    margin: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    @media screen and (max-width: 500px) {
        font-size: 9pt !important;
    }
}

.cardArticulo-body {
    padding: 20px 5px 10px 5px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.cardArticulo-img-top {
    border-radius: 0px !important;
}


.card-articulo {
    height: 100%;
    // border: none !important;
    overflow: hidden;
    .card-articulo-imagen{
        position: relative;        
        img{
            min-height: 128px;
            object-fit: contain;
            max-width: 100%;            
        }
    }

    .card-articulo-contenido{
        display: inline-block;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.dialog-delete {
    width:350px; 
    height:300px; 
    padding:20px 10px;
    @media screen and (max-width: 500px) {
        width: auto;
        height: auto;
        padding: 0px; 
    }
}