<div class="row m-0">

<div class="col-12">
    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Confirma tus datos</p>
</div>
<div class="col-12 col-md-6">
    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
        Van a retirar
    </p>
    <p class="p-0 m-0 mt-1" style="font-size: 13px; text-align:right; font-weight: 600;">
        {{ 'monto' | uppercase }}
    </p>
    <p class="p-0 m-0 txt-uniko" style="font-size: 24px; text-align:right; font-weight: 600;">
        {{ cashout.amount | currency }}
    </p>
</div>
<div class="col-12 col-md-6">
    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
        Información de pago
    </p>
    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
        Nombre del tarjetahabiente
    </p>
    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
        {{ cashout.name }}
    </p>
    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
        Banco
    </p>
    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
        {{ cashout.bank }}
    </p>
    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
        Cuenta CLABE
    </p>
    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
        {{ cashout.numberBank }}
    </p>
    <p class="p-0 m-0 mt-1" style="font-size: 12px; text-align:left; font-weight: 600;">
        Monto Solicitado
    </p>
    <p class="p-0 m-0" style="font-size: 15px; text-align:left;">
        {{ cashout.amount | currency }}
    </p>
</div>
<div class="col-12 col-md-6">
    <button class="btn btn-md px-2 float-right" routerLink="/retiro/informacion" style="margin-top:70px;width: 100%" type="button">Regresar</button>
</div>
<div class="col-12 col-md-6">
    <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width: 100%" type="button">Aplicar retiro</button>
</div>
</div>