:host {
    .modal-site-fade {
        position: fixed;
        top: 0;
        width: 100%;
        background: #495057;
        z-index: 99;
        height: 100%;
        opacity: 0.7;
        display: none;
        left: 0;
        &.open {
            display: initial;
        }
    }

    .noMargin{
        margin: 0 !important;
    }

    .noPadding{
        padding: 0 !important;
    }

    .mobile-size {
        @media screen and (max-width: 500px){
            font-size: 10pt !important;
        }
    }
    .btn-close {
        background: white;
        border: 0px;
    }
    .modal-site {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 100%;
        text-align: center;
        display: none;
        left: 0;
        &.open {
            display: initial;
            @media screen and (max-width: 500px) {
                overflow: auto;
            }
            .content {
                background: white;
                position: absolute;
                top: 10%;
                width: 50%;
                left: 25%;
                border-radius: 5px;
                text-align: left;
                max-height: 80%; 
                overflow: auto;
                &.large {
                    width: 80%;
                    left: 10%;
                    @media screen and (max-width: 500px) {
                        top: 0px;
                        width: 100%;
                        left: 0;
                        border-radius: 0;
                        display: block;
                        overflow: auto;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
                &.small {
                    width: 30%;
                    left: 35%;
                    @media screen and (max-width: 500px) {
                        top: 0px;
                        width: 100%;
                        left: 0;
                        border-radius: 0;
                        display: block;
                        overflow: auto;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
                @media screen and (max-width: 500px) {
                    top: 0px;
                    width: 100%;
                    left: 0;
                    border-radius: 0;
                    display: block;
                    overflow: auto;
                    max-height: 100%;
                    min-height: 100%;
                }
                .form-data {
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-bottom: 50px;
                    @media screen and (max-width: 500px) {
                        padding-top: 70px;
                    }
                }
                .buttons {
                    display: flow-root;
                    padding: 10px;
                    box-shadow: 0px 0 10px -2px #ddd;
                    margin-bottom: 20px;
                    @media screen and (max-width: 500px) {
                        padding: 10px;
                        box-shadow: 0px 0 10px -2px #ddd;
                        margin-bottom: 20px;
                        position: fixed;
                        width: 100%;
                        z-index: 150;
                        background: white;
                    }
                }
            }
        }
    }
}