<div class="row py-4 justify-content-center">
    <div class="col-12 col-md-6 my-4">
        <p class="m-0 p-0 mb-2 t-primary title-section">{{couple.weddingData.detailHistory }}</p>
        <h1 class="mb-5 text-title">{{ couple.weddingData.titleHistory }}</h1>
        <p class="description-history">{{ couple.weddingData.messageHistory }}</p>
    </div>
</div>
