
<div class="containerPrincipal">
    <div class="row">
        <div class="col-12 p-20 shadow-sm" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn float-left">
                Cancelar
            </button>
            <button mat-button [mat-dialog-close]="true" class="btn btn-uniko float-right">
                Enviar
            </button>
            <form class="form-inline" style="width:180px; float:right;">
                <div class="mr-2">Hacer público</div>
                <div class="mr-3" style="margin-bottom:6px;">
                    <label class="switch" style="zoom:.6;">
                        <input type="checkbox" [checked]="answer.public" (change)="answer.public = !answer.public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <mat-dialog-content class="mat-typography no-scroll p-3">
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="sub">El comentario de su invitado</h3>
                        <label>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ' }}</label>
                    </div>
                    <div class="col-md-6">
                        <h3 class="sub">Escriban su respuesta</h3>
                        <textarea name="comment" placeholder="Comenten el mensaje de su invitado y este se le hará llegar via mail." id="comment" cols="40" rows="5" style="padding:10px; box-sizing:border-box;">Muchas gracias Karla y Gus, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
                    </div>
                </div>
            </form>
        </mat-dialog-content>
    </div>
</div>