<app-header menuKey="WEB_SITE" [buttons]="buttons"></app-header>
<div class="template-colors template {{theme}}">
    <div class="site-section main-container">
        <div class="card text-white rounded-0 b-0 content-image"
            [ngStyle]="{'background-image': 'url('+getCover()+')'}">
        </div>
        <div class="content-buttons" *ngIf="!guest">
            <button class="btn btn-uniko-sm uniko-secondary" (click)="onEdit()">
                <i class="material-icons">
                    edit
                </i>
            </button>
            <button class="btn btn-uniko-sm uniko-tree">
                <i class="material-icons">
                    error_outline
                </i>
            </button>
        </div>
        <div class="event-title">
            <p class="grettings">{{ getEventString(couple.weddingData) }}</p>
            <div *ngIf="isCouple(couple.weddingData)" class="title">
                <div>{{ couple.weddingData.nameP1 }}</div>
                <div>&</div>
                <div>{{ couple.weddingData.nameP2 }}</div>
            </div>
            <div *ngIf="!isCouple(couple.weddingData)" class="title">
                <div>{{ couple.weddingData.nameP1 }}</div>
            </div>
            <h5 class="date" *ngIf="couple.weddingData.date">{{ couple.weddingData.date | date : 'dd.MM.yyyy' }}</h5>
            <p class="m-0 p-0 mt-3 state-text">{{ state | uppercase }}</p>
        </div>
    </div>
    <div class="site-supersection history-container">
        <app-datos-evento [guest]="guest" (edit)="onEdit()" [(couple)]="couple"></app-datos-evento>
    </div>
    <svg class="template-ornament cake-ornament" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
        <path d='M0 0 L64 2 L64 0 Z' />
    </svg>
    <div class="site-section section-shadow col-auto p-0">
        <svg class="template-ornament gold-ornament" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
            <path d='M0 0 C0 2 8 2 12 2 C18 2 32 0 40 0 C50 0 56 2 64 2 L64 0 Z' />
        </svg>
        <app-historia [guest]="guest" [(couple)]="couple"></app-historia>
    </div>
    <div class="site-section section-shadow col-auto p-0" *ngIf="isCouple(couple.weddingData)">
        <app-hoteles [guest]="guest" [(couple)]="couple"></app-hoteles>
    </div>
    <div class="site-supersection section-shadow cake-exclusive">
        <svg class="template-ornament cake-ornament flip-shadow" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
            <path d='M0 0 L0 2 L64 2 Z' />
        </svg>
        <div class="site-section col-auto">
            <app-guest-gift-table [guest]="guest" [(couple)]="couple"></app-guest-gift-table>
        </div>
        <div class="site-section section-shadow col-auto">
            <app-galeria [guest]="guest" [(couple)]="couple"></app-galeria>
        </div>
        <div class="site-section section-shadow col-auto">
            <app-guest-faqs [guest]="guest" [faqs]="faqs" [(couple)]="couple"></app-guest-faqs>
        </div>
    </div>
    <app-footer></app-footer>

    <input #coverInput type="file" accept="image/*" id="cover" (change)="openCropper($event)" style="display: none;">
</div>
<app-modal [(isOpen)]="isOpen" (onClosed)="onClose()" (onAction)="update()">
    <div class="row test">
        <div class="col-md-12 1" *ngIf="!isOpenCropper">
            <div (click)="onUpload($event, 'cover')" class="mt-4 mb-4 A"
                style="float: left; width:100%; margin-right: 2.2rem !important;" *ngIf="!showCroppedImage">
                <i (click)="onUpload($event, 'cover')" class="fas fa-plus iconoAgregar"></i>
                <div [ngStyle]="{
                    'background-image': 'url('+cover+')'
                }" class="rounded-0 image-cover">
                </div>
            </div>
            <div (click)="onUpload($event, 'cover')" class="mt-4 mb-4 B"
                style="float: left; width:100%; margin-right: 2.2rem !important;" *ngIf="showCroppedImage">
                <i (click)="onUpload($event, 'cover')" class="fas fa-plus iconoAgregar"></i>
                <div [ngStyle]="{
                    'background-image': 'url('+croppedImage+')'
                }" class="rounded-0 image-cover">
                </div>
            </div>
        </div>
        <div class="col-md-12 2" *ngIf="isOpenCropper">
            <div class="mt-4 mb-4">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="3 / 1" [resizeToWidth]="1200" [resizeToHeight]='450' [cropperMinWidth]="1200"
                    [cropperMinHeight]="450" [onlyScaleDown]="true" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
            </div>
            <div class="text-center">
                <button class="btn m-r-2" (click)="onCloseCropper()">Cancelar</button>
                <button class="btn btn-uniko" (click)="saveCropp()">Guardar Foto</button>
            </div>
        </div>
        <div class="col-md-12">
            <form [formGroup]="dataForm">
                <div class="row">
                    <div class="{{isCouple(couple.weddingData)?'col-12 col-md':'col-12 col-md-6'}}">
                        <div class="form-group text-left">
                            <label class="label-control">{{ getEventString(couple.weddingData) }}</label>
                            <input [class.submit]="submit" formControlName="name" type="name" class="form-control"
                                placeholder="{{isCouple(couple.weddingData)?'Tu Nombre':'Nombre del festejado'}}">
                        </div>
                    </div>
                    <div class="col-12 col-md-auto" *ngIf="isCouple(couple.weddingData)">
                        <span class="text-div">&</span>
                    </div>
                    <div class="col-12 col-md" *ngIf="isCouple(couple.weddingData)">
                        <div class="form-group">
                            <label class="label-control"></label>
                            <input [class.submit]="submit" formControlName="name2" type="text" maxlength="60"
                                class="form-control" placeholder="Nombre de tu pareja">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control">Fecha y hora</label>
                            <input class="form-control" formControlName="date" [owlDateTime]="dt3"
                                [owlDateTimeTrigger]="dt3" placeholder="...">
                            <owl-date-time #dt3></owl-date-time>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                    <div class="form-group text-left">
                                            <select class="form-control" formControlName="state">
                                                <option value="">Seleccione estado</option>
                                                <option [value]="_state.id" *ngFor="let _state of states">{{ _state.name }}</option>
                                            </select>
                                    </div>
                            </div>
                    </div> -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control">Título del evento</label>
                            <input formControlName="title" type="text" class="form-control"
                                placeholder="Título del evento">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control">Descripción</label>
                            <textarea class="form-control" formControlName="description">

                                </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group text-left">
                            <label class="label-control ">Dirección o lugar</label>
                            <input formControlName="placeName" type="text" (keydown.enter)="$event.preventDefault()"
                                autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
                                placeholder="Dirección" #search>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-modal>
<app-modal [(isOpen)]="isOpenShare" [small]="true" [isButtonShow]="isOpenShare" (onClosed)="isOpenShare=false;">
    <app-share></app-share>
</app-modal>
<!--<app-modal [(isOpen)]="isOpenCropper" [textButton]="'Guardar'" (onClosed)="onCloseCropper()" (onAction)="saveCropp()">
    <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="21 / 9"
    [resizeToWidth]="896"
    [resizeToHeight]='384'
    [cropperMinWidth]="896"
    [cropperMinHeight]="384"
    [onlyScaleDown]="true"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
</app-modal>-->
<!-- <h5 class="m-0 p-0 mt-4" style="letter-spacing:10px;">{{ '12.abril.2019' | uppercase }}</h5> -->