:host {
    .contenedorUnikoAgradece {
        border-bottom: 1px solid #fc7667;
        padding-bottom: 5em;
        @media screen and(max-width: 500px) {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 10px;
        }
    }
    .p-t-3m {
        padding-top: 3em;
        @media screen and (max-width: 500px) {
            padding-top: 0px;
        }
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .register {
        font-size: 14px; 
        font-weight: 700; 
        text-decoration-line: underline; 
        text-align: center;
    }
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    
    .btn-uniko {
        color: #fff;
        background-color: #fc7667;
        border-color: #fc7667;
        padding: 7px 30px;
    }
    
    .title1 {
        font-weight: 600;
    }
    
    .title2 {
        font-weight: 400;
    }
    
    ::ng-deep {
        .cdk-overlay-container {
            z-index: 99999999 !important;
        }
        .mat-dialog-container {
            padding: 0px !important;
        }
        .mat-input-element {
            caret-color: #fc7667 !important;
        }
        .mat-form-field-underline {
            /*change color of underline*/
            background-color: #333333 !important;
        }
        .mat-focused .mat-form-field-label {
            /*change color of label*/
            color: #fc7667 !important;
        }
        .mat-form-field-ripple {
            /*change color of underline when focused*/
            background-color: #fc7667 !important;
            ;
        }
    }
    
    .txtInviten {
        color: #bfbfbf;
        text-align: center;
        position: absolute;
        margin-top: -12px !important;
        background-color: #FFFFFF;
        padding: 0px 20px !important;
        margin-left: 165px !important;
        font-size: 11pt;
        font-weight: 100;
    }
    .content-text-info {
        position: relative;
        top: -13px;
        text-align: center;
        @media screen and (max-width: 500px) {
            position: unset;
            padding-top: 40px;
            text-align: center;
            padding-bottom: 10px;
        }
        .info {
            background: #ffff;
            width: 350px;
            display: inline-block;
            color: #cecece;
            font-weight: 100;
            @media screen and (max-width: 500px) {
                width: 300px;
            }
        }
    }
    .text-recovery {
        font-size:14px; 
        text-align: center;
        @media screen and (max-width: 500px) {
            margin-bottom: 20px!important;
        }
    }
    .link-recovery {
        text-decoration: none; 
        cursor: pointer;
        @media screen and (max-width: 500px) {
            margin-top: 20px;
            display: block;
        }
    }
    @media screen and (max-width: 500px) {
        .mobil-hidden {
            display: none;
        }
    }
}