<div class="row m-0">
    <div class="col-12 col-md-6 col-lg-5 mt-2 p-0">
        <div class="row m-0 anchoCompleto">
            <div class="col-7 p-0">
                <p class="p-0 m-0 anchoCompleto font-sizeTit" style="font-size: 12px;">Total acumulado</p>
                <p class="p-0 m-0 txt-uniko anchoCompleto cantNumS" style="font-size: 22px; font-weight:600;">
                    {{ totals.total | currency }}</p>
            </div>
            <div class="col-5 text-right" style="padding-top: 6px;">
                <button class="btn btn-uniko btn-md px-2" *ngIf="totals.total > 0" routerLinkActive="active"
                    routerLink="/retiro/informacion" type="button">Retirar</button>
                <button class="btn btn-uniko btn-md px-2" *ngIf="!totals.total" disabled type="button">Retirar</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 mt-2 p-0">
        <div class="row m-0">
            <div class="col-7 p-0">
                <p class="p-0 m-0" style="font-size: 12px;">Consulta nuestros planes de créditos.</p>
                <p class="p-0 m-0" style="font-size: 12px; font-weight:700;">¿Desean contar con más dinero?</p>
            </div>
            <div class="col-5 text-right" style="padding-top: 6px;">
                <button class="btn btn-uniko btn-md px-2" routerLink="/cashout/credit-request" routerLinkActive="active"
                    type="button">Solicitar Crédito</button>
            </div>
        </div>
    </div>
</div>
<div class="row ocultaEnDisp mt-5">
    <div class="col-12">
        <p class="p-0 m-0 txt-uniko" style="font-size: 11px; text-align: center; font-weight:600; letter-spacing:2px;">
            HISTORIAL DE MOVIMIENTOS</p>
    </div>
</div>
<div class="row m-0 bg-white rounded mb-5" *ngIf="cashouts.length">
    <div class="col-12 py-2 px-0 mb-0 bg-white">
        <button type="button" (click)="colapsa('Orden2')" class="btn btn-outline-dark float-right rmHover"
            style="font-size:12px; font-weight:500;">
            <i class="fas mr-2 fa-sliders-h"></i>Ordenar por
            <div id="collapseOrden2" data-toggle="down"
                style="position:absolute; display:none; z-index:9999; margin-left:-11px; margin-top:3px;">
                <ul class="list-group ulEstilos">
                    <li class="list-group-item" (click)="setPreviewOrder(1); ">Fecha</li>
                    <li class="list-group-item" (click)="setPreviewOrder(4); ">Banco</li>
                    <li class="list-group-item" (click)="setPreviewOrder(2); ">Monto</li>
                    <li class="list-group-item" (click)="setPreviewOrder(5); ">Estado</li>
                </ul>
            </div>
        </button>
    </div>
    <div class="col-12 p-0" style="margin-bottom:30px;" *ngFor="let cashout of cashouts">
        <div class="m-0 contenedorUniko">
            <div class="col-12 py-2 px-5 padding10">
                <div class="row">
                    <div class="col-12">
                        <p class="p-0 m-0 txt-uniko" style="font-size: 10px; font-weight:700;">
                            {{ cashout.date | date : 'dd/MMM/yyyy' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <p class="p-0 m-0 font-size14">{{ cashout.target }}</p>
                        <p class="p-0 m-0 text-truncate font-size14" style="font-weight:600;">
                            {{ cashout.approvedAmount | currency }}</p>
                    </div>
                    <div class="col-6 col-md-4 pl-0">
                        <p class="p-0 m-0 text-truncate" style="font-weight:600; color:#999999; font-size:10px;">
                            {{ cashout.bank | uppercase }}</p>
                        <p class="p-0 m-0 text-truncate font-size14" style="letter-spacing:2px;">{{ cashout.clabe }}</p>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p class="p-0 m-0 text-truncate font-size14 status" [ngClass]="{
                            'pending': !cashout.isPaid && !cashout.isCancelled,
                            'success': cashout.isPaid && !cashout.isCancelled,
                            'cancelled': cashout.isCancelled
                        }">
                            {{ getStatus(cashout) | uppercase }}
                            <i class="fas fa-chevron-right align-middle text-danger muestraEnDipLine"
                                style="font-size:14px; margin-left:10px; display: none;"></i>
                        </p>
                        <p *ngIf="cashout.cancelMotive" class=" status cancelled">
                            {{cashout.cancelMotive | uppercase}}
                        </p>
                    </div>
                </div>
                <div class="row m-0" style="display: none;">
                    <div class="col-4 p-0 m-0 anchoIzq">
                        <p class="p-0 m-0 txt-uniko" style="font-size: 10px; font-weight:700;">
                            {{ cashout.date | date : 'dd/MMM/yyyy' }}</p>
                        <p class="p-0 m-0 font-size14">{{ cashout.target }}</p>
                        <p class="p-0 m-0 text-truncate font-size14" style="font-weight:600;">
                            {{ cashout.approvedAmount | currency }}</p>
                    </div>
                    <div class="col-4 p-0 pl-4 m-0 ocultaEnDisp" style="padding-top:20px !important;">
                        <p class="p-0 m-0 text-truncate" style="font-weight:600; color:#999999; font-size:10px;">
                            {{ cashout.bank | uppercase }}</p>
                        <p class="p-0 m-0 text-truncate font-size14" style="letter-spacing:2px;">{{ cashout.clabe }}</p>
                    </div>
                    <div class="col-4 m-0 anchoDer" style="text-align:right; padding-top:20px !important;">
                        <p class="p-0 m-0 txt-uniko ocultaEnDisp folio">{{ cashout.id }}</p>
                        <p class="p-0 m-0 text-truncate font-size14 status" [ngClass]="{
                            'pending': !cashout.isPaid,
                            'success': cashout.isPaid,
                            'cancel': cashout.isCancelled
                        }">
                            {{ ( cashout.isPaid ? 'Pagado' : 'pendiente') | uppercase }}
                            <i class="fas fa-chevron-right align-middle text-danger muestraEnDipLine"
                                style="font-size:14px; margin-left:10px; display: none;"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0 w-100 bg-uniko muestraEnDipLine" style="position:fixed; bottom:0px; left:0px; display: none;">
    <div class="col-6 m-0 p-0">
        <button class="btn btn-uniko btn-md m-0 p-2 text-center btn-block" style="font-size:12px;"
            routerLinkActive="active" routerLink="/perfil/retira-acumulado" type="button">
            <i class="fas fa-credit-card"></i><br>
            Retirar acumulado
        </button>
    </div>
    <div class="col-6 m-0 p-0">
        <button disabled class="btn btn-uniko btn-md m-0 p-2 text-center btn-block" style="font-size:12px;"
            routerLinkActive="active" routerLink="/perfil/solicita-credito" type="button">
            <i class="fas fa-dollar-sign" style="font-size: 14px;"></i><br>
            Solicitar crédito
        </button>
    </div>
</div>