.rmHover:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.rmHover:hover li {
    color: #333333;
}

.list-group-item {
    padding: 0.75rem 2rem !important;
}

.contenedor {
    height: 70px;
}

.contenedorUniko {
    background-color: #fc76671f;
    min-height: 70px;
}

.font-size14 {
    font-size: 14px;
}
.folio {
    font-size: 10px; 
    font-weight:700;
}
.status {
    font-size:10px; 
    font-weight:600;
    &.cancelled {
        color:red !important;
    }
    &.success {
        color:green;
    }
    &.pending {
        color: #FF9800;
    }
}

@media only screen and (max-width:370px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .muestraEnDipLine {
        display: inline-flex !important;
    }
    .anchoCompleto {
        max-width: 100% !important;
        width: 100% !important;
        flex: 100% !important;
        text-align: center;
    }
    .cantNumS {
        font-size: 28px !important;
    }
    .font-sizeTit {
        font-size: 16px !important;
    }
    .botOpciones {
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
        border: 0px;
        padding: 10px 0px;
        padding-left: 10px;
    }
    .padding10 {
        padding: 10px !important;
    }
    .anchoIzq {
        max-width: 60% !important;
        width: 60% !important;
        flex: 100%;
    }
    .anchoDer {
        max-width: 40% !important;
        width: 40% !important;
        flex: 100%;
    }
}