:host{
    .bg-uniko-light{
        background-color: #ffeeed;
        color: black;
    }

    .search-header{
        text-align: center;
        .search-form{
            padding: 15px 0;
        }
        img.search-gift{
            width: 10%;
            max-width: 128px;
            min-width: 64px;
        }
        .btn-uniko{
            width: 145px;
        }        
    }
    .table-wrapper{
        .event{
            display: flex;
            align-items: flex-end;
            padding: 15px 0;
            border-bottom: 2px solid #CCC;
            .event-info{
                padding-left:15px;
                flex-grow: 2;
                align-items: flex-end;
                display: inline-block;
            }
            .event-image{
                flex-grow: 1;
                img{
                    height: 192px;//waiting for crooper
                    object-fit: cover
                }
            }
        }
    }
    

    .flex{
        display: flex;
        align-items: flex-end;
    }

    .img-responsive{
        max-width: 100%;
    }
}