.mobile-fitlers{
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    .filter-button{        
        text-align: center;
        a{
            padding: 10px;
            display: block;
        }
        &:not(:last-child){
            border-right: 1px solid #dee2e6
        }
    }
}

.title1 {
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: 100;
    @media screen and (max-width: 500px) {
        display: none;
    }
}


.lista-articulos{
    width: 100%;
    max-width: 100%;
    // border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

.ArtSelec {
    border: 1px solid red !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

.card-groupAncho {
    width: 720px;
}

.title2 {
    font-size: 1.7rem;
    color: #333333;
    font-weight: 300;
    @media screen and (max-width: 500px) {
        display: none;
    }
}
.list-unstyled {
    li {
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.text-secondaryBco:hover {
    color: #fff !important;
}

.containerPrincipal {
    @media screen and (max-width: 500px) {
        width: initial !important;
    }
}

.acomodoArt {
    position: absolute;
    background-color: #ffffff;
    padding: 7px;
    box-shadow: 0px 0px 10px #cccccc;
    color: #adadad;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
}

.editarArt {
    position: absolute;
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
    margin-top: 160px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.borrarArt {
    position: absolute;
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -220px;
    margin-top: 190px;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}

.merLibArt {
    position: absolute;
    background-color: #f7e000;
    padding: 1px;
    width: 30px;
    height: 35px;
    margin-left: 180px;
    margin-top: -220px;
    border-radius: 0px 0px 3px 3px;
    background-image: url('./../../../assets/img/mLibre.png');
    background-size: 100%;
    background-position: center;
}

.precioArticulo {
    font-size: 1rem !important;
}

.cardArticulo {
    border: 0px;
    margin-bottom: 1rem;
    border: 1px solid #FFFFFF;
}

.lineaColor {
    border-color: #fc7667 !important;
    color: #9e9e9e !important;
}

.lineaColor:hover {
    background-color: #fc7667 !important;
}

.cardArticulo-title,
.cardArticulo-text {
    font-size: .9rem !important;
    font-weight: 100;
    margin: 0px !important;
}

.cardArticulo-body {
    padding: 20px 5px 10px 5px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.cardArticulo-img-top {
    border-radius: 0px !important;
}

.ulEstilos {
    text-transform: uppercase;
    width: 200px;
}

.ulEstilos:hover {
    color: #333333 !important;
}

.ulEstilos li {
    padding: .75rem .25rem;
    border: 1px solid #333333 !important;
}

.ulEstilos li:hover {
    color: #9e9e9e !important;
    background-color: #333333;
}

.rmHover:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.rmHover:hover li {
    color: #333333;
}

.list-group-item{
    &.active{
        background-color: #9e9e9e;
    }
    &:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    &.custom-slider[data-toggle="up"]{
        height:0px;
        overflow:hidden;
        padding:0px;
    }
    &.custom-slider[data-toggle="down"]{
        height:auto;
        overflow:auto;
        padding:.75rem 1.25rem;
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.title1 {
    font-weight: 600;
}

.title2 {
    font-weight: 400;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
    padding: 7px 30px;
}

.content-articles {
    width: 980px; 
    margin-bottom:50px;
    @media screen and (max-width: 500px) {
        width: initial !important;
    }
}
.filters {
    display: none;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    @media screen and (max-width: 500px) {
        display: block;
        .options {
            height: 100%;
            padding: 8px;
            font-size: 10pt;
            font-weight: 600;
            &.b-right {
                border-right: solid 1px #ccc;
            }
        }
    }
}

.menu-white {
    display: none;
}
@media screen and (max-width: 500px) {
    .menu-white {
        position: fixed;
        width: 100%;
        top: 0px;
        background: white;
        z-index: 99999;
        height: -webkit-fill-available;
        padding-top: 20px;
        display: block;
    }    
}

.hidden {
    display: none;
}

.title-filters {
    font-size: 12px;
    font-weight: 600;
} 
._text {
    padding: 15px;
    font-size: 10pt;
    font-weight: 600;
}
.h1 {
    font-size: 12pt;
    font-weight: 600;
}

