<app-header-logo></app-header-logo>
<app-header-payment></app-header-payment>
<div class="card" style="display: block;background: #fbd1cd66;min-height: 90px;">
  <div class="card-img-overlay" style="padding-top: 25px;">
    <h5 class="card-title" style="font-size: 22pt; text-align: center; font-weight: 100;">{{ plan?.name }}</h5>
  </div>
</div>

<div class="row" style="padding-top: 35px;">
  <div class="col-12">
    <div class="containerSteps col-centered">
      <ul class="progressbar p-0">
        <li class="active">
        Contratación de plan
      </li>
      <li>
        Confirmación de pago
      </li>
      <li>
        Llenar datos de los asegurados
      </li>
      </ul>
    </div>
  </div>
</div>


<div class="row m-t-50" style="margin-left: 0px; margin-right: 0px;">
  <div class="col-md-3 hidden-mobile">
      &nbsp;
  </div>
  <div class="col-3 m-0 p-0">&nbsp;</div>
  <div class="col-12 m-0 p-0">
      <p class="p-0 m-0 mb-2 mt-3 txt-uniko" style="font-size: 14px; text-align: center; font-weight:700;">Elige tu método de pago</p>
  </div>
  <div class="col-2 m-0 p-0">&nbsp;</div>
  <div class="col-8 m-0 p-0">
      <mat-radio-group class="" name="type" [(ngModel)]="type">
          <table class="table">
              <tbody>
                  <tr>
                      <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;" *ngFor="let method of methods">
                          <img *ngIf="method === 'card'" src="./../../assets/img/tarCredit.jpg" alt="">
                          <img *ngIf="method === 'paypal'" src="./../../assets/img/payPal.jpg" alt="">
                          <img *ngIf="method === 'paypal-plus'" src="./../../assets/img/payPalP.jpg" alt="">
                          <img *ngIf="method === 'oxxo'" src="./../../assets/img/oxxo.jpg" alt="">
                          <img *ngIf="method === 'spei'" src="./../../assets/img/spe.jpg" alt="">
                      </td>
                  </tr>
                  <tr>
                      <td align="center" style="width:20%; border: 0px !important; padding: 0px !important;"  *ngFor="let _method of methods">
                          <mat-radio-button name="type" (click)="changeMethod(_method)" [checked]="_method == type"  [value]="_method"></mat-radio-button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </mat-radio-group>
  </div>
  
</div>


<div class="row pt-3">
  <div class="col-5 m-0">
      <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
          VAN A CONRATAR
      </p>
      <p class="p-0 m-0 mt-1" style="font-size: 12pt; text-align:right; font-weight: 200;">
          {{ textPlan }}
      </p>
      <p class="p-0 m-0" style="font-size: 12pt; text-align:right; font-weight: 200;">
         {{ plan?.days }} Días
      </p>
      <p class="p-0 m-0" *ngFor="let _ticket of plan?.listTickets" style="font-size: 12pt; text-align:right; font-weight: 200;">
        {{ _ticket?.description }} {{ _ticket?.price |currency }}
     </p>
  </div>
  <div class="col-12 col-md-5 m-0">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <form [formGroup]="planForm">
 
  <div class="row pt-3">
    <div class="col-5 m-0">
        <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
            VAN A CONRATAR
        </p>
        <p class="p-0 m-0 mt-1" style="font-size: 12pt; text-align:right; font-weight: 200;">
            {{ textPlan }}
        </p>
        <p class="p-0 m-0" style="font-size: 12pt; text-align:right; font-weight: 200;">
           {{ days }}
        </p>
        <p class="p-0 m-0 txt-uniko" style="font-size: 16pt; text-align:right; font-weight: 200;">
          {{ price | currency }}
       </p>
    </div>
    <div class="col-12 col-md-5 m-0">
        <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
            Completa este formulario
        </p>
        <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Nombre en tarjeta
              </label>
              <input maxlength="30" [class.submit]="submit" formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Número de tarjeta
              </label>
              <input (keyup)="validCard()" [maxlength]="type.card" [minlength]="type.card" [class.submit]="submit" formControlName="numberCard" type="text" class="form-control">
            </div>
        </div>
        <div class="row p-t-10">
            <div class="col-6 col-md-8">
                <label for="" class="label-control">
                        Fecha vencimiento
                </label>
              <div class="row">
                <div class="col-6">
                   <select [class.submit]="submit" formControlName="month" class="form-control" name="" id="">
                     <option value="">Seleccione mes</option>
                     <option [value]="_month" *ngFor="let _month of months">{{ _month }}</option>
                   </select>
                </div>
                <div class="col-6">
                    <select [class.submit]="submit" formControlName="year" class="form-control" name="" id="">
                      <option value="">Seleccione año</option>
                      <option [value]="_year" *ngFor="let _year of years">{{ _year }}</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4">
                <label for="" class="label-control">
                    cvc
                </label>
              <div class="row">
                <div class="col-12">
                    <input [maxlength]="type.cvc" [minlength]="type.cvc" [class.submit]="submit" formControlName="cvc" type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 pb-3">
            <div class="col-12">
              <mat-checkbox>
                <a href="" class="txt-uniko" style="font-size: 10pt;">Acepto términos y condiciones</a>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-2 m-t-10">
                <button class="btn btn-uniko btn-md px-2 col-centered" (click)="next()" type="button">Pagar</button>
            </div>
          </div>
    </div>
  </div>  
</form>
 -->
