<div class="containerPrincipal" style="width:350px; height:250px; padding:20px 10px;">
    <div class="row">
        <div class="col-12 pr-0">
            <h1 class="title2 mb-5 colorUniko" style="font-size:1.4rem;">¿Estás seguro de eliminar esta pregunta?</h1>
            <p class="align-middle" style="margin-bottom: 40px !important;">
                <small class="font-weight-bold">¿Cuál es la dirección del salón?</small>
            </p>
        </div>
        <div class="col-12 p-20 text-center" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn float-left">
                    No, Cancelar
                </button>
            <button mat-button [mat-dialog-close]="true" class="btn text-danger float-right">
                    Sí, eliminarla
                </button>
        </div>
    </div>
</div>