<div class="containerPrincipal">
    <div class="row">
        <div class="col-12 p-20 shadow-sm paddingBotones" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn float-left">
                    Cancelar
                </button>
            <button mat-button [mat-dialog-close]="true" class="btn btn-uniko float-right">
                    Publicar
                </button>
        </div>
    </div>
    <div class="col-12">
        <mat-dialog-content class="mat-typography no-scroll p-3">
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="sub">Pregunta de tu invitado</h3>
                        <hr>
                        <label>{{ '¿Cuál es la dirección del salón?' }}</label>
                    </div>
                    <div class="col-md-6">
                        <h3 class="sub">Escribe tu respuesta</h3>
                        <hr>
                        <textarea name="respuesta" placeholder="Escribe la respuesta a la pregunta de tu invitado." id="respuesta" cols="40" rows="5" style="padding:10px; box-sizing:border-box;"></textarea>
                    </div>
                </div>
            </form>
        </mat-dialog-content>
    </div>
</div>