<div class="sombraCuadros mb-5 bg-white rounded col-12" style="padding:0px;" *ngFor="let faq of faqs">
    <div class="card-header-buttons" style="width:100% !important; margin:0px;">
        <div class="btn-group" role="group">
            <i class="fas fa-trash-alt borrarArt" (click)="borraPregunta(faq)"></i>
            <i class="fas fa-pen editarArt" (click)="editaPregunta(faq)"></i>
        </div>
    </div>
    <div class="card-body p-3">
        <h5 class="colorUniko">
            ¿{{ faq.question }}?
        </h5>
    </div>
</div>

<app-modal [(isOpen)]="isOpen" (onClosed)="closeModal()" (onAction)="save()" textButton="Publicar">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="dataForm">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group text-left">
                                    <label class="label-control">Escribe tu pregunta</label>
                                    <textarea disabled class="form-control h-mobile" rows="10" formControlName="question">
                                        
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group text-left">
                                    <label class="label-control">Escribe tu respuesta</label>
                                    <textarea class="form-control h-mobile" rows="10" formControlName="answer">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
</app-modal>