<div class="header-modal">
  <div class="row">
    <div class="col-md-4 mrt-title">
        <button class="btn btn-white btn-md" (click)="close()" type="button">Cancelar</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <form class="form-inline text-right">
            <div class="mr-2" style="font-size:13px;margin-left: 40px;">Hacer público</div>
            <div class="mr-3" style="margin-bottom:6px;">
                <label class="switch" style="zoom:.6;">
                    <input type="checkbox" [checked]="answer.public" (change)="answer.public = !answer.public">
                    <span class="slider round"></span>
                </label>
              </div>
            <button class="btn btn-uniko btn-md" (click)="save()" type="button">Enviar</button>
        </form>
    </div>
  </div>
</div>
<mat-dialog-content class="mat-typography no-scroll">
  <form action="">
    <div class="row">
        <div class="col-md-6">
            <h3 class="sub">El comentario de su invitado</h3>
            <label>{{ guestBook?.comment }}</label>
          </div>
          <div class="col-md-6">
            <h3 class="sub">Escriban su respuesta</h3>
            <textarea name="comment" [(ngModel)]="answer.comment" placeholder="Comenten el mensaje de su invitado y este se le hará llegar via mail." id="comment" cols="40" rows="5"></textarea>
          </div>
    </div>
  </form>
</mat-dialog-content>