.header-modal {
    box-shadow: 0 0 15px #ddd;
    position: relative;
    top: -23px;
    width: 700px;
    left: -25px;
    padding: 10px;
}
.sub {
    font-weight: 600;
    font-size: 10pt;
    margin-bottom: 0px;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
}

.mat-dialog-container {
    overflow: -webkit-paged-x !important;
}

//------------- Mostrar/Ocultar ---------------------//
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fc7667;
    border: 2px solid #fc7667;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fc7667;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #FFF;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mr-2 {
    margin: 2px;
}

.mrt-title {
    margin-top: 7px;
    font-size: 12pt;
    font-weight: 500;
}