<div class="col-12">
    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Movimiento exitoso</p>
    <div class="text-center col-12 mt-4 mb-3">
        <img src="./../../../assets/img/OkFelicidades.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
    </div>
    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">¡Felicidades!</p>
    <p style="text-align:center; font-size:14px; margin:0px; font-weight:600;">Tu retiro ha sido aprobado, para consulta podrás verlo en tu perfil</p>
</div>
<div class="col-12 mt-lg-4 text-center">
    <a class="navbar-link" style="font-size:.8rem;" href="" routerLinkActive="active" routerLink="/profile/retiro-fondos">
        <i class="fas fa-angle-left"></i> {{ 'Ir a Retiro de fondos' }}
    </a>
</div>