:host{
    .image-container{
        max-width: 148px;
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    .big{
        font-size: 1.4em;
    }
    .small{
        font-size: 0.8em;
    }
    .bold{
        font-weight: 700;
    }
    .gray{
        color: #7b7b7b;
    }
    .text-uniko{
        color: #fc7667
    }
    .uniko-secondary {
        background-color: #fda79e;
    }
    .uniko-tree {
        background-color: #fddfdc;
    }

    .action-container{
        .input-combo{
            display: inline-block;
            input[type="text"]{
                -webkit-border-top-left-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-left: 1px solid;
                border-top:  1px solid;
                border-bottom: 1px solid;
                border-right: none;
                border-color: #7b7b7b; 
                padding: 4px 8px;
                &:disabled{
                    background-color: initial;
                }
            }
            button{
                margin-top: -2px;
                padding: 4px 8px;
                border-radius: 0;
                border-right: 1px solid;
                border-top:  1px solid;
                border-bottom: 1px solid;
                border-color: #7b7b7b;
                color: #000;
                min-height: 34px;
                margin-right: 8px;
            }
        }
        .special-link{
            display: inline-block;
            background-color: #fda79e;
            padding: 5px 6px;
            cursor: pointer;
        }
    }
    .modal-site{
        .content{
            width: 100%;
            max-width: 860px;
        }
    }

    form{
        label{
            display: block;            
        }
        input{
            padding: 4px 8px;
            font-size: 0.8em;
            border-radius: 3px;
            border: 1px solid #7b7b7b;
            width: 100%;
            
        }
    }

    .material-icons{
        font-size: 23px;
        line-height: initial;
        vertical-align: middle;
        margin-top: -5px;
    }

    .domain-result{
        padding: 8px;
        border: 1px solid #fc7667;
        border-radius: 3px;
    }

    .domain-subresult{
        display: flex;
        margin: 4px auto;
        justify-content: space-between;
        span{
            font-size: 0.8em;
            color: #7b7b7b;
            &.domain-status{
                color: #fc7667;
                font-weight: 700;
            }
        }
    }

    ul.sharing-ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: left;
        li{
            list-style: none;
            color: #5791fc;
            font-size: 0.9em;
            cursor: pointer;
            i{
                font-size: 17px;
                width: 20px;
            }
        }
    }
    .domain-share-container{
        max-width: 450px;
        position: relative;
        .dialog-close{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 1;
        }
    }
}

//Dialog
