<div class="domain-share-container">
    <span class="dialog-close" (click)='close()'>
        <i class="material-icons">
            close
        </i>
    </span>
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h5 class="text-uniko">Compartan su Historia</h5>
            <p>Muestren a familiares y amigos su gran historia de amor por medio de sus redes sociales.</p>
        </div>
        <div class="col-12 text-center">
            <ul class="sharing-ul">
                <li class="mb-2"><i class="fab fa-facebook-f"></i> Facebook</li>
                <li class="mb-2"><i class="fab fa-whatsapp"></i> Whatsapp</li>
                <li class="mb-2" (click)="copyMessage(data)"><i class="fas fa-link"></i> Copiar Url</li>
            </ul>
        </div>
        <input type="hidden" value="test">
    </div>
</div>