<app-header menuKey="DOMINE"></app-header>
<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-8 text-center">
      <h3>Nuestro Dominio</h3>      
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-8 image-container">
      <img src="../../../assets/img/uniko-domain.png">
    </div>
  </div>
  <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-8 info-container text-center">
        <p class="big gray">Complementen su experiencia UNIKO al personalizar su dominio.</p>
        <p class="small bold" *ngIf="!isActive && !isSolicited">El dominio actual que les proponemos es:</p>
        <p class="small bold" *ngIf="isSolicited">¡Ya tenemos tus sugerencias!</p>
        <p class="small bold" *ngIf="isActive">¡Tu nuevo dominio ha sido actualziado!</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-8 action-container text-center">
        <div class="input-combo">
          <input type="text" [ngModel]="currentDomain" disabled>
          <button *ngIf="!isSolicited && !isActive" class="btn btn-uniko" (click)="isOpen=true;">
              <i class="material-icons">
                edit
              </i> 
              <span class="hidden-mobile">Editar</span>
          </button>          
          <button *ngIf="isSolicited" class="btn btn-uniko" (click)="isOpen=true;">Ver</button>   
        </div> <a class="special-link" (click)="isOpenShare=true">
          <i class="material-icons">
            share
            </i>
          </a>
      </div>
    </div>
</div>

<app-modal [(isOpen)]="isOpen" (onClosed)="isOpen = false;" (onAction)="saveUrls()" [textButton]="isSolicited?'Ok':'Enviar'" class="col-12 col-md-8">
  <div class="row" *ngIf="!isActive">
      <div class="col-12 col-md-6" *ngIf="!isSolicited">
          <h5>¿Desean cambiar su dominio?</h5>
          <p class="small gray">
            Escriban sus tres opciones y les enviaremos un correo electronico notificandoles la opcion disponible.
          </p>
      </div>
      <div class="col-12 col-md-6" *ngIf="isSolicited">
          <h5>¡Tus opciones ya fueron enviadas!</h5>
          <p class="small gray">
            En breve les enviaremos un correo electronico notificandoles la opcion disponible.
          </p>
      </div>
      <div class="col-12 col-md-6" *ngIf="!isSolicited">
        <form [formGroup]="domainForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group text-left mb-2">
                        <label class="label-control text-uniko mb-1">Opcion 1</label>
                        <input type="text" placeholder="ejemplo: myl" formControlName="url1">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group text-left mb-2">
                        <label class="label-control text-uniko mb-1">Opcion 2</label>
                        <input type="text" placeholder="ejemplo: lym" formControlName="url2">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group text-left mb-2">
                        <label class="label-control text-uniko mb-1">Opcion 3</label>
                        <input type="text" placeholder="ejemplo: MyL" formControlName="url3">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="col-12 col-md-6" *ngIf="isSolicited">
        <form>
            <div class="row">
                <div class="col-12" *ngFor="let domain of domains; let i = index;">
                    <div class="form-group text-left mb-2">
                        <label class="label-control text-uniko mb-1">Opcion {{i + 1}}</label>
                        <p class="domain-subresult">
                          <span>{{domain.url}}</span> <span class="domain-status">{{domain.status == true?'ACTIVO':'PENDIENTE'}}</span>
                        <p>
                    </div>
                </div>
            </div>
        </form>
      </div>
  </div>
  <div class="row" *ngIf="isSolicited && isActive">
      <div class="col-12">
        <h5>Su dominio personalizado</h5>
      </div>
      <div class="col-12">
          <div class="domain-result mb-2" *ngFor="let domain of domains; let i = index;">
            <label class="text-uniko mb-1">Opcion {{i + 1}}</label>
            <p class="domain-subresult">
              <span>{{domain.url}}</span><span class="domain-status">{{domain.status == true?'ACTIVO':'PENDIENTE'}}</span>
            <p>
          </div>
      </div>  
  </div>
</app-modal>

<app-modal 
 [(isOpen)]="isOpenShare"
 [small]="true"
 [isButtonShow]="isOpenShare"
 (onClosed)="onCloseShare()">
 <app-share></app-share>
</app-modal>