<app-header-logo></app-header-logo>
<app-menu></app-menu>
<div class="card bg-dark text-white">
  <img src="./../../../assets/img/recortada.jpg" class="card-img" alt="...">
  <div class="card-img-overlay" style="padding-top: 150px;">
    <h5 class="card-title" style="font-size: 24pt;">PROTEGEMOS EL DÍA MÁS FELIZ DE TU VIDA</h5>
    <p class="card-text" style="padding-top: 30px; font-size: 18pt; font-weight: 100;">Desde el anillo hasta la luna de miel</p>
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <p class="text-center info-description ml-2 mr-2" style="font-size: 16pt !important; font-weight: 200;">
      Hay miles de preparativos al rededor de una boda, pero ... ¿y sí algo sale mal? ¡Despreocúpate! Nosotros te cuidamos
    </p>
  </div>
</div>
