:host {
    .contenedor-payment {
        background-color: #FFFFFF;
        width: 240px;
        height: 400px;
        cursor: pointer;
        overflow: hidden;
        margin: 10px;
        float: left;
        position: relative;
        overflow: visible;
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
    .seal{
        position: absolute;
        top: -20px;
        right: -20px;
        width: 80px;
        height: 80px;
        transform: rotate(15deg);
        img{
            max-width: 100%;
        }
    }
    .capitalize {
        text-transform: capitalize
    }
    .lineaUniko {
        height: 8px;
        width: 100%;
        background-color: #FED9D5;
        float: left;
    }
    .margins-fill {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .title-pay {
        font-size: 12px; 
        text-align:center; 
        font-weight:700;
    }
    .currency-text {
        font-size: 12pt;
    }
    .price {
        font-size: 30px;    
        text-align:center; 
        font-weight:600; 
        margin-bottom:20px !important; 
        margin-top:10px !important;
    }
    .lineaGris {
        height: 8px;
        width: 100%;
        background-color: #DADADA;
        float: left;
    }
    
    .listaUl {
        font-size: 12px;
    }
    
    .listaUl li {
        position: relative;
        list-style-type: none;
    }
    
    .checkNo {
        color: #ADADAD;
    }
    
    .listaUl li:before {
        content: "";
        position: absolute;
        top: 1px;
        left: -22px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
    }
    
    .listaUl .checkSi:before {
        background-image: url('./../../../assets/img/check.png');
    }
    
    .listaUl .checkNo:before {
        background-image: url('./../../../assets/img/cross.png');
    }
}