:host{    
    .image{
        text-align: center;
        cursor: pointer;
    }
    .template-shadow{
        box-shadow: 0px 0px 4px #00000032;        
    }

    .card{
        &:not(:hover){
            opacity: 0.5;
        }
        border-color: transparent;
        &.theme-active{
            border-color: #FDA79E;
            opacity: 1;
        }
    }
}