<app-header menuKey="WEB_SITE" [noActions]="true"></app-header>
<div class="container-fluid">
  <div class="row bg-uniko justify-content-center py-4">
    <div class="col-12 col-md-8 text-center uppercase txt-light my-4">
      <label>Vivan la Experiencia</label>
      <h4>Compartan los mejores momentos de su vida en un mismo lugar.</h4>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row py-4">
    <div class="col-12 text-center">
      <label>Experimenten tener su propio sitio web con alguno de nuestros diseños creados solo para ustedes.</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="row m-0">
        <div class="col-6 col-md-4 col-lg-6 p-0" *ngFor="let theme of themes">
          <div class="card p-3" [class.theme-active]="theme.active">
            <div class="image" (click)="goTheme(theme.code)">
              <img class="hidden-mobile img-responsive"
                src="../../../assets/{{theme.image}}_desktop{{getSubfix()}}.png">
              <img class="show-mobile img-responsive" src="../../../assets/{{theme.image}}_mobile{{getSubfix()}}.png">
            </div>
            <div class="actions text-center txt-uniko mt-4">
              <label class="w-100">{{theme.title}}</label>
              <!--<button class="btn btn-reversed-uniko" (click)="goTheme(theme.code)">
                  Preview
                </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>