<div class="sombraCuadros mb-5 bg-white rounded col-12 sombraCuadros" style="padding:0px;"  *ngFor="let faq of faqs">
    <div class="card-header-buttons" style="width:100% !important; margin:0px;">
        <div class="icon-text">
            <i class="fas fa-th acomodoArt"></i>
        </div>
        <div class="btn-group" role="group">
            <i class="fas fa-trash-alt borrarArt" (click)="borraPregunta(faq)"></i>
            <i class="fas fa-pen editarArt" (click)="editaPregunta(faq)"></i>
        </div>
    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col-12">
                    <h5 class="colorUniko">
                        ¿{{ faq.question }}?
                    </h5>
                    <hr class="bg-uniko">
            </div>
        </div>
        <div class="row">
            <div class="col-12" [class.col-md-12]="!existImg(faq)" [class.col-md-6]="existImg(faq)">
                <p class="card-text" style="margin-left:10px;" [innerHTML]="faq.answer">
                    
                </p>
            </div>
            <div class="col-12 col-md-6" *ngIf="existImg(faq)">
                    <div class="img image-width" [innerHTML]="getImageToVideo(faq)">
            </div>
        </div>
        
    </div>
</div>

<app-modal [(isOpen)]="isOpen" (onClosed)="closeModal()" [small]="true" (onAction)="save()" textButton="Publicar">
        <input type="file" id="image-uploadd-2" (change)="upload($event, 'profile')" style="display: none;"> 

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="dataForm">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group text-left">
                                    <label class="label-control">Escribe tu pregunta</label>
                                    <textarea class="form-control h-mobile" rows="10" formControlName="question">

                                    </textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group text-left">
                                    <label class="label-control">Escribe tu respuesta</label>
                                    <textarea class="form-control h-mobile" rows="10" formControlName="answer">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-12 col-md-12">
                                    <label class="label-control">Agrega una foto</label>
                                    <div class="gift-image-container mr-4 mt-4">
                                        <i class="fas fa-plus iconoAgregar" (click)="onUpload($event, 'image-uploadd-2')"></i>
                                        <input type="file" hidden id='new-gift-image'>
                                        <div class="cardArticulo-img-top card-img-top rounded-0 img-back"
                                         [ngStyle]="{
                                             'background-image': 'url('+file+')',
                                             'background-size': 'cover',
                                             'background-repeat': 'no-repeat'
                                         }"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                </form>
            </div>
        </div>
</app-modal>