<nav style="height: 70px;" class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a style="color: #4e4e4e;" class="nav-link" href="#">Para la boda <i class="fas fa-angle-down"></i></a>
      </li>
      <li class="nav-item">
        <a style="color: #4e4e4e;" class="nav-link" href="#">Para la luna de miel <i class="fas fa-angle-down"></i></a>
      </li>
      <li class="nav-item">
        <a style="color: #4e4e4e;" class="nav-link" href="#">Para despúes de la boda <i class="fas fa-angle-down"></i></a>
      </li>
      <li style="right: 0px; position: absolute; top: -6px;">
        <img width="200" src="./../../../assets/img/seguros-sura.png" alt="">
      </li>
    </ul>
  </div>
</nav>