.rmHover:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.rmHover:hover li {
    color: #333333;
}

.list-group-item {
    padding: 0.75rem 2rem !important;
}
.table-tr:nth-child(even) {
    height: 60px;
    padding: 10px 30px;
}
.table-tr:nth-child(odd) {
    background-color: #fc76671f;
    height: 60px;
    padding: 10px 30px;
}
.contenedor {
    height: 60px;
    padding: 10px 30px;
}

.txtInviten {
    color: #999999;
    text-align: center;
    position: fixed;
    margin-top: -12px !important;
    background-color: #FFFFFF;
    left: 40%;
    right: 40%;
    @media screen and (max-width: 500px) {
        margin-top: -43px !important;
    }
}

.contenedorUniko {
    background-color: #fc76671f;
    height: 60px;
    padding: 10px 30px;
}

.font-size14 {
    font-size: 14px;
}

@media only screen and (max-width:370px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .muestraEnDipLine {
        display: inline-flex !important;
    }
    .anchoCompleto {
        max-width: 100% !important;
        width: 100% !important;
        flex: 100% !important;
        text-align: center;
    }
    .cantNumS {
        font-size: 28px !important;
    }
    .font-sizeTit {
        font-size: 16px !important;
    }
    .botOpciones {
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
        border: 0px;
        padding: 10px 0px;
        padding-left: 10px;
    }
    .padding10 {
        padding: 10px !important;
    }
    .anchoIzq {
        max-width: 60% !important;
        width: 60% !important;
        flex: 100%;
    }
    .anchoDer {
        max-width: 40% !important;
        width: 40% !important;
        flex: 100%;
    }
    .nomAmigo {
        padding-top: 20px !important;
    }
    .fechaAmigo {
        position: absolute;
        text-align: left !important;
        margin-top: -12px !important;
        margin-left: -15px !important;
        font-weight: 700;
    }
    .contenedorUniko {
        padding: 10px !important;
        background-color: #fc76671f;
        height: 60px;
    }
    .contenedor {
        height: 60px;
        padding: 10px;
    }
}