<div class="row m-0">
    <h3 class="ocultaEnDisp" style="font-size:1.55rem;">Obtengan $500 en crédito por cada pareja que refieran a Uniko
    </h3>
    <p class="p-0 m-0 mb-5 ocultaEnDisp" style="font-size: 12px;">Sólo recibiran crédito cuando la persona que inviten a
        registrarse haya verificado su correo electrónico.</p>
    <div class="col-5 mb-5 anchoCompleto">
        <div class="row m-0 anchoCompleto">
            <div class="col-7 anchoCompleto">
                <p class="p-0 m-0 anchoCompleto font-sizeTit" style="font-size: 12px;">Crédito actual</p>
                <p class="p-0 m-0 txt-uniko anchoCompleto cantNumS" style="font-size: 22px; font-weight:600;">
                    {{ referalInfo.balance | currency }}
                </p>
            </div>
            <div class="col-5 ocultaEnDisp" style="padding-top: 6px;">
                <button class="btn btn-uniko btn-md px-2" routerLinkActive="active" routerLink="/profile/retira-credito"
                    type="button">Retirar</button>
            </div>
        </div>
    </div>
    <div class="col-7 mb-5 ocultaEnDisp">
        <div class="row m-0">
            <div class="col-7">
                <p class="p-0 m-0" style="font-size: 12px; font-weight:700;">¿Ya saben a quién recomendar?</p>
                <p class="p-0 m-0" style="font-size: 12px;">Invítalos por email o por enlace.</p>
            </div>
            <div class="col-5" style="padding-top: 6px;">
                <button class="btn btn-uniko btn-md px-2" (click)="openShare()" type="button">Referir amigos</button>
            </div>
        </div>
    </div>
    <div class="col-12 ocultaEnDisp">
        <p class="p-0 m-0 txt-uniko" style="font-size: 11px; text-align: center; font-weight:600; letter-spacing:2px;">
            USUARIOS INVITADOS</p>
    </div>
</div>
<div class="row m-0 shadow-sm p-0 bg-white rounded">
    <div class="col-12 shadow-sm p-2 mb-0 bg-white rounded navbar ocultaEnDisp ">
        <p>&nbsp;</p>
        <button type="button" (click)="colapsa('Orden3')" class="btn btn-outline-dark float-right rmHover"
            style="font-size:12px; font-weight:500;">
            <i class="fas mr-2 fa-sliders-h"></i>Ordenar por
            <div id="collapseOrden3" data-toggle="down"
                style="position:absolute; display:none; z-index:9999; margin-left:-11px; margin-top:3px;">
                <ul class="list-group ulEstilos">
                    <li class="list-group-item" (click)="ordenPor(1)">Nombre</li>
                    <li class="list-group-item" (click)="ordenPor(2)">Fecha</li>
                    <li class="list-group-item" (click)="ordenPor(3)">Precio</li>
                </ul>
            </div>
        </button>
    </div>
    <div class="col-12 shadow-sm p-2 mb-0 bg-white rounded navbar muestraEnDip" style="display: none;">
        <button type="button" (click)="colapsa('Orden3')" class="btn btn-outline-dark float-right rmHover botOpciones">
            <i class="fas mr-2 fa-sliders-h"></i>
            <div id="collapseOrden3" data-toggle="down"
                style="position:absolute; display:none; z-index:9999; margin-left:-11px; margin-top:3px;">
                <ul class="list-group ulEstilos">
                    <li class="list-group-item" (click)="ordenPor(1)">Nombre</li>
                    <li class="list-group-item" (click)="ordenPor(2)">Fecha</li>
                    <li class="list-group-item" (click)="ordenPor(3)">Precio</li>
                </ul>
            </div>
        </button>
    </div>
    <div class="col-12 p-0" style="margin-bottom:30px;">
        <div class="m-0 table-tr" *ngFor="let _list of referalInfo.list">
            <div class="col-12 p-0">
                <div class="row m-0">
                    <div class="col-4 p-0 m-0 anchoIzq">
                        <p class="p-0 m-0 text-truncate font-size14 nomAmigo" style="font-weight:600;">{{ _list.name }}
                            <span class="ocultaEnDisp" style="color:#999999;">({{ _list.telephone }})</span></p>
                        <p class="p-0 m-0 font-size14 ocultaEnDisp">{{ _list.email }}</p>
                    </div>
                    <div class="col-4 p-0 pl-4 m-0 align-middle ocultaEnDisp" style="padding-top:12px !important;">
                        <p class="p-0 m-0 text-truncate" style="letter-spacing:1px; color:green; font-size:12px;">
                            {{ (_list.isPaidAccount ? 'Crédito otorgado por invitación' : '') }}
                        </p>
                    </div>
                    <div class="col-2 m-0 align-middle fechaAmigo"
                        style="text-align:right; padding-top:12px !important;">
                        <p class="p-0 m-0 txt-uniko" style="font-size: 11px; letter-spacing: 1px;">
                            {{ ( _list.registerDate) | date }}
                        </p>
                    </div>
                    <div class="col-2 m-0 align-middle anchoDer" style="text-align:right; padding-top:12px !important;">
                        <p class="p-0 m-0" style="font-size: 15px;">
                            {{ ( _list.isPaidAccount ? _list.amount : 0) }}
                            <i class="fas fa-chevron-right align-middle text-danger muestraEnDipLine"
                                style="font-size:14px; margin-left:10px; display: none;"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0 w-100 bg-uniko muestraEnDipLine" style="position:fixed; bottom:0px; left:0px; display: none;">
    <div class="col-6 m-0 p-0">
        <button class="btn btn-uniko btn-md m-0 p-2 text-center btn-block" style="font-size:12px;"
            routerLinkActive="active" routerLink="/perfil/retira-credito" type="button">
            <i class="fas fa-credit-card"></i><br>
            Retirar créditos
        </button>
    </div>
    <div class="col-6 m-0 p-0">
        <button class="btn btn-uniko btn-md px-2 text-center btn-block" style="font-size:12px;" type="button">
            <i class="fas fa-user-friends" style="font-size: 14px;"></i><br>
            Referir amigos
        </button>
    </div>
</div>


<app-modal [(isOpen)]="isOpen" (onClosed)="onClosedInfo()" textButton="Invitar" (onAction)="save()">
    <div class="col-12 p-0">
        <div class="row">
            <div class="col-12 " style="border-bottom:1px solid #fc7667; padding-bottom: 30px;">
                <div class="col-12 py-3 px-1">
                    <div class="row m-0 ">
                        <div class="col-12 p-0 m-0 mb-3">
                            <p class="p-0 m-0 font-size14" style="text-align: center;">Inviten a sus amigos a unirse a
                                Uniko</p>
                        </div>
                        <div class="col-12 mb-3">
                            <p class="p-0 m-0 font-size14" style="color:#999999;">Recibirán $500 mxn de su parte al
                                contratar su mesa de regalos y ustedes obtendrán $500 mxn en su cuenta de banco.</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                <input matInput [(ngModel)]="email" placeholder="Email" value="">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4">
                            <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                <input matInput [(ngModel)]="name" placeholder="Nombre" value="">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4">
                            <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                <input matInput [(ngModel)]="phone" placeholder="Teléfono" value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-centered">
                <p class="p-0 m-0 font-size14 txtInviten">o invítenlos por enlace</p>
                <div class="col py-3 px-1 my-3">
                    <p class="p-0 m-0" style="font-size: 14px; font-weight:700; ">Tu enlace de referencia</p>
                    <div class="input-group">
                        <input readonly [value]="textlink" id="foo" type="text" class="form-control"
                            style="background-color:#DDDDDD;" placeholder="" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button (click)="copy()" data-clipboard-target="#foo"
                                class="btn btn-outline-secondary clipboard" type="button" id="button-addon2"><i
                                    class="fas fa-share-alt txt-uniko"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>