<div class="containerPrincipal2" style="width: 730px;">
    <div class="row m-0">
        <div class="col-12 p-20 shadow-sm" style="padding: 10px;">
            <button mat-button [mat-dialog-close]="false" class="btn">
                          Cancelar
                      </button>
            <button mat-button [mat-dialog-close]="true" (click)="send()" class="btn btn-uniko float-right">
                          Invitar
                      </button>
        </div>
        <div class="col-12 p-0">
            <div class="row overflow-auto w-100 m-0">
                <div class="col-12 contenedorUnikoAgradece" style="border-bottom:1px solid #fc7667;">
                    <div class="col-12 py-3 px-1">
                        <div class="row m-0 ">
                            <div class="col-12 p-0 m-0 mb-3">
                                <p class="p-0 m-0 font-size14" style="text-align: center;">Inviten a sus amigos a unirse a Uniko</p>
                            </div>
                            <div class="col-12 mb-3">
                                <p class="p-0 m-0 font-size14" style="color:#999999;">Recibirán $500 mxn de su parte al contratar su mesa de regalos y ustedes obtendrán $500 mxn en su cuenta de banco.</p>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                    <input matInput [(ngModel)]="email" placeholder="Email" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                    <input matInput [(ngModel)]="name" placeholder="Nombre" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                                    <input matInput [(ngModel)]="telephone" placeholder="Teléfono" value="">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-centered">
                    <p class="p-0 m-0 font-size14 txtInviten">o invítenlos por enlace</p>
                    <div class="col py-3 px-1 my-3" style="width:400px; margin-left:150px;">
                        <p class="p-0 m-0" style="font-size: 10px; font-weight:700; ">Tu enlace de referencia</p>
                        <div class="input-group">
                            <input type="text" class="form-control" style="background-color:#DDDDDD;" placeholder="" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-share-alt txt-uniko"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>