:host{    
    .template-container{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        .template-background{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .template-ornate{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &.flowers{            
                svg{
                    position: absolute;
                    bottom: 0;
                    right: 0
                }
            }  
            &.lines{
                .ornate-container{
                    height: 100%;
                    width: 100%;
                }
                svg{
                    display: block;
                    margin: 0 auto;
                }
            }
            &.corners{
                border: 4px solid transparent;
                .r180{
                    transform: rotate(180deg);
                }
                .r-90{
                    transform: rotate(-90deg);
                }
                .r90{
                    transform: rotate(90deg);
                }
                .ornate-container{
                    position: absolute;
                    &.top{
                        top: 8px;
                    }
                    &.bottom{
                        bottom: 8px;
                    }
                    &.left{
                        left: 8px;
                    }
                    &.right{
                        right: 8px;
                    }
                }
            }
            &.dots{
                .ornate-container{
                    height: 100%;
                    width: 100%;
                }
                svg{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}