<div class="row shadow-sm px-4 py-3 bg-white rounded m-0">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="row mb-3">
                    <h6 style="font-weight:600;">{{isCouple()?'Datos de pareja':'Datos generales'}}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pr-3">
                <div class="row">
                    <div class="col-12 p-2" style="height:17px;">
                        <p class="txt-uniko" style="font-size: 12px;">TUS DATOS</p>
                    </div>
                    <div class="col-6 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Nombre" [(ngModel)]="coupleInformation.weddingData.nameP1">
                        </mat-form-field>
                    </div>
                    <div class="col-6 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Apellido"
                                [(ngModel)]="coupleInformation.weddingData.lastnameP1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Tu Email" [(ngModel)]="coupleInformation.email">
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Tu Teléfono" [(ngModel)]="coupleInformation.phoneNumber1">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-3" *ngIf="isCouple()">
                <div class="row">
                    <div class="col-12 p-2" style="height:17px;">
                        <p class="txt-uniko" style="font-size: 12px;">SUS DATOS</p>
                    </div>
                    <div class="col-6 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Tu pareja" [(ngModel)]="coupleInformation.weddingData.nameP2">
                        </mat-form-field>
                    </div>
                    <div class="col-6 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Su Apellido"
                                [(ngModel)]="coupleInformation.weddingData.lastnameP2">
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Su Email" [(ngModel)]="coupleInformation.email2">
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input matInput placeholder="Su Teléfono" [(ngModel)]="coupleInformation.phoneNumber2">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-3 mt-3">
                    <h6 style="font-weight:600;">{{isCouple()?'Datos de tu boda':'Datos del evento'}}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pr-3">
                <div class="row">
                    <div class="col-12 p-2">
                        <mat-form-field style="width:100%; height: 30px; border: 0px;">
                            <input autocomplete="off" name="address" matInput [owlDateTime]="dt3"
                                [owlDateTimeTrigger]="dt3" placeholder="Fecha de evento"
                                [(ngModel)]="coupleInformation.weddingData.date" #date>
                            <owl-date-time #dt3></owl-date-time>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-6 pr-3">
                <div class="row">
                    <div class="col-12 p-2">
                        <form autocomplete="off">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="text" (keydown.enter)="$event.preventDefault()"
                                    placeholder="Dirección" autocorrect="off" autocapitalize="off" spellcheck="off"
                                    type="text" #search (change)="checkForNullity($event)">
                            </mat-form-field>
                        </form>
                        <input matInput [(ngModel)]="eventPlace" class="p-0" disabled>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mb-3 mt-3">
                    <h6 style="font-weight:600;">URL de tu sitio</h6>
                </div>
            </div>
            <div class="col-12 col-sm-6 pr-3">

                <div class="row">
                    <div class="col-5 p-0 pl-2" *ngIf="!isDomine">
                        <span style="font-size: 12px;" class="text-right text-special mt-2">{{link}}</span>
                    </div>
                    <div class="col-5 p-0" *ngIf="!isDomine">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="direccion"
                                [(ngModel)]="coupleInformation.url" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                    (click)="isOpenShare=true;"><i class="fas fa-share-alt txt-uniko"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0" *ngIf="isDomine">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="direccion" [(ngModel)]="url"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                        class="fas fa-share-alt txt-uniko"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-right">
                <button class="btn btn-uniko btn-md px-5" type="button" (click)="formatData()">Aplicar cambios</button>
            </div>
        </div>
    </div>
</div>

<app-modal [(isOpen)]="isOpenShare" [small]="true" [isButtonShow]="isOpenShare" (onClosed)="onCloseShare()">
    <app-share></app-share>
</app-modal>