:host{
    @media only screen and (max-width:370px) {
        .btn-uniko {
            padding: .5rem 1rem!important;
            width: 100%;
        }
        .padding0 {
            padding: 0px !important;
        }
        .text-right {
            font-size: .8rem !important;
        }
    }
    .text-special{
        color: #CCC;
        display: inline-block;
    }
}