<app-header menuKey="GIFT_TABLE" [buttons]="buttons"></app-header>
<input id='fakeButtonMake' type="hidden" (click)='makeDialog()'>
<br>
<router-outlet></router-outlet>
<app-modal (onClosed)="isOpenDialog=false;" [isButtonShow]="false" [(isOpen)]="isOpenDialog">
    <div class="row">
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-12 col-lg-12 p-0 flex images-container flex-wrap">
                    <p>
                        <strong>Hola</strong>,
                        <br>
                        <span class="text-justify" style="display: block;">
                            Ahora tu puedes decidir si la comisión bancaria de los regalos va a cargo de tus invitados o
                            si prefieren absorberla ustedes.
                        </span>
                    </p>
                    <ul>
                        <li>
                            Si está en ON (prendida) la comisión se descontará de tu regalo.
                        </li>
                        <li>
                            Si la pones en OFF (apagada) la comisión la pagan los invitados. (Es como pagar el
                            estacionamiento del centro comercial).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <label class="switch">
                <input type="checkbox" class="hidden" [checked]="couple.paymentCommision">
                <span class="slider round" (click)="onActiveComission()"></span>
            </label>
        </div>
        <div class="col-12 text-center">
            <span *ngIf="couple.paymentCommision">ON</span>
            <span *ngIf="!couple.paymentCommision">OFF</span>
        </div>
    </div>
</app-modal>
<app-modal (onClosed)="onClose()" [isButtonShow]="false" [(isOpen)]="isOpen">
    <div *ngIf="!loading && !announce">
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-12 col-lg-5 p-0 flex images-container flex-wrap">
                    <div class="row w-100 m-0">
                        <div *ngFor="let image of images; let i = index;" id="{{ i }}"
                            class="gift-image-container col-6">
                            <i class="fas fa-times iconoBorrar" (click)="quitarFoto(i)"></i>
                            <div class='gift-image'>
                                <img [src]="image" class="cardArticulo-img-top card-img-top rounded-0 img-responsive"
                                    alt="...">
                            </div>
                        </div>
                        <div class="gift-image-container col-6" *ngIf='countImages()'>
                            <i class="fas fa-plus iconoAgregar" (click)="agregarFoto($event)"></i>
                            <input #newGiftImage id='new-gift-image' type="file" hidden (change)='fileProgress($event)'>
                            <div class='gift-image'>
                                <img src="../../assets/img/uniko-empty-image.jpg" style="border:1px dashed #333333;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 pr-0 mt-2">
                    <div class="card border-0" style="background-color:transparent !important;">
                        <div class="card-body p-0">
                            <form [formGroup]="newItemForm">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Nombre de Producto" name='name' formControlName='name'
                                        required>
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Precio" type="number" name='price'
                                        formControlName='price' required>
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <textarea matInput placeholder="Descripción" name='description' required
                                        formControlName='description' style="height: 110px;"></textarea>
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <mat-label>Tienda</mat-label>
                                    <select matNativeControl formControlName='storeId' name='storeId' required>
                                        <option *ngFor="let store of stores" [ngValue]='store.id'>{{store.name}}
                                        </option>
                                    </select>
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <mat-label>Categoría</mat-label>
                                    <mat-select formControlName='category' multiple name="category" required>
                                        <mat-option *ngFor="let category of categories" [value]="category.id">
                                            {{category.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!--<mat-form-field class="w-100">
                                    <mat-label>Cantidad</mat-label>
                                    <select matNativeControl name='qty' formControlName='qty'>
                                        <option [ngValue]="1">1</option>
                                        <option [ngValue]="2">2</option>
                                        <option [ngValue]="3">3</option>
                                        <option [ngValue]="4">4</option>
                                        <option [ngValue]="5">5</option>
                                        <option [ngValue]="6">6</option>
                                        <option [ngValue]="7">7</option>
                                        <option [ngValue]="8">8</option>
                                        <option [ngValue]="9">9</option>
                                        </select>
                                </mat-form-field>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 justify-content-between">
                <div class="col-12 col-lg-auto p-0 flex flex-wrap">
                    <button (click)="onClose()" class="btn float-left mobile-size">
                        Cancelar
                    </button>
                </div>
                <div class="col-12 col-lg-auto p-0 flex flex-wrap">
                    <button (click)="openAnnounce()" class="btn btn-uniko float-right mobile-size">
                        Crear regalo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && announce">
        <div class="col-12 p-0">
            <div class="row mx-0 mb-4">
                <div class="col-12 p-0 flex flex-wrap pb-4">
                    <h4 class="txt-uniko text-center mb-3">¡ATENCIÓN!</h4>
                    <h6 class="mb-3">
                        Uniko no se hace responsable del uso de nombres o imagen de
                        marcas
                        en la mesa de
                        regalos.
                    </h6>
                    <h6>Del mismo modo no recomendamos su uso sin previa autorización de dichas marcas.</h6>
                </div>
            </div>
            <div class="row m-0 justify-content-between">
                <div class="col-12 col-lg-auto p-0 flex flex-wrap">
                    <button (click)="closeAnnounce()" class="btn float-left mobile-size">
                        Cancelar
                    </button>
                </div>
                <div class="col-12 col-lg-auto p-0 flex flex-wrap">
                    <button (click)="guardarRegalo()" class="btn btn-uniko float-right mobile-size">
                        Estoy de acuerdo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center p-4" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</app-modal>
<app-footer></app-footer>