/*------- Slider --------*/

// We need to use ::ng-deep to overcome view encapsulation
:host {
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #fc7667;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #fc7667;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}
::ng-deep {
    .ng5-slider {
        margin: 0px !important;
    }
    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #9e9e9e;
        height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
        background: #fc7667;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 16px;
        height: 16px;
        top: -7px;
        bottom: 0;
        border: 2px solid #555555;
        border-radius: 16px;
        background-color: #FFFFFF;
        box-sizing: border-box;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
    }
    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
        display: none;
    }
    .custom-slider .ng5-slider .ng5-slider-limit {
        font-weight: bold;
        color: orange;
    }
    .custom-slider .ng5-slider .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: #ffe4d1;
        top: -1px;
    }
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
        background: orange;
    }


    /*Make gift area*/
    .tituloArticulo {
        font-size: 26px;
        font-weight: 200;
        color: #444444;
        margin-bottom: 0px;
    }
    .edit-container{
        margin: -15px;
        max-width: 850px;
    }
    
    .editarArt {
        background-color: #f2aba1;
        padding: 7px;
        color: #333333;
        font-size: 15px;
        text-align: center;
        line-height: 17px;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .borrarArt {
        background-color: #ed7d6d;
        padding: 7px;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        line-height: 17px;
        border-radius: 0px;
        cursor: pointer;
    }
    
    .cardArticulo-Precio {
        font-size: .9rem !important;
        font-weight: 100;
        margin-bottom: 20px !important;
    }
    
    .colorUniko {
        color: #fc7667 !important;
    }
    
    .precioArticulo {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
    }
    
    .select_box {
        width: 100px;
        height: 35px;
        overflow: hidden;
        border: 1px solid #cccccc;
        position: relative;
        line-height: 31px;
        border-radius: 4px;
    }
    
    .select_box:after {
        width: 10px;
        height: 10px;
        color: #fc7667;
        position: absolute;
        top: 35%;
        right: 10px;
        content: "";
        background-image: url('./../../assets/img/arrow.png');
        background-position: center center;
        background-size: 100%;
    }
    
    .select_box select {
        width: 110px;
        height: 30px;
        border: 0;
        position: relative;
        z-index: 99;
        background: none;
        color: #aaaaaa;
    }
    
    .navbar-link {
        font-size: 10pt;
        font-weight: 100;
    }
    /*
    ::ng-deep {    
        .cdk-overlay-container {
            z-index: 99999999 !important;
        }
        .cdk-overlay-pane {
            max-width: 850px !important;
        }
        .mat-dialog-container {
            padding: 0px !important;
        }
        .mat-input-element {
            caret-color: #fc7667 !important;
        }
        .mat-form-field-underline {
            background-color: #333333 !important;
        }
        .mat-focused .mat-form-field-label {
            color: #fc7667 !important;
        }
        .mat-form-field-ripple {
            background-color: #fc7667 !important;
            ;
        }
        
    }*/
    
    .btn-uniko {
        color: #fff !important;
        background-color: #fc7667 !important;
        border-color: #fc7667 !important;
    }
    
    .iconoBorrar {
        position: absolute;
        width: 31px;
        right: -5px;
        bottom: -5px;
        background-color: #FFFFFF;
        padding-top: 8px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #fc7667;
        cursor: pointer;
        height: 31px;
        text-align: center;
    }
    
    .iconoAgregar {
        position: absolute;
        right: -5px;
        bottom: -5px;
        background-color: #fc7667;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    
    /* SUM STUFF*/
    
    .images-container{
        display: flex;
        align-items: flex-start; 
        align-content: flex-start;
    }
    .gift-image-container{    
        padding: 10px;
        position: relative;
    
        .gift-image{
            padding: 0;
            img{
                max-width: 100%;
            }
        }
    }
}