<form [formGroup]="planForm">
    <div class="row m-t-20" *ngIf="plan && !plan.isSuscription && !plan.isBasic">
      <div class="col-md-4 col-12 text-center">
          <div class="img-content" (click)="changeMethod('paypal')">
              <img class="image-1" src="/assets/img/paypal-784404_960_720.png" alt="">
          </div>
          <mat-radio-button (click)="changeMethod('paypal')" [checked]="method == 'paypal'" style="display: block;" name="type"></mat-radio-button>
      </div>
      <div class="col-md-4 col-12 text-center b-color">
          <div class="img-content" (click)="changeMethod('paypal-plus')">
              <img class="image-1" src="/assets/img/paypal.png" alt="">
          </div>
          <mat-radio-button 
            (click)="changeMethod('paypal-plus')"  
            [checked]="method == 'paypal-plus'"
            style="display: block;" 
            name="type">
          </mat-radio-button>
      </div>
      <div class="col-md-4 col-12 text-center">
          <div class="img-content" (click)="changeMethod('card')">
              <img class="image-3" src="/assets/img/245px-Mastercard-logo.svg.png" alt="">
              <img class="image-3" src="/assets/img/VISA-logo.png" alt="">
              <img class="image-3" src="/assets/img/amex.png" alt="">
          </div>
          <mat-radio-button [checked]="method == 'card'" style="display: block;" name="type" (click)="changeMethod('card')"></mat-radio-button>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Datos de Pago</p>
            <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">El plan Premium es el adecuado para ustedes</p>
        </div>
        <div class="col-5 m-0">
            <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:right; font-weight: 600;">
                Van a comprar
            </p>
            <p class="p-0 m-0 mt-1" style="font-size: 13px; text-align:right; font-weight: 600;">
                {{ plan?.name | uppercase }}
            </p>
            <p class="p-0 m-0 txt-uniko" style="font-size: 24px; text-align:right; font-weight: 600;">
               {{ plan?.amount | currency }}
            </p>
        </div>
        <div class="col-12 col-md-5 m-0">
            <p class="p-0 m-0 txt-uniko" style="font-size: 13px; text-align:left; font-weight: 600;">
                Información de tarjeta
            </p>
            <div class="row p-t-10" *ngIf="plan && !plan.isSuscription && !plan.isBasic">
                <div class="col-12 col-md-8">
                    <label for="" class="label-control">
                      Código de descuento
                    </label>
                    <input maxlength="30" [class.submit]="submit" formControlName="code" type="text" class="form-control">
                </div>
                <div class="col-12 col-md-4 p-t-10 p-button">
                    <button  class="btn btn-uniko btn-md px-2 col-centered" (click)="validateCode()" type="button">Validar</button>
                </div>
            </div>
            <div class="row" *ngIf="method === 'paypal-plus'">
                <div class="col-12">
                  <div id="paypal-plus"></div>  
                </div>
                <div class="col-12 col-md-2 m-t-10 mb-20">
                    <button (click)="paypalPlus.doContinue(); spinner.show();" id="continueButton" class="btn btn-uniko btn-md px-2 col-centered">PAGAR</button>
                </div>
            </div>
            <div class="row p-t-10" *ngIf="method === 'card'">
                <div class="col-12">
                  <label for="" class="label-control">
                    Nombre en tarjeta
                  </label>
                  <input maxlength="30" [class.submit]="submit" formControlName="name" type="text" class="form-control">
                </div>
            </div>
            <div class="row p-t-10" *ngIf="method === 'card'">
                <div class="col-12">
                  <label for="" class="label-control">
                    Número de tarjeta
                  </label>
                  <input (keyup)="validCard()" [maxlength]="type.card" [minlength]="type.card" [class.submit]="submit" formControlName="numberCard" type="text" class="form-control">
                </div>
            </div>
            <div class="row p-t-10" *ngIf="method === 'card'">
                <div class="col-6 col-md-8">
                    <label for="" class="label-control">
                            Fecha vencimiento
                    </label>
                  <div class="row">
                    <div class="col-6">
                       <select [class.submit]="submit" formControlName="month" class="form-control" name="" id="">
                         <option value="">Seleccione mes</option>
                         <option [value]="_month" *ngFor="let _month of months">{{ _month }}</option>
                       </select>
                    </div>
                    <div class="col-6">
                        <select [class.submit]="submit" formControlName="year" class="form-control" name="" id="">
                          <option value="">Seleccione año</option>
                          <option [value]="_year" *ngFor="let _year of years">{{ _year }}</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-4">
                    <label for="" class="label-control">
                        cvc
                    </label>
                  <div class="row">
                    <div class="col-12">
                        <input [maxlength]="type.cvc" [minlength]="type.cvc" [class.submit]="submit" formControlName="cvc" type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-12">
                      <label for="" class="label-control">
                          Meses sin intereses
                      </label>
                    <div class="row">
                      <div class="col-12">
                          <select [class.submit]="submit" formControlName="msi" class="form-control" name="" id="">
                              <option value="">Seleccione meses</option>
                              <option value="1">1</option>
                              <option value="3">3</option>
                              <option value="6">6</option>
                            </select>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row" *ngIf="method !== 'paypal-plus'">
                <div class="col-12 col-md-2 m-t-10">
                    <button class="btn btn-uniko btn-md px-2 col-centered" (click)="next()" type="button">Continuar</button>
                </div>
              </div>
        </div>
    </div>
</form>