.m-t-10 {
    margin-top: 10px;
}

.p-button {
    padding-top: 22px;
}

.m-t-20 {
    margin-top: 20px;
}

.img-content {
    height: 40px;
    cursor: pointer;
    .image-1 {
        width: 105px;
    }
    .image-3 {
        width: 35px;
        margin-right: 5px;
    }
}

.b-color    {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    @media screen and (max-width: 500px) {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: none;
        border-left: none;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        padding-top: 10px;
    }
}