<div class="col-centered tamContenedor">
    <div class="row m-0 justify-content-center">
        <app-steps class="col-12 p-0" step="4" totalSteps="3"></app-steps>
    </div>
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" *ngIf="order.paymentMethod === 'OXXO'">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Estos son
                        los datos para realizar tu pago en Oxxo</p>
                    <p style="font-size:16px;color:#999999;text-align:center;">
                        Al completar estos pasos recibirás un correo de UNIKO confirmando tu pago
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="row text-md-right text-center">
                                <div class="col-12 text-uniko label-amount">
                                    Monto a Pagar
                                </div>
                                <div class="col-12 text-uniko amount-total">
                                    {{ (order.coupleComision ? (order.paymentData.amount + order.comission +  order.comissionMsi) : order.paymentData.amount) | currency }}
                                    MXN
                                </div>
                                <div class="col-12">
                                    <img width="100" src="./../../../assets/img/1200px-Oxxo_Logo.svg.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 text-center text-md-left">
                            <div class="row">
                                <div class="col-12 info-label">
                                    Método
                                </div>
                                <div class="col-12 info-resp-label">
                                    Oxxo Pay
                                </div>
                                <div class="col-12 info-label">
                                    Referencia
                                </div>
                                <div class="col-12 info-resp-label">
                                    {{ order.transactionData.payment_method.reference }}
                                </div>
                                <div class="col-12 info-resp-label">
                                    <img width="100" src="{{ order.transactionData.payment_method.barcode_url }}"
                                        alt="">
                                </div>
                                <div class="col-12 pt-5">
                                    <button class="btn btn-uniko btn-md px-2 col-centered" onclick="window.print();"
                                        type="button">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="order.paymentMethod === 'SPEI'">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Estos son
                        los datos para realizar tu transferencia Spei</p>
                    <p style="font-size:16px;color:#999999;text-align:center;">
                        Al completar estos pasos recibirás un correo de UNIKO confirmando tu pago
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="row text-md-right text-center">
                                <div class="col-12 text-uniko label-amount">
                                    Monto a Pagar
                                </div>
                                <div class="col-12 text-uniko amount-total">
                                    {{ (order.coupleComision ? (order.paymentData.amount + order.comission +  order.comissionMsi) : order.paymentData.amount) | currency }}
                                    MXN
                                </div>
                                <div class="col-12">
                                    <img width="100" src="./../../../assets/img/SPEI-LOGO-300x150.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 text-center text-md-left">
                            <div class="row">
                                <div class="col-12 info-label">
                                    Banco
                                </div>
                                <div class="col-12 info-resp-label">
                                    STP
                                </div>
                                <div class="col-12 info-label">
                                    Cuenta clabe
                                </div>
                                <div class="col-12 info-resp-label">
                                    {{ order.transactionData.payment_method.clabe }}
                                </div>
                                <div class="col-12 pt-5">
                                    <button class="btn btn-uniko btn-md px-2 col-centered" onclick="window.print();"
                                        type="button">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="order.paymentMethod === 'RAPPI'">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Estos son
                        los datos para realizar tu pago en rappi</p>
                    <p style="font-size:16px;color:#999999;text-align:center;">
                        Al completar estos pasos recibirás un correo de UNIKO confirmando tu pago
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="row text-md-right text-center">
                                <div class="col-12 text-uniko label-amount">
                                    Monto a Pagar
                                </div>
                                <div class="col-12 text-uniko amount-total">
                                    {{ (order.coupleComision ? (order.paymentData.amount + order.comission +  order.comissionMsi) : order.paymentData.amount) | currency }}
                                    MXN
                                </div>
                                <div class="col-12">
                                    <img width="100" src="./../../../assets/img/rapppi.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 text-center text-md-left">
                            <div class="row">
                                <div class="col-12 info-label">
                                    Método
                                </div>
                                <div class="col-12 info-resp-label">
                                    Rappi
                                </div>
                                <div class="col-12 info-label">
                                    link
                                </div>
                                <div class="col-12 info-resp-label">
                                    <!-- {{ order.transactionData.payment_method.reference }} -->
                                </div>
                                <div class="col-12 info-resp-label">
                                    <img width="100"
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAQMAAACXljzdAAAABlBMVEX///8AAABVwtN+AAACW0lEQVR42uyXQYr8LBDFn7jI0hvoRaS9VhYNBnqRazl4Eb1BllmI76My3T0zex2+P0zh7kcglq+qXuEv/t2I5ImQvA/ddQs4Q3ICWa/jQ/KwVhXAXGc8iecam9cJN1WshTOG0whz8l51q2rBTNI0c+6qdkfOIsB61zkzhaLI4n7kehwRhdy9xM1K/NTOOHLRTLbwwQLA/VT9MLLGS/Eh5+TIymJeP/BbZOGJ2BCYP2otioU8zASyrssZkxTdDdax4Dh4TCBxw8IE76HYVVeF5uAMsu/cpBRysqqrypdERxPuW2RmQihWioEEJ5DlXPhgTtDJAkoy+tToWBL3fWduHprFwsId/MroQLJs66obfGCyrrvi8BTiaLLv+4PN68xaCxwNn083mmxxCzJMpCf2azZiAhGJNO91bqLDbp0xr7cbSta4xUeTEawKLKxk9HdJ3FbEnJMPl9dgMV9VP5IsnyWXcwv9mmakwQQitdCgZcrUbq2i+V4l44h0+YaQdLo5PnvVDLLGDTHpnMKn2/jqVWOJdKu7VLYoRLE4vDI6lqzLBogZlN5rrQWeI2s4OeOjec10k15VebzQWCKW4h5y0kluenkKwwlkjadYClkLKHuBO453DxlL9p0y7KFqUUXxODCFLOcK771uNydWzL1N52+Rz3xLX07qsgEwxkwg4q81yST+WtXK9xdjiewLMelr08J1TXNMIfGUveS5Z3WB7ykzmsQUktddFdcdv+0Lw0lmulxApYSZQuR4aFkMutwUeNXCUHLtcyJ53KwTA3W8hsxY8hf/4/gvAAD//6CHiRRljgs+AAAAAElFTkSuQmCC"
                                        alt=""> </div>
                                <div class="col-12 pt-5">
                                    <button class="btn btn-uniko btn-md px-2 col-centered" onclick="window.print();"
                                        type="button">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12"
                    *ngIf="order.paymentMethod !== 'OXXO' && order.paymentMethod !== 'RAPPI' && order.paymentMethod !== 'SPEI'">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Recibo</p>
                    <div class="text-center col-12 mt-4 mb-3">
                        <img src="./../../../assets/img/OkFelicidades.png" class="rounded"
                            style="width:100px; height:100px;" alt="boleto">
                    </div>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">¡Felicidades!
                    </p>
                    <p style="text-align:center; font-size:14px; margin:0px; font-weight:600;">Su pago ha sido
                        registrado, en breve se les enviará un correo electrónico confirmando su compra.</p>
                </div>
                <div class="col-12 text-center mt-5">
                    <a class="text-uniko" routerLink="/{{couple.url}}/gift-table">Volver a la mesa de regalos</a>
                </div>
            </div>
        </div>
    </div>
    <iframe width="100%" *ngIf="isExistBonnus" height="500px" [src]="bonnusUrl" frameborder="0">

    </iframe>
</div>