:host{
    .title{
        color: #fc7667;        
    }
    .info{
        color: #b4b4b4;
    }
    .big{
        font-size: 1.2em;
    }
    .small{
        font-size: 0.8em;
    }
    .block{
        display: block;
    }
    .row-line{
        border-bottom: 1px solid #fc7667;
    }
    .text-uniko{
        color: #fc7667;
    }
    .italic{
        font-style: italic;
    }
    .underline-uniko{
        text-decoration: underline;
    }
    .success-icon{
        font-size: 42px;
        color: #fc7667;
    }
    

    .mini-alert{ 
        padding: 2px 5px;
        text-align: right;
        font-size: 11px;
        font-style: italic;
        &.mini-danger{
            background-color: transparent;
            color: red;
        }
        &.mini-info{
            text-align: left;
            color: #fc7667;
            background-color: transparent;
        }
    }

    input.ng-touched.ng-invalid{
        box-shadow: 1px 1px 4px #fc7667, 1px -1px 4px #fc7667;
    }
    .discount{
        text-decoration: line-through;
    }
    
}