<div class="row">
  <div class="col-12 pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 mb-4">
        <div><h3 class="bold">Estas a un solo paso de validar tu cuenta</h3></div>
        <div><span>Solo ingresa el codigo que te enviamos a tu celular</span></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-8">
        <div class="row align-items-end">
            <div class="col-1 hidden-mobile"></div>
          <div class="col-12 col-sm-10">
            <label for="" class="label-control">
              {{ change ? 'Número' : 'Escríbe aquí el código' }}
            </label>
            <input maxlength="30" *ngIf="!change" type="text" [(ngModel)]="code" class="form-control" >
            <input maxlength="10" *ngIf="change" type="text" [(ngModel)]="coupleInformation.phoneNumber1" class="form-control" >
          </div>
          <!-- <div class="col-12 col-sm-5">
            <button class="btn btn-uniko" (click)="getValidationCode()" [disabled]="code.lenght">Verificar</button>
          </div> -->
        </div>
        <div class="row mt-4">
            <div class="col-1 hidden-mobile"></div>
            <div class="col-12 col-md-5 mb-2">
                    <button (click)="send()" class="btn btn-uniko btn-block " type="button">
                      {{ (change ? 'Envíar' : 'Validar') }}
                    </button>
                   
            </div>
            <div class="col-md-6 col-12 mb-2">
                <button (click)="change = !change" class="btn btn-block" type="button">
                    {{ (change ? 'Ya tengo mi código' : 'Envíar un código nuevo' ) }}   
                 </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
