:host{
    .menuPerfil{
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        li {
            padding: 10px 0px;
            font-weight: 500;
            font-size: .9rem;
            cursor: pointer;
            position: relative;
            padding-right: 50px !important;
            &:hover{
                color: #fc7667;
                opacity: .6;
                font-weight: 700;
                a.link-submenu {
                    i {
                        display: block !important;
                    }
                }
            }
            a.link-submenu {
                color: #000;
                text-transform: none;
                i {
                    top: 3px;                    
                    padding: 10px 0;
                    display: none;
                    right: 0px;
                    position: absolute;
                    font-weight: 600;
                }
                &.active {
                    color: #fc7667;
                    font-weight: 700;
                    i {
                        display: block;
                    }
                }
            }
        }        
    }
}