<div class="containermenu hidden-mobile">
    <h3 class="txtGris">Perfil</h3>
    <ul class="menuPerfil">
        <li>
            <a class="nav-link p-0 link-submenu" routerLink="/profile/datos-generales" routerLinkActive="active">
                {{isCouple()?'Nuestros datos':'Mis Datos'}}
                <i class="fas fa-chevron-right align-middle"></i>
            </a>
        </li>
        <li>
            <a class="nav-link p-0 link-submenu" routerLink="/profile/regalos-recibidos" routerLinkActive="active">
                Regalos recibidos
                <i class="fas fa-chevron-right align-middle"></i>
            </a>
        </li>
        <li>
            <a class="nav-link p-0 link-submenu" routerLink="/profile/retiro-fondos" routerLinkActive="active">
                Retiro de Fondos
                <i class="fas fa-chevron-right align-middle"></i>
            </a>
        </li>
        <li>
            <a class="nav-link p-0 link-submenu" routerLink="/profile/recomendar-amigo" routerLinkActive="active">
                Recomendar a un amigo
                <i class="fas fa-chevron-right align-middle"></i>
            </a>
        </li>
        <li>
            <a class="nav-link p-0 link-submenu" routerLink="/profile/planes" routerLinkActive="active">
                Plan Uniko<i class="fas fa-chevron-right align-middle"></i>
            </a>
        </li>
    </ul>
</div>
<div class="container-menu show-mobile">
    <h3 class="txtGris">Perfil</h3>
    <select [(ngModel)]='selectedItem' (ngModelChange)="changeContent($event)" class="menuPerfilMobile">
        <option [ngValue]="'datoGen'">{{isCouple()?'Nuestros datos':'Mis Datos'}}</option>
        <option [ngValue]="'regRecib'">Regalos recibidos</option>
        <option [ngValue]="'retFondo'">Retiro de Fondos</option>
        <option [ngValue]="'Recomendar'">Recomendar a un amigo</option>
        <option [ngValue]="'Plan'">Planes</option>
    </select>
</div>