<div class="row mt-5 p-0">
  <div class="col-3 m-0 p-0 hidden-mobile">&nbsp;</div>
  <div class="col-12 col-md-6 col-lg-6 m-0 p-0">
      <p class="m-0 p-0 mb-2 txt-uniko title-section text-center">Nuestros invitados</p>
      <h1 class="mb-5 bold uppercase text-center">Estos son nuestros últimos invitados</h1>
      <div class="row m-0 p-0 shadow-sm rounded">
          <div class="col-12 col-md-7 col-lg-7 m-0 p-3 
          b-r-1">
              <p class="txt-uniko m-0 p-0 number bold">{{ total | currency }}</p>
              <p class="m-0 p-0 text">Monto Acumulado</p>
          </div>
          <div class="col-12 col-md-5 col-lg-5 m-0 p-3">
              <button class="btn btn-uniko btn-block" type="button" routerLink="/profile/retiro-fondos" routerLinkActive="active">Realizar un retiro</button>
          </div>
      </div>
  </div>
  <div class="col-3 m-0 p-0 hidden-mobile">&nbsp;</div>
  <div class="col-12 m-0 p-0 mt-4" style="overflow-x:auto;">
      <div style="height:300px; width:2360px;">
          <app-guest-articulo [art]="art" [index]="i" *ngFor="let art of gifts | slice:0:10; let i = index;"></app-guest-articulo>
      </div>
  </div>
  <div class="col-3 m-0 p-0">&nbsp;</div>
  <div class="col-6 m-0 p-0">
    <p class="m-0 p-0 mb-4" style="font-size:16px; font-weight:600; text-align:center;">
        <a routerLink="/gift-table" class="m-0 p-0 text-danger" style="text-decoration: underline;" href="">Ver toda la mesa de regalos</a>
    </p>
  </div>
  <div class="col-3 m-0 p-0">&nbsp;</div>
</div>