
.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
    padding: 7px 30px;
}

.title1 {
    font-weight: 600;
}

.title2 {
    font-weight: 400;
}

.return {
    font-size: .8rem;
    width: 30px;
    text-align: center;
    padding-top: 20px;
    display: block;
}
.tamContenedor {
    width: 700px !important;
    @media only screen and (max-width:500px) {
        width: 100% !important;
    }
}

@media only screen and (max-width:370px) {
    .tamContenedor {
        width: 100% !important;
    }
}