<div class="container-fluid p-0">
  <div class="col-12 shadow-sm bg-white rounded mb-3">
    <div class="row">
      <div class="col-2 p-0">
        <a class="navbar-link return" style="font-size:.8rem;" href="" routerLinkActive="active" routerLink="/profile/retiro-fondos">
          <i class="fas fa-angle-left"></i> 
        </a>
      </div>
      <div class="col-8">
        <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Solicitud de Crédito</h6>
      </div>
    </div>
  </div>
</div>
<div class="container main-container p-0">  
  <router-outlet></router-outlet>
</div>