<div class="sombraCuadros mb-5 bg-white rounded col-12" style="padding:0px;" *ngFor="let faq of faqs">
    <div class="card-header-buttons" style="width:100% !important; margin:0px;">
        <div class="btn-group" role="group">
            <i class="fas fa-trash-alt borrarArt" (click)="borraPregunta()"></i>
            <i class="fas fa-pen editarArt" (click)="editaPregunta()"></i>
        </div>
    </div>
    <div class="card-body p-3">
        <h5 class="colorUniko">
            ¿Cuál es la dirección del salón?
        </h5>
    </div>
</div>