.containerSteps {
    width: 150px;
    margin-top: 100px;
}

.progressbar {
    counter-reset: step;
    padding: 0;
}

.info{
    color: #9e9e9e;
}

.small{
    font-size: 0.7rem;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-weight: 600;
}

agm-map {
    height: 50vh;
    max-height: 500px;
    width: 100%;
}

.progressbar li:before {
    /* CSS for creating steper block before the li item*/
    //content: counter(step);
    //counter-increment: step;
    content: '';
    height: 15px;
    width: 15px;
    line-height: 15px;
    border: 2px solid #ffcfca;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    /* CSS for creating horizontal line*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 6.5px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fc7667;
}

.progressbar li.active:before {
    border-color: #fc7667;
    background-color: #FFFFFF;
}

.progressbar li.active+li:after {
    background-color: #ffcfca;
}

.progressbar li.done {
    color: #fc7667;
}

.progressbar li.done:before {
    content: url('./../../../assets/img/ok.png');
    background-size: 5px 5px;
    border-color: #fc7667;
    background-color: #fc7667;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: -5px;
}

.progressbar li.done+li:after {
    background-color: #fc7667;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
    padding: 7px 30px;
}

.title1 {
    font-weight: 600;
}

.title2 {
    font-weight: 400;
}