<div class="containerPrincipal container mt-3">
    <div class="row col-centered">
        <div class="col-12">
            <div class="containerSteps col-centered">
                <ul class="progressbar">
                    <li [className]="getSteepClass(0)"></li>
                    <li [className]="getSteepClass(1)"></li>
                    <li [className]="getSteepClass(2)"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row col-centered justify-content-md-center mb-5" *ngIf="steep==0">
        <div class="col-12">
            <h5 class="title2 mb-5 text-center">Información de domicilio</h5>
        </div>
        <div class="col-12 col-md-4">
            <form class='row' [formGroup]="ticketsForm">
                <mat-form-field class='col-12'>
                    <input matInput  type="text" (keydown.enter)="$event.preventDefault()" placeholder="Dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                </mat-form-field>

                <mat-form-field class='col-12'>
                    <input matInput formControlName="quantity" placeholder='Cantidad' name='quantity' required>
                </mat-form-field>

                <mat-form-field class='col-12'>
                    <input matInput formControlName="street" placeholder="Calle" name='street'>
                </mat-form-field>
                <mat-form-field class='col-6'>
                    <input matInput formControlName="extNumber" placeholder="No. Ext" name='extNumber' required>
                </mat-form-field>
                <mat-form-field class='col-6'>
                    <input matInput formControlName="intNumber" placeholder="No. Int" name='intNumber'>
                </mat-form-field>
                <mat-form-field class='col-12'>
                    <input matInput formControlName="postalCode" placeholder="CP" name='postalCode' required>
                </mat-form-field>
                <mat-form-field class='col-12'>
                    <mat-label>Colonia</mat-label>
                    <select matNativeControl formControlName="neighbourhood" name='neighbourhood' (change)="changeColony($event)" *ngIf="colonies">
                        <option *ngFor="let colony of colonies; let i = index;" [ngValue]='i'>{{colony.settlement}}</option>
                    </select>
                    <input matInput formControlName="neighbourhood" placeholder="Colonia" name='neighbourhood' *ngIf="!colonies" required>
                </mat-form-field>
                <mat-form-field class='col-12'>
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="state" placeholder="Estado" name='state' required>
                </mat-form-field>
                <mat-form-field class='col-12'>
                    <mat-label>Delegación/Municipio</mat-label>
                    <input matInput formControlName="town" placeholder="Ciudad" name='town' required>   
                </mat-form-field>
                <mat-form-field class='col-12'>
                    <mat-label>Información Adicional</mat-label>
                    <input matInput formControlName="additional" placeholder="Caza blanca etc." name='additional'>   
                </mat-form-field>
                <button class="btn btn-uniko btn-md ml-3" (click)="sigPaso()" type="button">
                  Solicitar
                </button>
            </form>
        </div>
        
        <div class="col-12 col-md-6">
            <div class='map-container'>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="col-12 pr-0">
        </div>
    </div>
    <div class="row col-centered mb-5" *ngIf="steep==1">
        <div class="col-12">
            <h6 class="title1 mb-5 text-center">Solicitud enviada</h6>
        </div>
        <div class="text-center col-12 mt-3 mb-5">
            <img src="./../../../assets/img/boleto.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
        </div>
        <div class="col-12">
            <h4 class="title2 mb-5 text-center" style="color: #9e9e9e;">¡Ya casi llega el día!</h4>
        </div>
        <div class="col-12">
            <h4 class="title2 mb-5 text-center">{{formattedAddress}} <span *ngIf="additionalInfo">, {{additionalInfo}}</span></h4>
        </div>
        <div class="col-12 extra-info text-right mb-3" *ngIf="showExtra">            
            <button class="small btn btn-reversed-uniko" type="button" (click)="showExtraClass=='show'?showExtraClass='':showExtraClass='show'">
                Más información
            </button>
            <div id="moreInfo" class="text-left mt-3 collapse card card-body {{showExtraClass}}">
                <div class="row">                
                    <div class="col-12 col-md-4" *ngIf="specificAddress.street">
                        <p>Calle: <b>{{specificAddress.street}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.street_number">
                        <p>No. Ext.: <b>{{specificAddress.street_number}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.interior_number">
                        <p>No. Int.: <b>{{specificAddress.interior_number}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.neighbourhood">
                        <p>Colonia: <b>{{specificAddress.neighbourhood}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.town">
                        <p>Ciudad: <b>{{specificAddress.town}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.state">
                        <p>Estado: <b>{{specificAddress.state}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.zipcode">
                        <p>Codigo Postal: <b>{{specificAddress.zipcode}}</b></p>
                    </div>                    
                    <div class="col-12 col-md-4" *ngIf="additionalInfo">
                        <p>Detalles: <b>{{additionalInfo}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.tickets">
                        <p>Boletos solicitados: <b>{{specificAddress.tickets}}</b></p>
                    </div>
                </div>
            </div>                
        </div>
        <div class="col-12 text-center">
            <p class="title1 col-centered text-wrap" style="width:40%; font-size: .8rem;">Sus boletos llegarán dentro de unos días a la dirección solicitada.</p>
        </div>
        <div class="col-12 text-center mt-3">
            <p class="small info col-centered text-wrap">Si tienes algún problema con la dirección, contacta a nuestro soporte tecnico.</p>
        </div>
        <div class="col-12 text-center mt-3">
            <a class="navbar-link" style="font-size:.8rem;" routerLink="/gift-table">
                <i class="fas fa-angle-left"></i> {{ 'Ir a Mesa de Regalos' }}</a>
        </div>
    </div>
    <div class="row col-centered mb-5" *ngIf="steep==2">
        <div class="col-12">
            <h6 class="title1 mb-5 text-center">¡Boletos en camino!</h6>
        </div>
        <div class="text-center col-12 mt-3 mb-5">
            <img src="./../../../assets/img/boleto.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
        </div>
        <div class="col-12">
            <h4 class="title2 mb-5 text-center" style="color: #9e9e9e;">Tus boletos fueron enviados a esta dirección:</h4>
        </div>
        <div class="col-12">
            <h4 class="title2 mb-5 text-center">{{formattedAddress}} <span *ngIf="additionalInfo">, {{additionalInfo}}</span></h4>
        </div>
        <div class="col-12 extra-info text-right mb-3" *ngIf="showExtra">            
            <button class="small btn btn-reversed-uniko" type="button" (click)="showExtraClass=='show'?showExtraClass='':showExtraClass='show'">
                Más información
            </button>
            <div id="moreInfo" class="text-left mt-3 collapse card card-body {{showExtraClass}}">
                <div class="row">                
                    <div class="col-12 col-md-4" *ngIf="specificAddress.street">
                        <p>Calle: <b>{{specificAddress.street}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.street_number">
                        <p>No. Ext.: <b>{{specificAddress.street_number}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.interior_number">
                        <p>No. Int.: <b>{{specificAddress.interior_number}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.neighbourhood">
                        <p>Colonia: <b>{{specificAddress.neighbourhood}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.town">
                        <p>Ciudad: <b>{{specificAddress.town}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.state">
                        <p>Estado: <b>{{specificAddress.state}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.zipcode">
                        <p>Codigo Postal: <b>{{specificAddress.zipcode}}</b></p>
                    </div>                    
                    <div class="col-12 col-md-4" *ngIf="additionalInfo">
                        <p>Detalles: <b>{{additionalInfo}}</b></p>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="specificAddress.tickets">
                        <p>Boletos solicitados: <b>{{specificAddress.tickets}}</b></p>
                    </div>
                </div>
            </div>                
        </div>
        <div class="col-12 text-center">
            <p class="small info col-centered text-wrap">Si tienes algún problema con la dirección, contacta a nuestro soporte tecnico.</p>
        </div>
        <div class="col-12 text-center mt-3">
            <a class="navbar-link" style="font-size:.8rem;" routerLink="/gift-table">
                <i class="fas fa-angle-left"></i> {{ 'Ir a Mesa de Regalos' }}</a>
        </div>
    </div>
</div>