<div class="container-fluid mobile-fluid">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="row m-0">
                        <div class="col-12 pt-5 mobile-p-0">
                            <div class="row overflow-auto w-100 m-0">
                                <div class="col-12 contenedorUnikoAgradece" style="border-bottom:1px solid #fc7667;">
                                    <div class="col-12 py-3 px-1">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 p-0 m-0 mb-5">
                                                <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">Inicien su registro y sean parte de uniko</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-control">Email</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fas fa-envelope"></i>
                                                            </div>
                                                        </div>
                                                        <input [class.submit]="submitted" formControlName="email" type="email" class="form-control" placeholder="Mi Correo">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-control">Password</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fas fa-lock"></i>
                                                            </div>
                                                        </div>
                                                        <input 
                                                        [class.submit]="submitted" 
                                                        formControlName="password" 
                                                        type="password" 
                                                        class="form-control" 
                                                        placeholder="Escribe tu contraseña">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-control">Teléfono</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fas fa-phone"></i>
                                                            </div>
                                                        </div>
                                                        <input 
                                                    [class.submit]="submitted" 
                                                    formControlName="phone" 
                                                    type="text"
                                                    maxlength="10"
                                                    minlength="10"
                                                    class="form-control" 
                                                    placeholder="0000000000">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-control">País</label>
                                                    <div class="input-group">
                                                            <select class="form-control" formControlName="country">
                                                                <option *ngFor="let _country of countries" [value]="_country.phone">{{ _country.name }}</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-2 col-lg-3">&nbsp;</div>
                                                <div class="col-8 col-lg-6 col-centered mt-3 mb-3">
                                                    <button  class="btn btn-uniko btn-block" type="submit">Crear cuenta</button>
                                                </div>
                                                <div class="col-2 col-lg-3">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                                <div class="col-2">&nbsp;</div>
                                                <div class="col-8 col-centered mb-5 text-recovery">
                                                    Al registrarse están aceptando los <a (click)="terms($event)" class="text-primary link-recovery">Términos y condiciones ></a>
                                                </div>
                                                <div class="col-2">&nbsp;</div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-text-info">
                                    <div class="info">
                                            ¿Ya tienen cuenta con nostros?
                                    </div>
                                </div>
                                <div class="col-12 col-centered">
                                    <div class="col-12  m-0 col-centered">
                                        <p class="text-center">
                                            <a [routerLink]="['/onboarding', 'login']" href="#" class="p-0 m-0 text-danger register" >Inicia sesión aquí</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </form>
    </div>
    