:host {
    .info {
        display: flow-root;
        margin-top: 15px;
        .answer{
            padding-top: 15px;
        }
        .section {
            margin-top: 10px;
            box-shadow: 8px 0 8px #ddd;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            .content-buttons-float {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0px;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
        }
    }
    .fotoGaleria {
        width: 300px;
        height: 300px;
        float: left;
    }
    .m-s-5 {
        margin: 3rem !important;
        @media screen and (max-width: 500px) {
            margin: 0.5rem !important;
        }
    }
    .text-title {
        text-align:center; 
        font-weight: 700; 
        font-size: 2.5rem;
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }
    }
}