
<div class="row m-0 justify-content-center">    
    <app-steps class="col-12 p-0" step="1" totalSteps="3"></app-steps>
</div>
<div class="row justify-content-center m-0">    
  <div class="col-12 col-md-8 col-lg-6 pb-5">
    <div class="row">
      <form [formGroup]="requestForm">
        <div class="col-12">
          <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Definición de crédito</p>
          <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">La forma más fácil y rápida de disponer de efectivo de tu tarjeta de crédito y pagarlo a meses.</p>
        </div>  
        <div class="col-12">
            <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; font-weight: 600;">¿Cuánto necesitas?</p>
            <p class="p-0 m-0 mb-3" style="font-size: 13px;">Selecciona el monto que deseas obtener. El límite está sujeto al saldo de tu tarjeta de crédito.</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control" formControlName="amount" type="number" placeholder="Monto" value="2000">
            </div>
            <p class="p-0 m-0" style="font-size: 12px;">Desde $2,000 mxn hasta $50,000 mxn</p>
        </div>
        <div class="col-12">
            <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; font-weight: 600;">Plazo del préstamo a meses</p>
            <p class="p-0 m-0 mb-3" style="font-size: 13px;">Selecciona el plazo en que deseas pagarlo. Pueden ser 3 meses, 6 meses o 12 meses.</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Plazo</label>
              </div>
              <select class="form-control custom-select" formControlName="msi" id="inputGroupSelect01">
                <option *ngFor="let _month of monthsMSI" [value]="_month.msi">{{ _month.msi }} {{ _month.label }}</option>
              </select>
            </div>        
        </div>    
      </form>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-4">
        <button class="btn btn-uniko btn-md col-centered" (click)="setStepOne()" type="button">Continuar</button>
      </div>
    </div>  
  </div>
</div>