<div class="row m-5 p-0">
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">PÁSALA BIEN CON NOSOTROS</p>
        <h1 class="mb-5" style="text-align:center; font-weight:700; font-size:2.5rem;">#MagdayLucasJustMarried</h1>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-12 m-0 p-0" style="overflow-x:auto;">
        <div style="height:300px; width:3320px;">
            <img src="./../../../assets/img/foto1.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto2.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto3.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto4.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto1.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto2.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto3.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto4.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto1.jpg" class="m-3 fotoGaleria">
            <img src="./../../../assets/img/foto2.jpg" class="m-3 fotoGaleria">
        </div>
    </div>
</div>