<div class="row m-5 p-0">
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">NUESTRA HISTORIA</p>
        <h1 class="mb-5" style="text-align:center; font-weight:700; font-size:2.5rem;">Los amigos inseparables</h1>
        <p style="text-align:center; font-size:18px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p style="text-align:center; font-size:18px;">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
</div>