:host {
    .image-desing {
        background-size:cover; 
        background-position: center; 
        background-repeat:no-repeat; 
        width:100%; 
        height:100%;
        @media screen and (max-width: 500px) {
            max-height: 400px;
            min-height: 400px;
            background-position: center; 
        }
    }
}