<div style="position:fixed; z-index:-1; top:0px; left:0px; width:100%; height:100%; background-color: #FFFBFA;"></div>
<div class="row m-0 p-0 shadow-sm">
    <div class="col-1 p-0 bg-white m-0">
        <a routerLink="/save-date/template/{{templateId}}" class="font-w" href="" style="text-align:center;" routerLinkActive="active">
            <i class="fas fa-chevron-left" style="padding-top:15px; padding-left:15px;"></i>
        </a>
    </div>
    <div class="col-11 p-0 bg-white m-0">
        <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Preview</h6>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-5 m-0 p-0">
        <div class="image-desing" [ngStyle]="{'background-image': 'url('+cover+')'}">
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-7 m-0 p-0" >
              <div class="content-background-canvas" [style.background-color]="background">
                
                <div class="col-12 m-0 p-5"
                [ngStyle]="
                  {
                    'background-image': 'url(./../../../assets/img/templates/detail/'+img+')',
                    'background-repeat': 'no-repeat',
                    'background-size': '100% 100%'
                  }
                "
                >
                  <p 
                  class="pointer"
                  [ngStyle]=" {
                    'text-align': templateObj?.title.textAlign,
                    'color': templateObj?.title.color,
                    'font-family': templateObj?.title.fontFamily,
                    'font-weight': templateObj?.title.fontWeight,
                    'font-size': templateObj?.title.fontSize,
                    'text-transform': templateObj?.title.textTransform,
                    'font-style': templateObj?.title.fontStyle,
                    'letter-spacing': templateObj?.title.latterSpace
                  }" 
                  >{{ templateObj?.title.text }}</p>
                  <h1
                  class="pointer"
                  [ngStyle]=" {
                    'text-align': templateObj?.nametitle.textAlign,
                    'color': templateObj?.nametitle.color,
                    'font-family': templateObj?.nametitle.fontFamily,
                    'font-weight': templateObj?.nametitle.fontWeight,
                    'font-size': templateObj?.nametitle.fontSize,
                    'text-transform': templateObj?.nametitle.textTransform,
                    'font-style': templateObj?.nametitle.fontStyle,
                    'letter-spacing': templateObj?.nametitle.latterSpace
                  }"
                  [class.selected]="templateObj?.select == 'nametitle'" 
                  >{{ templateObj?.nametitle.text }}</h1>
                  <p class="mt-5 mb-3 pointer" 
                  [ngStyle]=" {
                    'text-align': templateObj?.titleDate.textAlign,
                    'color': templateObj?.titleDate.color,
                    'font-family': templateObj?.titleDate.fontFamily,
                    'font-weight': templateObj?.titleDate.fontWeight,
                    'font-size': templateObj?.titleDate.fontSize,
                    'text-transform': templateObj?.titleDate.textTransform,
                    'font-style': templateObj?.titleDate.fontStyle,
                    'letter-spacing': templateObj?.titleDate.latterSpace
                  }"
                  >{{ templateObj?.titleDate.text }}</p>
                  <h1 
                  class="pointer"
                  [ngStyle]=" {
                    'text-align': templateObj?.date.textAlign,
                    'color': templateObj?.date.color,
                    'font-family': templateObj?.date.fontFamily,
                    'font-weight': templateObj?.date.fontWeight,
                    'font-size': templateObj?.date.fontSize,
                    'text-transform': templateObj?.date.textTransform,
                    'font-style': templateObj?.date.fontStyle,
                    'letter-spacing': templateObj?.date.latterSpace
                  }"
                  >{{ templateObj?.date.text }}</h1>
                  <p class="m-0 p-0 mt-4 mb-5 pointer" 
                  [ngStyle]=" {
                    'text-align': templateObj?.titleDescription.textAlign,
                    'color': templateObj?.titleDescription.color,
                    'font-family': templateObj?.titleDescription.fontFamily,
                    'font-weight': templateObj?.titleDescription.fontWeight,
                    'font-size': templateObj?.titleDescription.fontSize,
                    'text-transform': templateObj?.titleDescription.textTransform,
                    'font-style': templateObj?.titleDescription.fontStyle,
                    'letter-spacing': templateObj?.titleDescription.latterSpace
                  }"
                  >{{ templateObj?.titleDescription.text }}</p>
                  <!-- <p class="m-0 p-0 mt-4"
                  >Breve descripción</p> -->
                  <p 
                    class="m-0 mx-auto p-0 pointer" 
                    style="width:80%;"
                    [ngStyle]=" {
                      'text-align': templateObj?.description.textAlign,
                      'color': templateObj?.description.color,
                      'font-family': templateObj?.description.fontFamily,
                      'font-weight': templateObj?.description.fontWeight,
                      'font-size': templateObj?.description.fontSize,
                      'text-transform': templateObj?.description.textTransform,
                      'font-style': templateObj?.description.fontStyle,
                      'letter-spacing': templateObj?.description.latterSpace
                    }"
                  >
                  {{ templateObj?.description.text }}
                </p>
                </div> 
              </div>
            </div>
</div>