.txtGris {
    color: #999999;
}

.list-group-item2:first-child {
    position: relative;
    display: block;
    /*padding: .75rem 1.25rem;
    background-color: #fff;
    margin-bottom: -1px;*/
    border-bottom: 1px solid #FDA79E;
    margin-top: 0px !important;
}

.list-group-item2 {
    position: relative;
    display: block;
    /*padding: .75rem 1.25rem;
    background-color: #fff;
    margin-bottom: -1px;*/
    margin-top: 15px;
    border-bottom: 1px solid #FDA79E;
}

.sombraLista {
    -moz-box-shadow: inset 0 0 10px #FFFFFF;
    -webkit-box-shadow: inset 0 0 10px #FFFFFF;
    box-shadow: inset 0 0 10px #FFFFFF;
}