<div class="row m-5 p-0">
    <div class="col-2 m-0 p-0">&nbsp;</div>
    <div class="col-8 m-0 p-0">
        <p class="m-0 p-0 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">HOTELES</p>
        <h1 class="mb-5" style="text-align:center; font-weight:700; font-size:2.5rem;">Opciones de Hospedaje</h1>
        <div class="row rounded m-0 p-0" style="box-shadow:0px 0px 10px #999999;">
            <div class="col-4 m-0 p-0" style="height:450px; overflow:auto;">
                <div class="list-group p-3">
                    <div class="list-group-item2 pb-3">
                        <p class="txtGris m-0 p-0" style="font-size:12px; font-weight:600;">1 HABITACIÓN - 1 CAMA</p>
                        <p class="txt-uniko m-0 p-0" style="font-size:20px;">Hotel Camino Real</p>
                        <p class="m-0 p-0" style="font-size:16px; font-weight:600;">$343 por noche</p>
                        <p class="m-0 my-2 p-0" style="font-size:16px;">867 715 40 19</p>
                        <p class="m-0 p-0" style="font-size:12px; font-weight:600;">Cupón</p>
                        <p class="m-0 p-0" style="font-size:16px;">MAGDAYLUCAS</p>
                        <p class="m-0 mt-2 p-0 pr-3" style="font-size:14px;">Fernando de Alva Ixtlilxóchitl 23, Obrera, 06800 Ciudad de México, CDMX</p>
                        <a href="#" class="float-right" style="text-align:right; width:100%; font-size:14px;">Ver en Google Maps</a>
                    </div>
                    <div class="list-group-item2 pb-3">
                        <p class="txtGris m-0 p-0" style="font-size:12px; font-weight:600;">1 HABITACIÓN - 1 CAMA</p>
                        <p class="txt-uniko m-0 p-0" style="font-size:20px;">Hotel Camino Real</p>
                        <p class="m-0 p-0" style="font-size:16px; font-weight:600;">$343 por noche</p>
                        <p class="m-0 my-2 p-0" style="font-size:16px;">867 715 40 19</p>
                        <p class="m-0 p-0" style="font-size:12px; font-weight:600;">Cupón</p>
                        <p class="m-0 p-0" style="font-size:16px;">MAGDAYLUCAS</p>
                        <p class="m-0 mt-2 p-0 pr-3" style="font-size:14px;">Fernando de Alva Ixtlilxóchitl 23, Obrera, 06800 Ciudad de México, CDMX</p>
                        <a href="#" class="float-right" style="text-align:right; width:100%; font-size:14px;">Ver en Google Maps</a>
                    </div>
                </div>
            </div>
            <div class="col-8 m-0 p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.524555537568!2d-99.16899344942959!3d19.389728786844415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff090fa14773%3A0xcc999e57f0671404!2sCalle+Concepci%C3%B3n+Beistegui%2C+Col+del+Valle+Nte%2C+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1558548176438!5m2!1ses!2smx"
                    style="width:100%; height:450px; border:0px;" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-2 m-0 p-0">&nbsp;</div>
</div>