
<div *ngIf="showNotice()" class="w-100 text-center txt-info mb-4 mt-4"> 
  <h5>Para poder compartir tu pagina de <b>{{section.listAggre.name}}</b> con tus invitados activa tu cuenta <a class="txt-uniko" routerLink="/profile/planes" routerLinkActive="active">aqui</a></h5>
</div>
