:host {
    .bg-black {
        background: black;
        .content-image {
            text-align: center;
            height: 450px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.7;
            @media screen and (max-width: 500px){
                background-size: cover;
                height: 280px;
            }
        }
        @media screen and (max-width: 500px){
            background-size: 100% 100%;
        }
    }
    .content-info {
        position: absolute;
        height: 450px;
        width: 100%;
        line-height: 450px;
        text-align: center;
        z-index: 1;
        color: white;
        .first {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
        @media screen and (max-width: 500px){
            height: 280px;
            line-height: 280px;
        }
    }
    .b-0 {
        border: none;
    }
    .state-text {
        font-size:11pt; 
        font-weight:600;
    }
    .title-home {
        font-weight: 700;
        font-size: 3.5rem;
        text-transform: capitalize;
        margin-top: 20pt;
        margin-bottom: 20pt;
        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }
    .content-buttons-float {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 5;
        .btn-uniko-sm {
            width: 25px;
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
            height: 25px;
            cursor: pointer;
            i {
                font-size: 13pt;
                padding: 0px;
                margin: 0px;
                padding-top: 3px;
            }
            &.uniko-secondary {
                background-color: #fdb8b1;
            }
            &.uniko-tree {
                background-color: #fddfdc;
            }
        }
    }
    .iconoAgregar{
        position: absolute;
        margin-top: 165px;
        background-color: #fc7667;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #999999;
        color: #FFFFFF;
        cursor: pointer;
        right: 0px;
    }
    .image-cover {
        height:180px; 
        background-color: #dddddd; 
        border:1px dashed #333333;
        background-position: center;
        background-size: cover;
    }
    .text-div {
        position: absolute;
        display: block;
        left: 49%;
        padding-top: 32px;
        font-weight: 600;
    }
}