<app-header *ngIf="couple" menuKey="WEB_SITE" [noActions]="true"></app-header>
<div class="template-colors template {{couple.theme}}" *ngIf="couple">
    <div class="site-section main-container">
        <div class="card text-white rounded-0 b-0 content-image"
            [ngStyle]="{'background-image': 'url('+getCover()+')'}"></div>
        <div class="event-title">
            <p class="grettings">{{ getEventString(couple.weddingData) }}</p>
            <div *ngIf="isCouple(couple.weddingData)" class="title">
                <div>{{ couple.weddingData.nameP1 }}</div>
                <div>&</div>
                <div>{{ couple.weddingData.nameP2 }}</div>
            </div>
            <div *ngIf="!isCouple(couple.weddingData)" class="title">
                <div>{{ couple.weddingData.nameP1 }}</div>
            </div>
            <h5 class="date" *ngIf="couple.weddingData.date">{{ couple.weddingData.date | date : 'dd.MM.yyyy' }}</h5>
            <p class="m-0 p-0 mt-3 state-text">{{ state | uppercase }}</p>
        </div>
    </div>
    <div class="site-supersection history-container">
        <app-datos-evento [couple]="couple" *ngIf="couple && couple.viewTime" [guest]="guest"></app-datos-evento>
    </div>
    <svg class="template-ornament cake-ornament" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
        <path d='M0 0 L64 2 L64 0 Z' />
    </svg>
    <div class="site-section section-shadow col-auto p-0">
        <svg class="template-ornament gold-ornament" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
            <path d='M0 0 C0 2 8 2 12 2 C18 2 32 0 40 0 C50 0 56 2 64 2 L64 0 Z' />
        </svg>
        <app-historia [couple]="couple" *ngIf="couple && couple.viewHistory" [guest]="guest"></app-historia>
    </div>
    <div class="site-section section-shadow col-auto p-0" *ngIf="isCouple(couple.weddingData)">
        <app-hoteles [couple]="couple" *ngIf="couple && couple.viewHotel" [guest]="guest"></app-hoteles>
    </div>
    <div class="site-supersection section-shadow template-exclusive">
        <svg class="template-ornament cake-ornament flip-shadow" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 2'>
            <path d='M0 0 L0 2 L64 2 Z' />
        </svg>
        <div class="site-section col-auto">
            <app-guest-gift-table [couple]="couple" *ngIf="couple && couple.viewGifts" [guest]="guest">
            </app-guest-gift-table>
        </div>
        <div class="site-section section-shadow col-auto">
            <app-galeria [couple]="couple" *ngIf="couple && couple.viewInstagram" [guest]="guest"></app-galeria>
        </div>
        <div class="site-section section-shadow col-auto">
            <app-guest-faqs [couple]="couple" *ngIf="couple && couple.viewHelp" [guest]="guest" [faqs]="faqs">
            </app-guest-faqs>
        </div>
    </div>
</div>
<app-footer></app-footer>