<div class="card-articulo card" id="{{ art.id }}">
    <div class="card-articulo-imagen noselect">
        <img (click)="goTo(art.id)" [src]="art.image" class="card-img-top" alt="...">             
        <i (click)="goTo(art.id)" class="image-icon material-icons">visibility</i>
        <div class="controls">            
            <i (click)="goTo(art.id)" class="show-mobile control-btn icon-secondary material-icons">visibility</i>
            <i (click)="add(art)" class="control-btn icon-primary material-icons">shopping_basket</i>
        </div>  
        <div *ngIf="art.isMercadolibre === true" class="merLibArt"></div>
    </div>    
    <div class="card-articulo-contenido card-body">
        <h5 class="cardArticulo-title card-title text-truncate">{{ art.name }}</h5>
        <p class="cardArticulo-text card-text" style="margin-top:3px;">{{ category }}</p>
        <p class="cardArticulo-text card-text mt-2">
            <small class="col-12 col-lg-8 p-0 precioArticulo font-weight-bold">{{ formatPrice | currency }} {{ currency }}</small>
            <small class="col-12 col-lg-4 p-0 font-weight-bold colorUniko">{{ store }}</small>
        </p>
    </div>
</div>