<div class="container-fluid">
  <div class="row header-title">
    <div class="col-10 p-2">
      <a href="https://uniko.co">
        <img style="padding-top: 10px;" src="./../../../assets/img/logo.png" alt="">
      </a>
    </div>
    <div class="col-2">
        <img width="200" src="./../../../assets/img/seguros-sura.png" alt="">
    </div>
  </div>
</div>