<div class="containerSteps col-centered" *ngIf="totalSteps && step">
  <ul class="progressbar p-0">
    <li *ngFor="let item of totalSteps | fill; let i = index" class="{{i}} {{getClass(i)}}"
    [ngStyle]="{
      'width': getWidth()
    }"></li>
  </ul>
</div>