<div class="row m-5 p-0">
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-2 txt-uniko" style="font-size:12px; font-weight:600; text-align: center;">ÉCHALE UN OJO A NUESTRA MESA DE REGALOS</p>
        <h1 class="mb-5" style="text-align:center; font-weight:700; font-size:2.5rem;">Estos son nuestros regalos preferidos</h1>
        <div class="row m-0 p-0 shadow-sm rounded" style="background-color:#FEF2F1;">
            <div class="col-3 m-0 p-3" style="border-right:1px solid #888888;">
                <p class="txt-uniko m-0 p-0">23</p>
                <p class="m-0 p-0" style="font-weight:600; font-size:10px;">REGALOS RECIBIDOS</p>
            </div>
            <div class="col-4 m-0 p-3">
                <p class="txt-uniko m-0 p-0">31</p>
                <p class="m-0 p-0" style="font-weight:600; font-size:10px;">{{'Días para cerrar nuestra mesa' | uppercase}}</p>
            </div>
            <div class="col-5 m-0 p-3">
                <button class="btn btn-uniko btn-block" type="button">Recuérdame 10 días antes</button>
            </div>
        </div>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-12 m-0 p-0 mt-4" style="overflow-x:auto;">
        <div style="height:300px; width:2360px;">
            <app-guest-articulo [art]="art" [index]="i" *ngFor="let art of articulos | slice:0:10; let i = index;"></app-guest-articulo>
        </div>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
    <div class="col-6 m-0 p-0">
        <p class="m-0 p-0 mb-4" style="font-size:16px; font-weight:600; text-align:center;">
            <a routerLink="/gift-table" class="m-0 p-0 text-danger" style="text-decoration: underline;" href="">Ver toda la mesa de regalos</a>
        </p>
    </div>
    <div class="col-3 m-0 p-0">&nbsp;</div>
</div>