<div class="row">
    <div class="col-md-3 hidden-mobile">
        &nbsp;
      </div>
      <div class="col-12 col-md-6 text-center">
          <button disabled class="btn btn-md px-2"  style="margin-top:70px; width:140px;" type="button">Regresar</button>
          <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width:140px;" type="button">Realizar pago</button>
      </div>
</div>