<nav class="navbar navbar-light bg-white m-conten">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/img/uniko.png" class="d-inline-block align-top" alt="" style="height:30px;">
        </a>
</nav>