<div class="sombraCuadros mb-5 bg-white rounded col-12 sombraCuadros" style="padding:0px;"  *ngFor="let faq of faqs">
    <div class="card-header-buttons" style="width:100% !important; margin:0px;">
        <div class="icon-text">
        </div>
        <div class="btn-group" role="group">
        </div>
    </div>
    <div class="card-body p-4">
        <h5 class="colorUniko">
            ¿{{ faq.question }}?
        </h5>
        <div class="row">
            <div class="col-12" [class.col-md-12]="!existImg(faq)" [class.col-md-6]="existImg(faq)">
                <p class="card-text" style="margin-left:10px;" [innerHTML]="faq.answer">
                        
                </p>
            </div>
            <div class="col-12 col-md-6" *ngIf="existImg(faq)">
                    <div class="img image-width" [innerHTML]="getImageToVideo(faq)">
            </div>
        </div>
    </div>
</div>