<div class="row m-0">
    <div class="col-12 shadow-sm p-0 bg-white rounded mb-3">
        <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Solicitar crédito</h6>
    </div>
</div>
<div class="col-centered" [hidden]="false" #solicita1 style="width:700px !important;">
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active"></li>
                            <li class="active2"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Definición de crédito</p>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">La forma más fácil y rápida de disponer de efectivo de tu tarjeta de crédito y pagarlo a meses.</p>

                    <div class="col-centered" style="width:400px !important;">
                        <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; font-weight: 600;">¿Cuánto necesitas?</p>
                        <p class="p-0 m-0 mb-3" style="font-size: 13px;">Selecciona el monto que deseas obtener. El límite está sujeto al saldo de tu tarjeta de crédito.</p>
                        <mat-form-field class="mb-4" style="width:150px; height: 30px; border: 0px;">
                            <input matInput placeholder="Monto" value="$2,000">
                        </mat-form-field>
                        <p class="p-0 m-0" style="font-size: 12px;">Desde $2,000 hasta $50,000</p>
                    </div>
                    <div class="col-centered" style="width:400px !important;">
                        <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 14px; font-weight: 600;">Plazo del préstamo a meses</p>
                        <p class="p-0 m-0 mb-3" style="font-size: 13px;">Selecciona el plazo en que deseas pagarlo. Pueden ser 3 meses, 6 meses o 12 meses.</p>
                        <mat-form-field style="width:150px;">
                            <mat-label>Plazo</mat-label>
                            <select matNativeControl>
                            <option value="0">0 meses</option>
                            <option value="3">3 meses</option>
                            <option value="6">6 meses</option>
                            <option value="12">12 meses</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <button class="btn btn-uniko btn-md px-2 col-centered" (click)="muestConten('paso1')" style="margin-top:70px; width:120px;" type="button">Continuar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-centered" [hidden]="true" #solicita2 style="width:700px !important;">
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active"></li>
                            <li class="active2"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Detalles de pago</p>
                </div>
                <div class="col-centered" style="width:350px !important;">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; font-weight: 600;">
                        Datos para transferencia
                    </p>
                    <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                        <input matInput placeholder="CLABE" value="000 000 00000000000 0">
                    </mat-form-field>
                </div>
                <div class="col-centered" style="width:350px !important;">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; font-weight: 600;">
                        Información de tarjeta de crédito
                    </p>
                    <mat-form-field class="mb-4" style="width:100%; height: 30px; border: 0px;">
                        <input matInput placeholder="Número de la tarjeta" value="000 000 00000000000 0">
                    </mat-form-field>
                </div>
                <div class="col-centered" style="width:350px !important;">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; font-weight: 600;">
                        Fecha de Vencimiento
                    </p>
                    <mat-form-field style="width:100px;">
                        <select matNativeControl>
                            <option value="mm">mm</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="01">05</option>
                            <option value="02">06</option>
                            <option value="03">07</option>
                            <option value="04">08</option>
                            <option value="01">09</option>
                            <option value="02">10</option>
                            <option value="03">11</option>
                            <option value="04">12</option>
                        </select>
                    </mat-form-field> /
                    <mat-form-field style="width:100px;">
                        <select matNativeControl>
                            <option value="aa">aa</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-centered" style="width:350px !important;">
                    <mat-form-field class="mb-4" style="width:100px; height: 30px; border: 0px;">
                        <input matInput placeholder="CVC" value="000">
                    </mat-form-field>
                </div>
                <div class="col-centered mt-3" style="width:350px !important; background-color: #fc76671f;">
                    <p class="p-0 m-0 mt-3 txt-uniko" style="font-size: 13px; text-align: center; font-weight: 600;">
                        Confirma tu crédito
                    </p>
                    <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">
                        Monto
                    </p>
                    <p class="mb-3" style="text-align:center; font-size:16px; margin:0px;">
                        $15,000
                    </p>
                    <p style="text-align:center; font-size:11px; margin:0px; font-weight:600;">
                        Plazo
                    </p>
                    <p class="mb-3" style="text-align:center; font-size:16px; margin:0px;">
                        6 meses
                    </p>
                </div>
                <div class="col-6 mb-5">
                    <button class="btn btn-md px-2 float-right" (click)="muestConten('paso0')" style="margin-top:30px; width:120px;" type="button">Regresar</button>
                </div>
                <div class="col-6 mb-5">
                    <button class="btn btn-uniko btn-md px-2" (click)="muestConten('paso2')" style="margin-top:30px; width:140px;" type="button">Aplicar crédito</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-centered" [hidden]="true" #solicita3 style="width:450px !important;">
    <div class="row m-0">
        <div class="col-12 containerPrincipal container mt-3 mb-0">
            <div class="row col-centered">
                <div class="col-12" style="height:25px;">
                    <div class="containerSteps col-centered">
                        <ul class="progressbar" style="margin-left: -40px;">
                            <li class="active done"></li>
                            <li class="active done"></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p style="text-align:center; font-size:16px; margin:0px; padding:15px; font-weight:600;">Movimiento exitoso</p>
                    <div class="text-center col-12 mt-4 mb-3">
                        <img src="./../../../assets/img/OkFelicidades.png" class="rounded" style="width:100px; height:100px;" alt="boleto">
                    </div>
                    <p style="text-align:center; font-size:20px; margin:0px; padding:15px; color:#999999;">¡Felicidades!</p>
                    <p style="text-align:center; font-size:14px; margin:0px; font-weight:600;">Tu retiro ha sido aprobado, para consulta podrás verlo en tu perfil</p>
                </div>
                <div class="col-12 mt-lg-4 text-center">
                    <a class="navbar-link" style="font-size:.8rem;" href="" routerLinkActive="active" routerLink="/perfil">
                        <i class="fas fa-angle-left"></i> {{ 'Ir a Retiro de fondos' }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>