body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFBFA;
}

.menuPerfilActivo {
    font-weight: 700 !important;
    color: #fc7667;
}

.menuPerfilActivo i {
    float: right;
    padding-top: 4px;
    display: block !important;
}

.menuPerfilMobile{
    width: 100%;
    background-color: #FFF;
    color: #fc7667;
    font-weight: 700;
}

.contenidoPrin {
    padding: 120px 100px;
    background-color: #FFFBFA;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:370px) {
    .ocultaEnDisp {
        display: none !important;
    }
    .muestraEnDip {
        display: block !important;
    }
    .anchoCompleto {
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 0px !important;
        flex: 100% !important;
    }
    .contenidoPrin {
        padding: 100px 20px;
        background-color: #FFFBFA;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .txtGris {
        font-size: 1.30rem;
    }
}

:host{
    .main-container{
        position: relative;
    }
    .profile-header{
        box-shadow: 1px 1px 2px #cccccc;
    }
}