<app-header menuKey="PROFILE"></app-header>
<br>
<div class="container main-container">
    <div class="row justify-content-between">
        <div class="col pr-0">
            <app-menu></app-menu>
        </div>
        <div class="col-12 col-md-8 col-lg-9 pt-5 pb-5 mb-5">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="col-12 col-sm-9 pt-5" #myDiv1 [hidden]="false">
            <app-datos-generales></app-datos-generales>
        </div>
        <div class="col-12 col-sm-9 pt-5" #myDiv2 [hidden]="true">
            <app-regalos-recibidos></app-regalos-recibidos>
        </div>
        <div class="col-12 col-sm-9 pt-5" #myDiv3 [hidden]="true">
            <app-retiro-fondos></app-retiro-fondos>
        </div>
        <div class="col-12 col-sm-9 pt-5" #myDiv4 [hidden]="true">
            <app-recomendar-amigo></app-recomendar-amigo>
        </div>
        <div class="col-12 col-sm-9 pt-5" #myDiv5 [hidden]="true">
            <app-plan-uniko></app-plan-uniko>
        </div> -->
    </div>
</div>
