:host {
    .info {
        display: flow-root;
        margin-top: 15px;
        .section {
            margin-top: 10px;
            box-shadow: 8px 0 8px #ddd;
            padding-bottom: 40px;
            padding-top: 40px;
            position: relative;
            .content-buttons-float {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0px;
                .btn-uniko-sm {
                    width: 25px;
                    border-radius: 0px;
                    padding: 0px;
                    margin: 0px;
                    height: 25px;
                    i {
                        font-size: 13pt;
                        padding: 0px;
                        margin: 0px;
                        padding-top: 3px;
                        &.white {
                            color: white;
                        }
                    }
                    &.uniko-primary {
                        background-color: #fc7667;
                    }
                    &.uniko-secondary {
                        background-color: #fda79e;
                    }
                    &.uniko-tree {
                        background-color: #fddfdc;
                    }
                    &.uniko-off {
                        background-color: #b4b4b4
                    }
                }
            }
        }
    }
    .title-section {
        font-size:12px; 
        font-weight:600; 
        text-align: center;
    }
    .m-s-5 {
        margin: 3rem !important;
        @media screen and (max-width: 500px) {
            margin: 0rem !important;
        }
    }
    .text-title {
        text-align:center; 
        font-weight: 700; 
        font-size: 2.5rem;
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }
    }
    .number {
        font-weight:500; 
        font-size:12pt;
        @media screen and (max-width: 500px) {
            font-weight:400; 
            font-size: 16pt;    
        }
    }
    .text {
        font-weight:600; 
        font-size:10px;
        @media screen and (max-width: 500px) {
            font-weight:600; 
            font-size: 12pt;    
        }
    }
    .b-r-1 {
        border-right:1px solid #888888;
        @media screen and (max-width: 500px) {
            border-right: none;
            border-bottom: 1px solid #ccc;
        }
    }
    .rounded {
        background-color:#FEF2F1;
        @media screen and (max-width: 500px) {
            margin-left: 10px !important;
            margin-right: 10px !important;
            border: 1px solid #ccc;
        }
    }
}