<div class="row py-4">
    <div class="col-12 my-4">
        <div class="row justify-content-center m-0">
            <div class="col-12 col-md-6 col-lg-6 p-0">
                <p class="m-0 p-0 mb-2 t-primary title-section">ÉCHALE UN OJO A
                    {{getEventCouple(couple.weddingData)?'NUESTRA':'LA'}} MESA DE REGALOS</p>
                <h1 class="mb-5 text-center t-base">Estos son nuestros regalos preferidos</h1>
                <div class="row m-0 p-0 justify-content-center">
                    <div class="col-12 col-md-5 col-lg-5 m-0 p-3">
                        <button (click)="openModal()" class="btn tb-secondary t-light btn-block"
                            type="button">Recuérdame 10 días antes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-12 col-xl-8 m-0 p-0">
                <div class="row justify-content-between" style="overflow-x:auto; flex-wrap: nowrap;">
                    <app-guest-articulo [art]="art" [index]="i" [guest]="guest"
                        *ngFor="let art of gifts | slice:0:10; let i = index;"></app-guest-articulo>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-6 p-0">
                <p class="m-0 p-0 mb-4" style="font-size:16px; font-weight:600; text-align:center;">
                    <a routerLink="/{{couple.url}}/gift-table" class="m-0 p-0 text-danger"
                        style="text-decoration: underline;" href="">Ver toda la mesa de regalos</a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-modal [(isOpen)]="isOpen" (onClosed)="isOpen=false;" (onAction)="saveEmail()" textButton="Enviar">
    <div class="col-md-12">
        <p class="text-center">*Se enviara un correo a la direccion proporcionada 10 dias antes del cierre del evento.
        </p>
        <form [formGroup]="dataForm">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group text-left">
                        <label class="label-control">Email</label>
                        <input formControlName="email" type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-modal>