:host{    
    .uppercase{
        text-transform: uppercase;
    }
   
    .uniko-primary {
        background-color: #fc7667;
    }
    .uniko-secondary {
        background-color: #fda79e;
    }
    .uniko-tree {
        background-color: #fddfdc;
    }
    .uniko-white{
        background-color: #FFF;
    }
    .uniko-light{
        background-color: #fef2f1;
    }
    
    .txt-uniko{
        color: #fc7667;
    }
    .txt-white{
        color: #FFF;
    }
    .txt-secondary{
        color: #CCC;
    }

    .dashboard-content{
        padding: 50px 0px 50px 0px;
    }
    .mini-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .mini-card{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: stretch;
            overflow: hidden;
            .card-icon{
                background-color: #fda79e;
                color: #FFF;
                width: 30%;
                position: relative;
                font-size: 20px;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .card-content{
                padding: 5px;
                .card-title{
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    margin: 0;
                }
                .card-info{
                    display: block;
                    color: #fc7667;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0
                }
            }
        }
    }
    .card{
        border: none;
        &.card-time{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);    
        }        
    }
    .mini-text{
        font-size: 9px;
    }
    .macro-text{
        font-size: 20px;
    }
}