<app-header class="mb-4" menuKey="DASHBOARD" [noActions]="true"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 dashboard-content  uniko-primary mb-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center txt-white">
            <h1>{{coupleInformation.weddingData.nameP1}} & {{coupleInformation.weddingData.nameP2}}</h1>
          </div>
          <div class="col-12 text-center txt-white">
            <span>Muchas Felicidades!</span>
          </div>
        </div>
        <div class="row mini-cards mb-5">
          <div class="col-12 col-md-3 mb-2">
            <div class="card mini-card">
              <div class="card-icon">
                  <i class="material-icons">
                    favorite
                  </i>
              </div>
              <div class="card-content">
                <label class="card-title">
                  Cantidad de regalos
                </label>
                <label class="card-info">
                  {{totalGifts}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-2">
            <div class="card mini-card">
              <div class="card-icon">
                  <i class="material-icons">
                    supervisor_account
                  </i>
              </div>
              <div class="card-content">
                <label class="card-title">
                  Cantidad de Invitados
                </label>
                <label class="card-info">
                  {{guests}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-2">
            <div class="card mini-card">
              <div class="card-icon">
                  <i class="material-icons">
                    favorite
                  </i>
              </div>
              <div class="card-content">
                <label class="card-title">
                  Invitados Confirmados
                </label>
                <label class="card-info">
                  {{confirmedGuests}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="card card-time shadow-sm">
                <div class="card-header  uniko-secondary text-dark m-0 p-1 text-center" style="font-weight: 600; font-size:12px;">
                  ¡PREPÁRENSE! YA FALTA POCO…
                </div>
                <div class="card-body p-2 m-0">
                  <div class="row p-0 m-0">
                    <div class="col-3 p-0 m-0 text-center">
                      <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">{{diffDate.days}}</h3>
                      <p class="p-0 m-0 mini-text">Días</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                      <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">{{diffDate.hours}}</h3>
                      <p class="p-0 m-0 mini-text">Horas</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                      <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">{{ diffDate.minutes }}</h3>
                      <p class="p-0 m-0 mini-text">Minutos</p>
                    </div>
                    <div class="col-3 p-0 m-0 text-center">
                      <h3 class="txt-uniko p-0 m-0" style="font-weight: 600;">{{ diffDate.seconds }}</h3>
                      <p class="p-0 m-0 mini-text">Segundos</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5">
        <app-gift-list></app-gift-list>
    </div>  
  </div>  
</div>
<div class="container-fluid" *ngIf="guestList && guestList.length > 0">
  <div class="row">
      <div class="col-12 dashboard-content  uniko-light">
        <div class="row justify-content-center m-0">
            <div class="col-12 col-sm-6 m-0 p-0">
              <!--<p class="m-0 p-0 mb-2 txt-uniko title-section text-center">Nuestros invitados</p>-->
              <h1 class="mb-5 bold text-center">Estos son nuestros últimos invitados</h1>
            </div>
        </div>
        <div class="row justify-content-center m-0">
          <div class="col-12 col-sm-6 m-0 p-0">
            <table class="table table-striped  uniko-white shadow-sm">
              <thead>
                <tr>
                  <th colspan="3" class="text-center"><span class="uppercase bold">nuestros invitados</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let guest of guestList">
                  <td>{{guest.name}} <span class="txt-secondary" *ngIf="guest.asistentesConfirm > 0">{{guest.asistentesConfirm}}</span></td>
                  <td class="txt-uniko">{{guest.email}}</td>
                  <td><i *ngIf="guest.notAsist" class="txt-uniko fas fa-check"></i></td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
  </div>
</div>