<div class="row m-0 justify-content-center">    
    <app-steps class="col-12 p-0" step="1" totalSteps="3"></app-steps>
</div>
<div class="row p-t-20 m-0 justify-content-center">
  <div class="col-12 show-mobile">      
      <div class="row">
          <div class="col-12 mobile-list pt-3 pb-3" *ngFor="let product of cart.products">
              <div class="mobile-actions">
                    <button (click)="cart.remove(product)" class="btn btn-uniko btn-md" type="button"><i class="fas fa-trash-alt removeItemCart"></i></button>
              </div>
                <div class="row" style="align-items: center;">
                    <div class="col-6">
                        <img [src]="product.image" alt="" class="img-thumbnail" style="max-width: 100%;">
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0" style="font-size:18px;">{{ product.name }}</p>
                        <p class="p-0 m-0 mb-2 txt-uniko" style="font-size: 10px; font-weight:700;" *ngIf="product.isMercadolibre">Mercadolibre</p>
                    </div>
                </div>
                <div class="row justify-content-around mb-4" style="align-items: center;">                    
                    <div class="col-auto">
                        <p class="p-0 m-0" style=" font-size:22px;">{{ formatPrice(product.price) | currency }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">           
                    <input type="hidden" step="1" max="" [value]="product.quantity" name="quantity" class="quantity-field">
                    <div class="col-auto">
                        <input (click)="cart.reduce(product)" type="button" value="-" class="button-minus" data-field="quantity">
                    </div>
                    <div class="col-auto txt-uniko" style="display: flex; align-items: center; font-size: 18px;">
                        {{product.quantity | number}}
                    </div>
                    <div class="col-auto">
                        <input (click)="cart.increment(product)" type="button" value="+" class="button-plus" data-field="quantity">
                    </div>
                </div>
          </div>
          <div class="col-12 mobile-list pt-3 pb-3">
              <div class="row justify-content-center" style="align-items: center;">
                <div class="col-auto" style="font-weight: 600;">
                    {{ 'total' | uppercase }}
                </div>
                <div class="col-auto" class="txt-uniko" style="font-weight: 600; font-size:18px;">
                    {{ cart.total | currency }}
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-12 col-lg-8 hidden-mobile">
      <table class="table hide-mobile">
          <thead>
              <tr>
                  <th scope="col">{{ 'artículo' | uppercase }}</th>
                  <th scope="col">{{ 'precio' | uppercase }}</th>
                  <th align="center" style="text-align: center;" scope="col">{{ 'cantidad' | uppercase }}</th>
                  <th scope="col">{{ 'total' | uppercase }}</th>
                  <th scope="col">{{ '' | uppercase }}</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of cart.products">
                  <td style="width:40%;">
                      <div class="row p-0 m-0">
                          <div class="col-3 m-0 p-0">
                              <img [src]="product.image" alt="" class="img-thumbnail">
                          </div>
                          <div class="col-8 m-0 ml-2 p-0">
                              <p class="p-0 m-0" style="font-size:18px;">{{ product.name }}</p>
                              <p class="p-0 m-0 mb-2 txt-uniko" style="font-size: 10px; font-weight:700;" *ngIf="product.isMercadolibre">Mercadolibre</p>
                              <!-- <p class="p-0 m-0" style="font-size:12px; font-weight:700;">Categoría</p>
                              <p class="p-0 m-0" style="font-size:14px;">Cocina</p> -->
                          </div>
                      </div>
                  </td>
                  <td style="width:20%;">
                      <p class="p-0 m-0" style="font-size:18px; font-weight:600;">{{ formatPrice(product.price) | currency }} {{ currency }}</p>
                  </td>
                  <td style="width:20%;" class="">
                      <div class="input-group col-centered">
                          <input (click)="cart.reduce(product)" type="button" value="-" class="button-minus qty-btn" data-field="quantity">
                          <input type="number" step="1" max="" [value]="product.quantity" name="quantity" class="quantity-field">
                          <input (click)="cart.increment(product)" type="button" value="+" class="button-plus qty-btn" data-field="quantity">
                      </div>
                  </td>
                  <td style="width:10%;">
                      <p class="p-0 m-0" style="font-size:18px; font-weight:600;">{{ formatPrice(product.price * product.quantity) | currency }}</p>
                  </td>
                  <td style="width:20%;">
                      <button (click)="cart.remove(product)" class="btn btn-uniko btn-md px-2 col-centered" style="width:120px; float:right;" type="button">Eliminar</button>
                  </td>
              </tr>
              <tr>
                  <td colspan="3" align="right" style="font-weight: 600;">
                      {{ 'total' | uppercase }}
                  </td>
                  <td colspan="2" align="left" class="txt-uniko" style="font-weight: 600; font-size:18px;">
                      {{ formatPrice(cart.total) | currency }} {{ currency }}
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-12 col-lg-6 text-center pt-4">
      <button class="btn btn-md px-2"  style="margin-top:70px; width:140px;" routerLink="/{{couple.url}}/gift-table" type="button">Regresar</button>
      <button *ngIf="getArtNum > 0" class="btn btn-uniko btn-md px-2" routerLink="/{{couple.url}}/checkout/message" style="margin-top:70px; width:140px;" type="button">Continuar</button>
  </div>
</div>