:host{
    .image-container{
        max-width: 148px;
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    .big{
        font-size: 1.4em;
    }
    .small{
        font-size: 0.8em;
    }
    .giant{
        font-size: 2.4em;
    }
    .bold{
        font-weight: 700;
    }
    .gray{
        color: #7b7b7b;
    } 
    .text-uniko{
        color: #fc7667
    }
    .uniko-secondary {
        background-color: #fda79e;
    }
    .uniko-tree {
        background-color: #fddfdc;
    }

    .table-uniko.table-striped tbody tr:nth-of-type(odd){
        background-color: #fddfdc;
    }
    .table-uniko.table{
        box-shadow: 1px 1px 1px #7b7b7b80, -1px -1px 1px #7b7b7b80
    }
    .fake-thead{
        box-shadow: 1px 0px 1px #7b7b7b80,-1px -1px 1px #7b7b7b80;
    }
    .table-uniko.table td, 
    .table-uniko.table th
    {
        border: none;
    }
    .sub-menu{
        position: absolute;
        top: calc(100% + 7px);
        display: none;
        right: -8px;
        background-color: white;
        border: 1px solid #7b7b7b;        
        border-radius: 3px;
        font-size: 0.8em;
        &.active{
            display: block;
        }
        ul{
            display: block;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                padding: 5px 8px;
                cursor: pointer;
                &:hover{
                    background-color: #7b7b7b;
                }
                &.active{
                    background-color: #333333;
                }
            }
        }
    }
    .relative{
        position: relative;
    }
    .btn.focus, 
    .btn:focus {
        outline: 0 !important;
        box-shadow: none !important;
        text-decoration: underline;
    }
}