<app-header menuKey="GUEST_CONFIRMATION" [buttons]="buttons"></app-header>
<div class="container" *ngIf="!viewList">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-6 text-center">
      <h3>Nuestros invitados</h3>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6 image-container">
      <img src="../../../assets/img/uniko-guests.png">
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6 info-container text-center">
      <p class="big gray">Es hora de comenzar a hacer la lista! Subanla para empezar a invitar a sus familiares y
        amigos.</p>
      <p class="small bold">Para poder ver la lista de invitados deberan descargar la plantilla que nosotros les
        brindamos, llenarla y luego subirla.</p>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-6 action-container">
      <div class="row justify-content-between">
        <button class="btn btn-uniko col-5" (click)="eventDownload($event)">Descarga y comienza</button> <button
          class="btn btn-uniko col-5" (click)="eventUpload($event)">Sube e invita</button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="viewList">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="row justify-content-center mt-5 mb-5">
        <div class="col-12 text-center">
          <h3>Nuestros invitados</h3>
        </div>
      </div>
      <div class="row justify-content-between mb-5">
        <div class="col-12 col-sm-6">
          <p>Total invitados <span class="ml-3 giant text-uniko bold">{{guests}}</span></p>
        </div>
        <div class="col-12 col-sm-6">
          <p>Total confirmados <span class="ml-3 giant text-uniko bold">{{confirmed}}</span></p>
        </div>
      </div>
      <div class='row'>
        <div class="col-12">
          <div class="row fake-thead m-0 p-2">
            <div class="col align-self-start p-0">
              <button class="small btn gray" [class.text-uniko]="checkAll" (click)="checkAll=true;">TODOS</button>
              <button class="small btn gray" [class.text-uniko]="!checkAll"
                (click)="checkAll=false;">CONFIRMADOS</button>
            </div>
            <div class="col align-self-end text-right p-0 relative">
              <button class="btn self-align-right" (click)="viewOrder = !viewOrder"><i class="fas fa-sliders-h"></i>
                Ordenar por</button>
              <div class="sub-menu" [class.active]="viewOrder">
                <ul>
                  <li (click)="setPreviewOrder(1); viewOrder=false;" [class.selected]="currentOrder==1">RECIEN
                    CONFIRMADOS</li>
                  <li (click)="setPreviewOrder(2); viewOrder=false;" [class.selected]="currentOrder==2">CANTIDAD DE
                    ASISTENTES</li>
                  <li (click)="setPreviewOrder(3); viewOrder=false;" [class.selected]="currentOrder==3">NOMBRE A-Z</li>
                </ul>
              </div>
            </div>
          </div>
          <table class="table table-striped table-uniko">
            <tbody>
              <tr *ngFor="let item of guestList" [hidden]="(!checkAll && !item.asistentesConfirm)">
                <td class="bold">{{item.name}}</td>
                <td class="small text-uniko"><b>{{item.asistentes}}</b> Asistentes</td>
                <td class="small" *ngIf="!item.notAsist">
                  {{getAssistants(item)?item.asistentesConfirm+' Confirmados':''}}</td>
                <td class="small" *ngIf="item.notAsist">No Asistirán</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<button id="downloadTemplate" (click)="getTemplate()" hidden></button>
<button id="downloadList" (click)="getConfirmations()" hidden></button>
<input id="uploadList" type="file" #uploadList (change)="setList($event)" style="display: none;">