<form [formGroup]="registerForm">
    <div class="row m-0">
        <div class="col-md-2 hidden-mobile">
          &nbsp;
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              <label for="" class="label-control title-label">
                Información de usuario
              </label>
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Nombre
              </label>
              <input maxlength="30" [class.submit]="submit" noDigits pattern="[^0-9]*" formControlName="name" type="text" class="form-control">
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Correo electrónico
              </label>
              <input maxlength="50" [class.submit]="submit" formControlName="email" type="email" class="form-control" email>
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Confirmar correo
              </label>
              <input maxlength="50" [class.submit]="submit" formControlName="confirmEmail" type="email" class="form-control" email>
            </div>
          </div>
          <div class="row p-t-10">
            <div class="col-12">
              <label for="" class="label-control">
                Teléfono
              </label>
              <input [class.submit]="submit" formControlName="phone" digitOnly type="phone" pattern="[0-9]*" maxlength="10" minlength="8" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-12">
                <label for="" class="label-control title-label">
                  Información de tarjeta
                </label>
              </div>
            </div>
            <div class="row p-t-10">
              <div class="col-12">
                <label for="" class="label-control">
                  Número de tarjeta
                </label>
                <input (keyup)="validCard()" [maxlength]="type.card" digitOnly [minlength]="type.card" pattern="[0-9]*" [class.submit]="submit" formControlName="numberCard" type="text" class="form-control">
              </div>
            </div>
            <div class="row p-t-10">
              <div class="col-12 col-md-6">
                <label for="" class="label-control">
                  país
                </label>
                <select class="form-control" [class.submit]="submit" formControlName="country">
                    <option *ngFor="let _country of countries" [value]="_country.phone">{{ _country.name }}</option>
                </select>
              </div>
              <div class="col-12 col-md-6">
                  <label for="" class="label-control">
                    Ciudad
                </label>
                <input [class.submit]="submit" formControlName="city" type="text" class="form-control">
              </div>
            </div>
            <div class="row p-t-10">
              <div class="col-6 col-md-8">
                  <label for="" class="label-control">
                          Fecha vencimiento
                  </label>
                <div class="row">
                  <div class="col-6">
                     <select [class.submit]="submit" formControlName="month" class="form-control" name="" id="">
                       <option value="">Seleccione mes</option>
                       <option [value]="_month" *ngFor="let _month of months">{{ _month }}</option>
                     </select>
                  </div>
                  <div class="col-6">
                      <select [class.submit]="submit" formControlName="year" class="form-control" name="" id="">
                        <option value="">Seleccione año</option>
                        <option [value]="_year" *ngFor="let _year of years">{{ _year }}</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                  <label for="" class="label-control">
                      cvc
                  </label>
                <div class="row">
                  <div class="col-12">
                      <input [maxlength]="type.cvc" digitOnly [minlength]="type.cvc" pattern="[0-9]*" [class.submit]="submit" formControlName="cvc" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row p-t-10">
              <div class="col-12">
                <label for="" class="label-control">
                  Diferir a meses
                </label>
                <select class="form-control" (change)="getCommision()" [class.submit]="submit" formControlName="msi">
                    <option value="1">Diferir a meses</option>
                    <option *ngFor="let _month of monthsMSI" [value]="_month.msi">{{ _month.msi }} meses - {{ _month.label | currency }}</option>
                </select>
              </div>
            </div> -->
          </div>
      </div>
      <div class="row m-0">
          <div class="col-md-3 hidden-mobile">
              &nbsp;
            </div>
            <div class="col-12 col-md-6 text-center">
                <button disabled class="btn btn-md px-2"  style="margin-top:70px; width:140px;" type="button">Regresar</button>
                <button class="btn btn-uniko btn-md px-2" (click)="save()" style="margin-top:70px; width:140px;" type="button">Realizar pago</button>
            </div>
      </div>
</form>