.m-content-10 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.p-content {
    padding: 15px;
}

.font-w {
    font-weight: 600;
    font-size: 13px;
    &:hover {
        color: white;
    }
    .material-icons{
        font-size: 11px;
    }
}

.txtBtns {
    color: #ffffff;
    font-weight: 200;
    font-size: 13px;
    line-height: 23px;
}

.containerPrincipal {
    width: 980px;
}
.menu-action-mobile {
    display: none;
    @media screen and (max-width: 500px) {
    position: fixed;
    float: left;
    display: initial;
    bottom: 0px;
    background: #FC7667;
    height: 50px;
    line-height: 50px;
    width: 100%;
    z-index: 100;
    padding-bottom: 10px;
        .button-mobile {
            float: left;
            text-align: center;
            color: white;
            font-size: 8pt;
            // padding-top: 9px;
            &.cols-5 {
                width: 20%;
            }
            &.cols-4 {
                width: 25%;
            }
            &.cols-3 {
                width: 33.3%;
            }
            &.cols-2 {
                width: 50%;
            }
            &.cols-1 {
                width: 100%;
            }
            .material-icons{
                font-size: 11px;
            }
        }
    }
}
.tituloArticulo {
    font-size: 26px;
    font-weight: 200;
    color: #444444;
    margin-bottom: 0px;
}

.editarArt {
    background-color: #f2aba1;
    padding: 7px;
    color: #333333;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.borrarArt {
    background-color: #ed7d6d;
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    border-radius: 0px;
    cursor: pointer;
}

.cardArticulo-Precio {
    font-size: .9rem !important;
    font-weight: 100;
    margin-bottom: 20px !important;
}

.colorUniko {
    color: #fc7667 !important;
}

.precioArticulo {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.select_box {
    width: 100px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #cccccc;
    position: relative;
    line-height: 31px;
    border-radius: 4px;
}

.select_box:after {
    width: 10px;
    height: 10px;
    color: #fc7667;
    position: absolute;
    top: 35%;
    right: 10px;
    content: "";
    background-image: url('./../../../assets/img/arrow.png');
    background-position: center center;
    background-size: 100%;
}

.select_box select {
    width: 110px;
    height: 30px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    color: #aaaaaa;
}

.navbar-link {
    font-size: 10pt;
    font-weight: 100;
}

.btn-uniko {
    color: #fff !important;
    background-color: #fc7667 !important;
    border-color: #fc7667 !important;
}

.iconoBorrar {
    position: absolute;
    width: 31px;
    margin-left: 110px;
    margin-top: 110px;
    background-color: #FFFFFF;
    padding-top: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #fc7667;
    cursor: pointer;
    height: 31px;
    text-align: center;
}

.iconoAgregar {
    position: absolute;
    margin-left: 110px;
    margin-top: 110px;
    background-color: #fc7667;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #999999;
    color: #FFFFFF;
    cursor: pointer;
}