<div class="containerPrincipal container mt-3 mb-4" *ngIf="loaded">
    <div class="row">
        <div class="col-12 mb-4">
            <a *ngIf="couple" class="navbar-link" routerLink="/{{couple.url}}/gift-table">
                <i class="fas fa-angle-left"></i> {{ 'Ir a Mesa de Regalos' }}
            </a>
        </div>
        <div class="col-12 col-md-6">
            <div class="row align-items-center">
                <img [src]="articulo.image" class="cardArticulo-img-top card-img-top rounded-0" alt="..."
                    *ngIf="articulo.image">
                <img [src]="'./../../assets/img/uniko.png'" class="cardArticulo-img-top card-img-top rounded-0"
                    alt="..." *ngIf="!articulo.image">
            </div>
            <div class="row align-items-center">
                <img *ngFor="let imagenArt of articulo.imagesList" [src]="imagenArt" (click)="obtenURL(imagenArt)"
                    class="card-img-top mt-3 mr-3 rounded-0" style="width:75px; cursor:pointer;" alt="...">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <form>
                <div class="card border-0">
                    <div class="card-body p-0">
                        <p class="tituloArticulo align-bottom">
                            {{ articulo.name }}
                        </p>
                        <p class="align-middle" style="margin-bottom:10px !important;">
                            <small class="font-weight-bold colorUniko">{{ getStoreName(articulo.storeId) }}</small>
                        </p>
                        <p class="cardArticulo-Precio">
                            <small class="precioArticulo font-weight-bold">{{ formatPrice | currency }} {{ currency }}
                            </small>
                        </p>
                        <p class="align-middle" style="margin-bottom: 0px !important;">
                            <small class="font-weight-bold">Descripción</small>
                        </p>
                        <p class="mb-3">
                            {{ articulo.description }}
                        </p>
                        <p class="align-middle" style="margin-bottom: 0px !important;">
                            <small class="font-weight-bold">Categoría</small>
                        </p>
                        <div class="mb-3">
                            <p class="mb-0" *ngFor="let categoria of articulo.categoriesIds">
                                {{ getCatName(categoria) }}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="form-group col">
                                <div class="row align-items-end">
                                    <div class="col-6 col-md-8">
                                        <button class="btn btn-uniko w-100" (click)="add(articulo)"><i
                                                style="font-size: 1em;"
                                                class="material-icons gift-this">shopping_basket</i> Regalar</button>
                                    </div>
                                    <!--<div class="col-6 col-md-4">
                                        <label for="">Cantidad</label>
                                        <select [(ngModel)]="quantity" class="form-control" name="quantity">
                                            <option [ngValue]="1">1</option>
                                            <option [ngValue]="2">2</option>
                                            <option [ngValue]="3">3</option>
                                            <option [ngValue]="4">4</option>
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="6">6</option>
                                            <option [ngValue]="7">7</option>
                                            <option [ngValue]="8">8</option>
                                            <option [ngValue]="9">9</option>
                                        </select>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>