/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
html,
body {
    font-family: 'Montserrat', sans-serif !important;
    height: 100%;
    width: 100%;
}

.txt-light{
    color: #FFFFFF;
}

.lowercase{
    text-transform: lowercase;
}

.uppercase{
    text-transform: uppercase;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
}
.btn.btn-outline-uniko{    
    color: #212529;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    &:not(:disabled):hover{
        color: #fff;
        background-color: #fc7667;
    }
    &:disabled{
        cursor: not-allowed;
    }
}

.btn.btn-reversed-uniko{
    color: #fc7667;
    background-color: #FFF;
    border: 1px solid #fc7667;
}

.img-responsive{
    max-width: 100%;
}

.uniko-off {
    background-color: #b4b4b4
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#fc7667;
  background-color:#fc7667;
}

.check-uniko .mat-checkbox-background {
    border-color: #fc7667; 
}

mat-checkbox.check-uniko {
    &.mat-checkbox-checked .mat-checkbox-background {
        background: #fc7667;
    }
    .mat-checkbox-frame{
       border-color: #fc7667;
    }    
}

mat-slider.uniko-slider{
    .mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill{
        background-color: #fc7667;
    }
}

.pseudo-dropdown{
    overflow: hidden;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#fc7667; 
  }

.txt-uniko {
    color: #fc7667;
}

.txt-info{
    color: #bfbfbf;
}
iframe#launcher {
    bottom: 45px !important;
}
.image-width {
    img {
        width: 100%;
    }
    video {
        max-width: 100%;
    }
}

.bg-uniko {
    background-color: #fc7667;
    a,
    h1,
    h2,
    h3 {
        color: #fff;
    }
}

input,
select {
    font-family: 'Montserrat', sans-serif !important;
}

label {
    font-family: 'Montserrat', sans-serif !important;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif !important;
}

.btn-uniko {
    color: #fff !important;
    background-color: #fc7667 !important;
    border-color: #fc7667 !important;
}

.bg-unikoClaro {
    color: #555555 !important;
    background-color: #FDA79E !important;
    border-color: #FDA79E !important;
}

.bg-uniko-light{
    background-color: #fef2f1;
}

.label-control {
    margin-bottom: 0px;
    font-size: 10pt;
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.form-control::placeholder {
    color: #bfbfbf !important;
    font-size: 10pt;
}

.submit {
    &.ng-invalid{
        border: 1px solid red;
    }
}

.hidden-mobile {
    display: initial;
}

.show-mobile {
    display: none;
}

.hidden-tablet{
    display: initial;
}

@media screen and (max-width: 500px) {
    .mobile-fluid {
        padding: 0px !important;
        margin: 5px !important;
    }
    .mobile-p-0 {
        padding: 0px !important;
    }
    .form-control {
        height: 50px !important;
        &::placeholder {
            color: #bfbfbf !important;
            font-size: 14pt;
        }
    }
    .btn.btn-uniko {
        color: #fff !important;
        background-color: #fc7667 !important;
        border-color: #fc7667 !important;
        font-weight: 700 !important;
        //height: 35px;
        font-size: 12px;
    }
    .hidden-mobile {
        display: none !important;
    }
    .show-mobile {
        display: initial;
    }
}

@media screen and (max-width: 768px) {
    .hidden-tablet{
        display: none !important;
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #fc7667;
}

.ng5-slider.slider-uniko{
    .ng5-slider-inner-tooltip,
    .ng5-slider-bubble{
        font-size: 11px;
        color: #fc7667;
    }
    .ng5-slider-bar{
        background: #e9ecef;
    }
    .ng5-slider-pointer{
        cursor: pointer;
        background-color: transparent; 
        z-index: 3;
        border-radius: 50%;
        &:hover,&:focus{
            outline: none;
            background-color: initial;
            &:after{
                background-color: #fc7667;
            }
        }
        &:after{
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            background-color: #fc7667;            
        }
    }
    &[disabled]{
        .ng5-slider-bubble,
        .ng5-slider-inner-tooltip{
            color: #bfbfbf;
        }
        .ng5-slider-pointer{
            background-color: #e9ecef;
            &:after{
                background-color: #bfbfbf;
            }
        }
    } 
}

input,select,textarea{
    &.ng-touched.ng-invalid{
        box-shadow: 1px 1px 4px #fc7667, 1px -1px 4px #fc7667;
        border: 1px solid red;
    }
}

.template{
    .main-container{
        background-color: #000;
        .content-image {
            text-align: center;
            height: 450px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.7;
            @media screen and (max-width: 500px){
                background-size: cover;
                height: 280px;
            }
        }
        .event-title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            text-align: center;
            @media screen and (max-width: 500px) {
                padding: 8px;
                max-height: 100%;
            }

            .grettings{
                letter-spacing: 5px;
                font-size: 12px;
            }
            .title{
                font-weight: 700;
                font-size: 3.5rem;
                text-transform: capitalize;
                margin-top: 20pt;
                margin-bottom: 20pt;
                @media screen and (max-width: 500px) {
                    font-size: 1.5rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }

            }
            .date{
                letter-spacing: 10px;
            }
        }
    }
    .history-container{
        .history{
            .primary-history{
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .secondary-history{
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                .where{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: left;
                }
                .when{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: right;
                }
            }
            .primary-divider{
                display: none;            
            }        
        }
    }
    .site-supersection{
        &:not([class$="-exclusive"]){
            background-color: #FEF2F1;
        }
    }
    .section-shadow{
        box-shadow: inset 0 8px 6px -6px #cccccc;
    }
    .site-section{
        position: relative;        
        .content-buttons{
            position: absolute;
            margin: 0 -15px;
            width: 100%;
            top: 0;
            text-align: center;
            z-index: 5;
            top: 0;
            .btn-uniko-sm {
                width: 25px;
                border-radius: 0px;
                padding: 0px;
                margin: 0px;
                height: 25px;
                cursor: pointer;
                i {
                    font-size: 13pt;
                    padding: 0px;
                    margin: 0px;
                    padding-top: 3px;
                }
                &.uniko-primary {
                    background-color: #fc7667;
                    color: #FEF2F1;
                }
                &.uniko-secondary {
                    background-color: #fda79e;
                    color: #333333;
                }
                &.uniko-tree {
                    background-color: #fddfdc;
                    color: #333333;
                }
                &.uniko-off {
                    background-color: #e9ecef;
                    color: #b4b4b4;
                }
            }
        }
    }
    .template-ornament{
        display: none;
        &.gold-ornament{
            fill: #3A495E;
        }
        &.cake-ornament{
            fill: #FFF5ED;
            filter: drop-shadow(-2px 4px 2px #ccc);
        }
        &.flip-shadow{
            filter: drop-shadow(0px -2px 2px #ccc);
        }
    }
    .t-rounded{
        border-radius: 4px; 
    }
    .t-shadow{
        box-shadow:0px 0px 10px #DADADA;
    }
    //COLOOOOOORSSSS
    &.template-colors{
        .t-primary{
            color: #fc7667;
        }
        .t-secondary{
            color: #fc7667;
        }
        .t-tertiary{
            color: #FDA79E;
        }
        .t-base{
            color: #212529;
        }
        .t-light{
            color: #FFFFFF;
        }
        .tb-primary{
            background-color: #fc7667;
        }
        .tb-secondary{
            background-color: #fc7667;
        }
        .tb-tertiary{
            background-color: #FDA79E;
        }
        .tb-light{
            background-color: #FEF2F1;
        }
        .tb-base{
            background-color: transparent;
        }
    }
    &.theme_gold{
        .main-container{
            //background-color: black;
            .content-image{
                opacity: 0.6;
            }
            .event-title{
                color: #FFFFFF;       
                font-weight: 700;
                .grettings{
                    font-size: 2.5rem; 
                    @media screen and (max-width: 500px) {
                        font-size: 1.5rem;
                    }                   
                }
                .title{
                    font-size: 1.9rem;
                    color: #D5A769;
                    margin: 5px 0;
                    @media screen and (max-width: 500px) {
                        font-size: 1.3rem;
                    }
                }
                .date{
                    margin-top: 1rem;
                    font-weight: 600 !important;
                }
            }
        }
        .history-container{
            .history{
                display: flex;
                align-items: center;
                .primary-history{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: left;
                }
                .secondary-history{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: left;
                    .where{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .when{
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: left;
                    }
                }
                .primary-divider{
                    display: block;
                    flex: 0 0 10%;
                    max-width: 10%;            
                }        
                .secondary-divider{                    
                    display: none;
                }
            }
        }
        .template-ornament.gold-ornament{
            display: block !important;
        }
        .site-section{
            //nothin 
        }
        .card{
            border: none;
        }
        .site-supersection{        
            background-color: #3A495E;    
        }
        .section-shadow{
            box-shadow: inset 0 8px 6px -6px #00000032;
        }
        .t-shadow{
            box-shadow: none;
        }
        &.template-colors{
            .t-primary,.t-tertiary{
                color: #D5A769;
            }
            .t-secondary{
                color: #3A495E;
            }            
            .tb-light{
                color: #FFFFFF;
            }
            .tb-primary{
                background-color: #3A495E;
            }
            .tb-secondary,.tb-tertiary{
                background-color: #D5A769;
            }
            .tb-light{
                background-color: #D5A769;
            }     
            .site-supersection{
                .t-base{
                    color: #ffffff;
                }
            }
            .list-group-item2{
                border-bottom-color: #D5A769;
            }
        }
    }
    &.theme_cake{
        .main-container{
            background-color: transparent;
            .content-image{
                opacity: 1;
            }
            .event-title{
                left: 0;
                transform: translate(0, -50%);
                text-align: left;
                margin: 0 3em;
                color: #212529;
                @media screen and (max-width: 500px) {
                    top: 0;
                    left: 0;
                    transform: translate(0,0);
                    padding: 8px;
                    margin: 0 1.5em;
                }
                .grettings{
                    font-weight: 700;
                    margin-bottom: 0;
                }
                .title{
                    color: #D06C7F;
                    margin: 5px 0;           
                }
                .date{
                    letter-spacing: 10px;
                }
            }
        }
        .history-container{
            .history{
                display: flex;
                align-items: center;
                h1.t-base{
                    color: #D06C7F;
                }
                .primary-history{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: left;
                }
                .secondary-history{
                    flex: 0 0 45%;
                    max-width: 45%;
                    text-align: left;
                    .where{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .when{
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: left;
                    }
                }
                .primary-divider{
                    display: block;
                    flex: 0 0 10%;
                    max-width: 10%;            
                }        
                .secondary-divider{                    
                    display: none;
                }
            }
        }
        .template-ornament.cake-ornament{
            display: block !important;
        }
        .site-section{
            
        }
        .card{
            border: none;
        }
        .site-supersection{        
            background-color: initial;
            .site-section{
                background-color: #FFF4EB;    
            }
        }
        .section-shadow{
            box-shadow: inset 0 8px 6px -6px #00000032;
        }        
        &.template-colors{
            .t-primary,.t-secondary{
                color: #D06C7F;
            }
            .t-tertiary{
                color: #D5A769;
            }            
            .tb-light{
                color: #FFFFFF;
            }
            .tb-primary,.tb-secondary, .tb-tertiary{
                background-color: #D5A769;
            }
            .tb-light{
                background-color: #ffffff;
                color: #212529;
            }     
            .site-supersection{
                .t-base{
                    color: #212529;
                }
            }
        }
    }
}