<div class="container-fluid mobile-fluid">
        <form [formGroup]="recoveryForm" (ngSubmit)="recovery()">
                <div class="row m-0">
                        <div class="col-12 mobile-p-0 p-t-3m">
                            <div class="row overflow-auto w-100 m-0">
                                <div class="col-12 contenedorUnikoAgradece">
                                    <div class="col-12 py-3 px-1">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 p-0 m-0 mb-5">
                                                <p class="p-0 m-0" style="text-align:center; font-weight:700; font-size:18px;">Recuperar contraseña</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-2 col-lg-3">&nbsp;</div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-group">
                                                    <label class="label-control">Email</label>
                                                    <input [class.submit]="submitted" formControlName="email" type="email" class="form-control" placeholder="ejemplo@uniko.com.mx">
                                                </div>
                                            </div>
                                            <div class="col-2 col-lg-3">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                                <div class="col-2 col-lg-3 mobil-hidden">&nbsp;</div>
                                                <div class="col-8 col-lg-6 col-centered mt-3 mb-3">
                                                    <button class="btn btn-uniko btn-block" type="submit">Enviar</button>
                                                </div>
                                                <div class="col-2 col-lg-3 mobil-hidden">&nbsp;</div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-text-info">
                                    <div class="info">
                                            ¿Fue una falsa alarma y ya recordaron?
                                    </div>
                                </div>
                                <div class="col-12 col-centered">
                                    <div class="col-12  m-0 col-centered">
                                        <p class="text-center">
                                            <a href="#" [routerLink]="['/onboarding', 'login']" class="p-0 m-0 text-danger register" >Ingresa aquí</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </form>
    </div>