<div class="row m-0 p-0">
    <div class="col-12 shadow-sm p-0 bg-white rounded mb-3">
      <div class="row p-0 m-0">
          <div class="col-2">
              <a class="navbar-link return" style="font-size:.8rem;" href="" routerLinkActive="active" routerLink="/profile/datos-generales">
                <i class="fas fa-angle-left"></i> 
              </a>
          </div>
          <div class="col-8">
              <h6 style="text-align:center; font-size:18px; margin:0px; padding:15px;">Plan Uniko</h6>
          </div>
      </div>
        
    </div>
</div>
<div class="row m-0">
  <div class="col-2 hidden-mobile">&nbsp;</div>
  <div class="col-12 col-md-8">
      <div class="col-centered" [hidden]="false">
          <div class="row m-0">
              <div class="col-12 containerPrincipal container mt-3 mb-0">
                  <div class="row col-centered">
                      <div class="col-12" style="height:25px;">
                          <div class="containerSteps col-centered">
                              <ul class="progressbar" style="margin-left: -40px;">
                                  <li class="active" routerLink="/pago/confirmacion" routerLinkActive="done"></li>
                                  <li class="active2" routerLink="/pago/felicidades" routerLinkActive="done"></li>
                                  <li class="active2"></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>