.containerSteps {
    width: 150px;
    margin-top: 100px;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.progressbar li:before {
    /* CSS for creating steper block before the li item*/
    //content: counter(step);
    //counter-increment: step;
    content: '';
    height: 12px;
    width: 12px;
    line-height: 12px;
    border: 2px solid #ffcfca;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    /* CSS for creating horizontal line*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 5px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #fc7667;
}

.progressbar li.active:before {
    border-color: #fc7667;
    background-color: #FFFFFF;
}

.progressbar li.active+li:after {
    background-color: #ffcfca;
}

.progressbar li.active2 {
    color: #ffcfca;
}

.progressbar li.active2:before {
    border-color: #ffcfca;
    background-color: #FFFFFF;
}

.progressbar li.active2+li:after {
    background-color: #ffcfca;
}

.progressbar li.done {
    color: #fc7667;
}
.return {
    font-size: .8rem;
    width: 30px;
    text-align: center;
    padding-top: 20px;
    display: block;
}
.progressbar li.done:before {
    content: url('./../../assets/img/ok.png');
    background-size: 5px 5px;
    border-color: #fc7667;
    background-color: #fc7667;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-top: -6px;
}

.progressbar li.done+li:after {
    background-color: #fc7667;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-uniko {
    color: #fff;
    background-color: #fc7667;
    border-color: #fc7667;
    padding: 7px 30px;
}

.title1 {
    font-weight: 600;
}

.title2 {
    font-weight: 400;
}

::ng-deep {
    .cdk-overlay-container {
        z-index: 99999999 !important;
    }
    .mat-dialog-container {
        padding: 0px !important;
    }
    .mat-input-element {
        caret-color: #fc7667 !important;
    }
    .mat-form-field-underline {
        /*change color of underline*/
        background-color: #333333 !important;
    }
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: #fc7667 !important;
    }
    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #fc7667 !important;
        ;
    }
}