:host {
    ul.sharing-ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: left;
        li{
            list-style: none;
            color: #5791fc;
            font-size: 11pt;
            cursor: pointer;
            i{
                font-size: 14pt;
                width: 30px;
            }
        }
    }
    .domain-share-container{
        max-width: 450px;
        position: relative;
        .dialog-close{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 1;
        }
    }
}