:host {
    .title-label {
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        color: #fc7667;
    }
    .p-t-10 {
        padding-top: 10px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.rppcr.payment-method-content {
	align-items: center;
	background-color: #F5F6F6;
	border-radius: 16px;
	display: flex;
	margin-bottom: 15px;
	padding: 25px;
}

.rppcr .rppcr-description .rppcr-description-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
  font-size: 10pt;
}

.rppcr .rppcr-description .rppcr-description-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.rppcr .rppcr-description .rppcr-description-col {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 767.98px) {
	.rppcr .rppcr-description .rppcr-description-col {
		flex: 1 auto;
	}
}

.rppcr .rppcr-description .rppcr-description-col .rppcr-col-content {
	display: block;
}

.rppcr .rppcr-description .rppcr-description-col .rppcr-col-content img {
	display: inline-block;
	width: 190px;
}

@media (max-width: 767.98px) {
	.rppcr .rppcr-description .rppcr-description-col .rppcr-col-content img {
		float: initial;
		display: block;
		margin: 0 auto;
		width: 290px;
	}

	.rppcr .rppcr-description .rppcr-description-steps .rppcr-description-row > .rppcr-description-col:nth-child(2) img {
		width: 160px !important;
	}
}

.rppcr .rppcr-description .rppcr-description-col .rppcr-col-content p {
	display: inline-block;
	padding-left: 5px;
	vertical-align: top;
	width: 17.6vw;
  font-size: 10pt;
}

@media (max-width: 767.98px) {
	.rppcr .rppcr-description .rppcr-description-col .rppcr-col-content p {
		clear: both;
		display: block;
		padding-top: 15px;
		width: 100%;
	}
  .hidden-mobile {
    display: none;
  }
}

@media (max-width: 767.98px) {
	.rppcr .rppcr-description .rppcr-description-methods .rppcr-description-col {
		margin-bottom: 25px;
	}

	.rppcr .rppcr-description .rppcr-description-methods .rppcr-description-col:nth-child(2) .rppcr-description-text span {
		display: none;
	}
}

.actions-toolbar {
  width: 100%;
}

.rppcr-pill {
	border-radius: 16px;
	font-size: 10pt;
	padding: 2px 10px;
}

}
