<div class="row m-0">
  <div class="col-md-2 hidden-mobile">
    &nbsp;
  </div>
  <div class="col-12 col-md-10">
    <div class="row">
      <div class="col-12">
        <label for="" class="label-control title-label">
          Información
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-2 hidden-mobile">
    &nbsp;
  </div>
  <div class="col-12 col-md-10">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="payment-method-content rppcr">
          <div class="actions-toolbar">
            <div class="rppcr-description">
              <p class="rppcr-description-text">Paga en un clic de forma rápida y segura a través de la aplicación de
                Rappi utilizando tu medio de pago favorito.</p>
              <div class="rppcr-description-row rppcr-description-steps">

                <div class="rppcr-description-col">

                  <div class="rppcr-description-row">

                    <div class="rppcr-description-col hidden-mobile">
                      <div class="rppcr-col-content">
                        <img src="./../../assets/img/rappi/rappipay-step-1.png" alt="Recibe una notificación">
                        <p><strong>Recibe una notificación</strong> ingresando tu número celular o <strong>escanea el
                            código QR</strong> con la cámara del celular.</p>
                      </div>
                    </div>

                    <div class="rppcr-description-col" style="align-items: center">
                      <div class="rppcr-col-content">
                        <img src="./../../assets/img/rappi/rappipay-step-2.png" alt="Termina tu pago desde el celular"
                          style="width: 100px;">
                        <p>Termina tu pago desde el <strong>app de Rappi</strong></p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <hr>

              <div class="rppcr-description-row rppcr-description-methods">
                <div class="rppcr-description-col">
                  <p class="rppcr-description-text">Tarjetas de crédito</p>
                  <img src="./../../assets/img/rappi/credito-mx.png" alt="Tarjetas de crédito" style="width: 160px;">
                </div>

                <div class="rppcr-description-col">
                  <p class="rppcr-description-text">Tarjetas de débito (con CVV) <br /><span>&nbsp;</span></p>
                  <img src="./../../assets/img/rappi/debito-mx.png" alt="Tarjetas de débito" style="width: 110px;">
                </div>

                <div class="rppcr-description-col">
                  <p class="rppcr-description-text">Rappi Pay <br /><span class="rppcr-pill"
                      style="background-color: #913CFF; color: #fff">3% de cashback con tu RappiCard</span></p>
                  <img src="./../../assets/img/rappi/rappipay-mx.png" alt="RappiPay" style="width: 104px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <button class="pr pr-md pr-mx" style="margin-top:15px;  border: none;" (click)="save()" type="button"></button>
      </div>
    </div>
  </div>