.sombraFoto {
    box-shadow: 0px 0px 10px #999999;
    cursor: pointer;
    &:not(.disabled){
        box-shadow: -1px -1px 10px #fc7667 , 1px 1px 10px #fc7667;
    }
}

p,h1,h2,h3,h4,h5,span,label{
    cursor: default;
}

.header-text {
    width:100%; 
    background-color: #fc7667; 
    color: #ffffff;
    height: 350px;
    line-height: 350px;
    .title-text {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        width: 100%;
        .h1 {
            text-align: center;
            font-weight: 600;
            font-size: 10pt;
            padding: 15px;
        }
        .h2 {
            font-weight: 700; 
            text-align: center; 
            vertical-align: middle;
            font-size: 34pt;
            @media screen and (max-width: 500px) {
                font-size: 20pt;
            }
        }
    }
}
.card{
    &:not(:hover){
        opacity: 0.5;
    }
    border-color: transparent;
    img{
        cursor: pointer;
    }    
    &.theme-active{
        border-color: #FDA79E;
        opacity: 1;
    }
}
.m-text {
    @media screen and (max-width: 500px) {
        font-size: 16pt;
    }
}