<app-header menuKey="QUESTIONS" [buttons]="buttons"></app-header>
<br>
<div class="container">
    <div class="row m-t-50 ">
        <div class="col-md-12 mb-12">
            <label for="" class="text-subtitle">
                ¿Tienes dudas?
            </label>
        </div>
        <div class="col-md-12">
            <label for="" class="text-title">
                Resolvemos tus dudas respecto a nuestra boda
            </label>
        </div>
    </div>
    <div class="row m-t-20">
        <app-preg-publicas class="col-12" [faqs]="faqsPublics" *ngIf="isPublic"></app-preg-publicas>
    </div>
</div>
<app-modal [(isOpen)]="isOpen" (onClosed)="closeModal()" (onAction)="save()" textButton="Publicar">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="dataForm">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group text-left">
                                    <label class="label-control">Escribe tu pregunta</label>
                                    <textarea class="form-control h-mobile" rows="10" formControlName="question">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
</app-modal>