<form [formGroup]="planForm" *ngIf="!pending">
  <div class="row p-t-10">
    <div class="col-6 col-sm-6">
      <label for="" class="label-control">
        Email
      </label>
      <input maxlength="40" [class.submit]="submit" formControlName="email" type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6">
      <label for="" class="label-control">
        Teléfono
      </label>
      <input maxlength="10" [class.submit]="submit" formControlName="phone" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="" class="label-control">
        Nombre
      </label>
      <input maxlength="200" [class.submit]="submit" formControlName="name" type="text" class="form-control">
    </div>
  </div>
  <div class="row p-5">
    <div class="col-12 col-md-2 m-t-10">
        <button class="btn btn-uniko btn-md px-2 col-centered" (click)="payment()" type="button">Pagar</button>
    </div>
  </div>
</form>



<div class="row" *ngIf="pending">
  <div class="col-md-6 col-12 text-center text-md-left">
      <div class="row">
          <div class="col-12 info-label">
              Método
          </div>
          <div class="col-12 info-resp-label">
              Oxxo Pay
          </div>
          <div class="col-12 info-label">
              Referencia
          </div>
          <div class="col-12 info-resp-label">
              {{ charge.payment_method.reference }}
          </div>
          <div class="col-12 info-resp-label">
              <img width="100" src="{{ charge.payment_method.barcode_url }}" alt="">
          </div>
          <div class="col-12 pt-5">
                  <button  class="btn btn-uniko btn-md px-2 col-centered" onclick="window.print();" type="button">Imprimir</button>
          </div>
      </div>
  </div>
</div>